﻿<table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="720" height="26" colspan="4" align="right" valign="middle">
            <a href="http://www.motulteam.com/" target="_blank"
                style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif; text-decoration: none;">Üye Merkezi</a>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="http://www.motulteam.com/imagesgld/mail/sifreolustur/ara2.gif" width="720"
                 height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="10" height="63">&nbsp;
            
        </td>
        <td rowspan="2">
            <a href="http://www.motulteam.com" target="_blank" title="Gold">
                <img src="http://www.motulteam.com/imagesgld/mail/sifreolustur/logo.png" width="132"
                     height="63" alt="menü" style="border: none;" />
            </a>
        </td>
        <td width="578" height="22" colspan="2" align="right" valign="middle">
            <p style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif;">
                <!--Bizi takip edin-->
                </p>
        </td>
    </tr>
    <tr>
        <td width="449" height="41">&nbsp;
            
        </td>
        <td>
            <!--<img src="http://www.motulteam.com/imagesgld/mail/sifreolustur/social.jpg" alt="Sosyal Medya"
                width="129" height="41" usemap="#Map" border="0" />-->
        </td>
    </tr>
    <tr>
        <td colspan="4" align="left" valign="top">
            <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="345">
                        <p style="color: #5d5c5c; font-size: 16px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px; display: block; margin-top: 30px;">
                            Değerli Acentemiz,<strong style="color: #5d5c5c; font-size: 18px; font-family: Arial,Helvetica,sans-serif;"></strong></p>
                        <p style="color: #5d5c5c; font-size: 13px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px;">
                            Bu mail size motulteam.com'dan talebiniz üzerine gönderilmiştir. Aşağıdaki linke tıklayarak size ait olan şifre oluşturma sayfasına ulaşabilirsiniz.
                            <br />
                            <br />
                            <strong>Şifre Oluşturmak İçin</strong> :<br /><br />#link#<br />
                        </p>
                    </td>
                    <td width="353" align="right" valign="top">
                        <img src="http://www.motulteam.com/imagesgld/mail/sifreolustur/gold-anahtar.jpg" alt="Gold Anahtar" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://www.motulteam.com/imagesgld/mail/sifreolustur/ara2.gif" width="720"
                 height="15" />
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="10">
        </td>
    </tr>
</table>
