﻿<table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="720" height="26" colspan="4" align="right" valign="middle">
            <a href="http://www.dizayn-hediye.com/MusteriHizmetleri/UyeGirisi.aspx" target="_blank"
                style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif; text-decoration: none;">Üye Merkezi</a>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/ara.gif" width="720"
                height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="10" height="63">&nbsp;
            
        </td>
        <td rowspan="2">
            <a href="http://www.dizayn-hediye.com" target="_blank" title="Gold">
                <img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/logo.gif" width="132"
                    height="63" alt="menü" style="border: none;" /></a>
        </td>
        <td width="578" height="22" colspan="2" align="right" valign="middle">
            <p style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif;">
                <!--Bizi takip edin-->
            </p>
        </td>
    </tr>
    <tr>
        <td width="449" height="41">&nbsp;
            
        </td>
        <td>
            <!--<img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/social.jpg" alt="Sosyal Medya"
                width="129" height="41" usemap="#Map" border="0" />-->
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <!--<img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/menu.jpg" alt="" width="720"
                height="44" usemap="#Map2" border="0" />-->
        </td>
    </tr>
    <tr>
        <td colspan="4" align="left" valign="top">
            <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="345">
                        <p style="color: #5d5c5c; font-size: 16px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px; display: block; margin-top: 30px;">
                            Sayın <strong style="color: #5d5c5c; font-size: 18px; font-family: Arial,Helvetica,sans-serif;">
                                #adsoyad#,</strong></p>
                        <p style="color: #5d5c5c; font-size: 13px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px;">
                            dizayn-hediye.com’ ye Hoşgeldiniz !
                            <br />
                            <br />
                            Üyeliğiniz başarıyla aktif edilmiştir. Avantajlarımız ve kampanyalarımızdan haberdar
                            olmak için bizi takip edin.
                            <br />
                            dizayn-hediye.com’ye aşağıdaki üyelik bilgileri ile giriş yapabilir siniz.
                            <br />
                            <br />
                            İyi alışverişler dileriz
                            <br />
                            <a href="http://www.dizayn-hediye.com">dizayn-hediye.com</a>
                        </p>
                    </td>
                    <td width="353" align="right" valign="top">
                        <img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/wellcome.jpg"
                            alt="Hoşgeldiniz" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/ara2.gif" width="720"
                height="15" />
        </td>
    </tr>
    #mailbanner#
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/hosgeldiniz/ara2.gif" width="720"
                height="15" />
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                <tbody>
                    <tr>
                        <td height="154" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px;
                            color: #878787;" valign="top" width="174">
                            <strong><u>Bilgisayar</u></strong><br />
                            - Taşınabilir Bilgisayar, Notebook<br />
                            - Netbook (Mini Bilgisayar)<br />
                            - Masaüstü Bilgisayar<br />
                            <br />
                            <strong><u>Telefon</u></strong><br />
                            - Cep Bilgisayarı (PDA)<br />
                            - Cep Telefonu<br />
                            - Dect Telefonu<br />
                            - Navigasyon Sistemleri
                        </td>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #878787;"
                            valign="top" width="117">
                            <strong><u>Foto Video</u></strong><br />
                            - Fotoğraf Makinası<br />
                            - Video Kamera<br />
                            <br />
                            <strong><u>Çevre Birimler</u></strong><br />
                            - Hafıza Kartı<br />
                            - Network ürünleri<br />
                            - Taşınabilir Disk<br />
                            - Usb Veri Depolama
                        </td>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #878787;"
                            valign="top" width="117">
                            <strong><u>Ses ve Görüntü</u></strong><br />
                            - DVD, DIVX Oynatıcı<br />
                            - Ev Sinema Sistemi<br />
                            - LCD TV, LED TV, Plazma<br />
                            - Mp3, Mp4 Çalar<br />
                            - Oyun Konsolu<br />
                            - Projeksiyon
                        </td>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #878787;"
                            valign="top" width="106">
                            <strong><u>OEM Ürünler</u></strong><br />
                            - Anakart<br />
                            - Bilgisayar Kasası<br />
                            - Ekran Kartı<br />
                            - Hoparlör<br />
                            - İşlemci<br />
                            - Modem<br />
                            - Monitör<br />
                            - Sabit Disk
                        </td>
                        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #878787;"
                            valign="top" width="134">
                            <strong><u>Yazıcı, Tarayıcı</u></strong><br />
                            - Çok Fonksiyonlu Yazıcı<br />
                            - Faks Makinası<br />
                            - Lazer Yazıcı<br />
                            - Mürekkep Püskürtmeli<br />
                            - Nokta Vuruşlu Yazıcı
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="10">
        </td>
    </tr>
</table>
<map name="Map" id="Map">
    <area shape="rect" coords="12,9,34,33" href="https://plus.google.com/u/0/111109767295894227001/posts"
        target="_blank" alt="Google Plus" title="Google Plus" />
    <area shape="rect" coords="37,9,63,32" href="https://www.facebook.com/dizayn-hediye.com"
        target="_blank" alt="Facebook" title="Facebook" />
    <area shape="rect" coords="65,9,89,32" href="https://twitter.com/#!/goldcomputer"
        target="_blank" alt="Twitter" title="Twitter" />
    <area shape="rect" coords="92,10,115,32" href="http://pinterest.com/source/dizayn-hediye.com/"
        target="_blank" alt="Pinterest" title="Pinterest" />
</map>
<map name="Map2" id="Map2">
    <area shape="rect" coords="19,12,84,33" href="http://www.dizayn-hediye.com/V54101/Bilgisayar"
        target="_blank" />
    <area shape="rect" coords="106,14,153,32" href="http://www.dizayn-hediye.com/V54089/Telefon"
        target="_blank" />
    <area shape="rect" coords="191,14,281,34" href="http://www.dizayn-hediye.com/V54090/Elektronik"
        target="_blank" />
    <area shape="rect" coords="311,14,394,34" href="http://www.dizayn-hediye.com/V54091/Foto-Kamera"
        target="_blank" />
    <area shape="rect" coords="427,12,581,35" href="http://www.dizayn-hediye.com/V54092/Beyaz-Esya-Ev-Aletleri"
        target="_blank" />
    <area shape="rect" coords="609,13,700,33" href="http://www.dizayn-hediye.com/V55217/Saglik-Kisisel-Bakim"
        target="_blank" />
</map>
