﻿<table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="4">
            <img src="http://www.motulteam.com/imagesgld/mail/sifrehatirlat/ara.gif" width="720"
                height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="10" height="63">
            &nbsp;
        </td>
        <td rowspan="2">
            <a href="http://www.motulteam.com" target="_blank" title="Gold">
                <img src="http://motulteam.com/imagesgld/mail/sifreolustur/logo.png" width="132"
                     height="63" alt="menü" style="border: none;" />
            </a>
        </td>
        <td width="578" height="22" colspan="2" align="right" valign="middle">
            <p style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif;">
            </p>
        </td>
    </tr>
    <tr>
        <td width="449" height="41">
            &nbsp;
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="4">
        </td>
    </tr>
    <tr>
        <td colspan="4" align="left" valign="top">
            <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="700">
                        <p style="color: #5d5c5c; font-size: 13px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px;">
                            <br />
                            <br />
                            Bu mail size motulteam.com iletişim sayfasından gönderilmiştir.<br />
                            <br />
                            <br />
                            <table>
                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Acente Kodu</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #acentekodu#
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Acente Adı</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #acenteadi#
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Cep Telefonu</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #cepTel#
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Ad</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #ad#
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Soyad</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #soyad#
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px;">
                                        <strong>E-Posta</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #email#
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px;">
                                        <strong>Öneri veya Soru</strong>
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        #soru#
                                    </td>
                                </tr>
                            </table>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
