﻿<table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="720" height="13" colspan="4" align="right" valign="middle">
           
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="http://motulteam.com/imagesgld/mail/sifreolustur/ara2.gif" width="720"
                 height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="10" height="63">&nbsp;
            
        </td>
        <td rowspan="2">
            <a href="http://motulteam.com" target="_blank" title="Gold">
                <img src="http://motulteam.com/imagesgld/mail/sifreolustur/logo.png" width="132"
                     height="63" alt="menü" style="border: none;" />
            </a>
        </td>
        <td width="578" height="22" colspan="2" align="right" valign="middle">
            <p style="text-align: right; font-size: 12px; margin: 0; padding-right: 9px; color: #878787;
                font-family: Arial,Helvetica,sans-serif;">
                <!--Bizi takip edin-->
                </p>
        </td>
    </tr>
    <tr>
        <td width="449" height="41">&nbsp;
            
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="4">

        </td>
    </tr>
    <tr>
        <td colspan="4" align="left" valign="top">
            <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="545">
                        <p style="color: #5d5c5c; font-size: 16px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px; display: block; margin-top: 30px;">
                            Sayın <strong style="color: #5d5c5c; font-size: 18px; font-family: Arial,Helvetica,sans-serif;">
                                #adsoyad#,</strong></p>
                        <p style="color: #5d5c5c; font-size: 13px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px;">
                            Değerli acentemiz Yeni yılınızı kutlar, Motul ile 2019 yılında da hediyeler kazanmanızı dileriz. www.motulteam.com adresinden sitemize ulaşabilmeniz için güncel kullanıcı bilgileriniz aşağıdadır. İlk girişte üyelik şifrenizi değiştirmeniz gereklidir.

                            <br />
                            <br />
                            <strong>Acente Kodunuz</strong> : #acenteKodu#<br />
                            <strong>Geçici Şifreniz</strong> &nbsp;&nbsp;: #sifre#<br />
                        </p>
                    </td>
                    <td width="53" align="right" valign="top">
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://motulteam.com/imagesgld/mail/sifrehatirlat/ara2.gif" width="720"
                 height="15" />
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://motulteam.com/imagesgld/mail/sifrehatirlat/ara2.gif" width="720"
                 height="15" />
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="10">
        </td>
    </tr>
</table>
