﻿<table width="720" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="720" height="26" colspan="4" align="right" valign="middle">
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/indirimceki/ara.gif" width="720"
                height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="10" height="63">
            &nbsp;
        </td>
        <td rowspan="2">
            <a href="" target="_blank" title="dizayn-hediye.com">
                <img src="http://www.dizayn-hediye.com/imagesgld/mail/indirimceki/logo.gif" width="132"
                    height="63" alt="menü" style="border: none;" /></a>
        </td>
        <td width="578" height="22" colspan="2" align="right" valign="middle">
        </td>
    </tr>
    <tr>
        <td width="449" height="41">
            &nbsp;
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/indirimceki/ara.gif" width="720"
                height="1" alt="" />
        </td>
    </tr>
    <tr>
        <td colspan="4" align="left" valign="top">
            <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="345">
                        <p style="color: #5d5c5c; font-size: 16px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px; display: block; margin-top: 30px;">
                            Sayın <strong style="color: #5d5c5c; font-size: 18px; font-family: Arial,Helvetica,sans-serif;">
                                #adsoyad#,</strong></p>
                        <p style="color: #5d5c5c; font-size: 13px; font-family: Arial,Helvetica,sans-serif;
                            margin-left: 10px;">
                            Bu mail size www.dizayn-hediye.com tarafından talebiniz üzerine gönderilmiştir.
                            Aşağıda #firma# için kullanabileceğiniz indirim kodunuz bulunmaktadır. Aşağıdaki
                            bilgilerdeki #firma# indirim kodunuz ile alışveriş yapabilirsiniz.
                            <br />
                            <br />
                            <strong>İndirim Kodu</strong> : #cekno#<br />
                        </p>
                    </td>
                    <td width="353" align="right" valign="top">
                        <img src="http://www.dizayn-hediye.com/imagesgld/mail/indirimceki/cs-logo.jpg" alt="indirim çeki" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
            <img src="http://www.dizayn-hediye.com/imagesgld/mail/indirimceki/ara2.gif" width="720"
                height="15" />
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="15">
        </td>
    </tr>
    <tr>
        <td colspan="4">
        </td>
    </tr>
    <tr>
        <td colspan="4" width="720" height="10">
        </td>
    </tr>
</table>
