.example-wrapper{
	position:relative;
	width:986px;
	height:230px;	
	margin-top:10px;
	background-color:#fff;
	padding:50px 0 0;	
	border:1px solid #e6e6e6;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
	box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);	
	border-radius:5px;
}

.example-wrapper p.title{
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #616161;
	text-shadow: #eaeaea 1px 1px 1px;			
	font-weight:bold;
	display:block;
	border-bottom:1px solid #E6E6E6;
	position:absolute;
	z-index:10;
	width:968px;
	height:30px;
	line-height:30px;
	top:0;
	*top:3px;
	top:0\9; 
	left:10px;	
}
.example-wrapper p.title span {font-size:12px !important;color:#D80C14 !important;font-weight:normal !important;}
.example-wrapper p.title span a {text-decoration:none;color:#D80C14;}
.example-wrapper p.title span a:hover {text-decoration:underline;}

.imgholder {text-align:center;}
.imgholder .bw {text-align:center;}
.imgholder img {width:100px;height:100px;}

.slide {width:230px;}



/***********************************************
	-	THEME 1 SETTINGS	-
************************************************/




.theme1 .main-container {
	background-color:#fff;
	margin-top:40px;
	padding:0 10px 10px;
	/*
    border:1px solid #e6e6e6;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
	box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);*/
}

.theme1 .main-container .slider_holder
{
    overflow:hidden;
                          
                          }

.theme1 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		line-height: 20px;
		color: #767676;
		text-shadow: #eaeaea 1px 1px 1px;
}


.theme1 p.productName {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #616161;
	text-shadow: #eaeaea 1px 1px 1px;	
	margin: 0px;
	width: 100%;
	text-align:center;
	height:55px;
}

.theme1 p.productPrice {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #D80C14;
	text-shadow: #eaeaea 1px 1px 1px;	
	margin: 0px;
	width: 100%;
	
	font-weight:bold;
	margin: 5px 0 ;
	text-align:center;
}
.theme1 p.productPrice span{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #949494;
	text-shadow: #eaeaea 1px 1px 1px;	
	text-decoration: line-through;
}

.theme1 .thumb{
	
	border:1px solid #ddd;
	padding:4px;
	height:auto;
	background:#fff;
	position:relative;
	z-index:50;
}


/**********************************
	-	THEME-1	MORE	-
***********************************/

.theme1 .page-more{	
	visibility:hidden;
}

.theme1 >ul{visibility:hidden;}
.theme1 ul li {list-style:none !important;}

.theme1 .imgDiv {height:200px; width:200px;overflow:hidden;float:left;margin-right:15px;border:1px solid #ddd;padding:4px;background:#fff;position:relative;z-index:50;}

.theme1 .imgDiv .big-image{		
	height:200px;
	width:200px;
}

.theme1 .details{
	position:relative;
	float:left;
	width:160px;
	margin-right:30px;
}

.theme1 .details_double{
	position:relative;
	float:left;
	width:320px;
	height:230px;
	width:560px;
}

.theme1 .details_double h2.detailTitle{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #616161;
	text-shadow: #eaeaea 1px 1px 1px;	
	margin: 0px;
	width: 100%;
	text-align:left;
	height:22px !important;
}

.theme1 .video_clip{
	position:relative;
	float:left;
	width: 498px;
	height: 280px;
	border:1px solid #ddd;
	padding:4px;
	margin-right:30px;
}

.theme1 .check {
	list-style:none;
	margin-left:0px;
	padding-left:0px;
	
}
.theme1 .check li{
	background:url(../assets/check.png) no-repeat left;
	padding-left:25px;
	list-style:none;
	line-height:27px;
	margin:0px;
}

.theme1 .closer{
	width:30px;
	height:30px;
	position:absolute;
	background:url(../assets/button/close.png) no-repeat top;	
	right:0px;
	top:0px;	
	cursor:pointer;
	z-index:10000;
}

.theme1 .closer:hover{
	background-position:bottom;
	opacity:0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor:pointer;
}

/*********************************
	-	BUTTON LIGHT	-
**********************************/
.buttonlight {
 margin-top:10px;
 height: 30px;
 line-height: 30px;
 font-size: 12px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

.buttonlight:link, .buttonlight:visited {

 color: #767676;
 padding: 5px 20px 5px 20px;
 text-align: center;
 text-shadow: 1px 1px 0px #eaeaea;
 background: #999 url('../assets/button/btn_light.png') repeat-x center top;
 border: 1px solid #cdcdcd;
 text-decoration: none;
 font-weight: bold;
}

.buttonlight:hover, .comment-reply-link:hover {
 color: #fff;
 text-shadow: 1px 1px 0px #000;
 background: #333;
 border: 1px solid #555555;
 text-decoration: none;
}


/**************************	
	-	TOOLBAR	-
**************************/

.toolbar{visibility:hidden;position:absolute;top:3px;right:9px;display:inline-block;}

.toolbar .left{
	background:url(/imagesgld/mainBG.png) no-repeat -815px -486px;
	width:59px;
	height:25px;
	display:block;
	cursor:pointer;
	float:left;
	margin-right:5px;
	position:relative;
	z-index:11;	
}

.toolbar .left:hover{background-position:-815px -511px;}


.toolbar .right{
	background:url(/imagesgld/mainBG.png) no-repeat -875px -486px;
	width:59px;
	height:25px;
	display:block;
	cursor:pointer;
	float:left;
	position:relative;
	z-index:11;
}

.toolbar .right:hover{background-position:-875px -511px;}


/*************************************************
	-	THE PRELOADER OF THE BANNER 	-
*************************************************/
.services-preloader{
	background:url(../assets/loader/preloader.gif) no-repeat;
	width:24px;
	height:24px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:9999;
}


/****************************************
	-	THE BLOG AND PLUS SIGNS - 
****************************************/	
.hover-more-sign{
	background:url('../assets/button/more.png') no-repeat;
	width:50px;
	height:50px;	
	position:absolute;
	margin-left:-25px;
	margin-top:-25px;
	cursor:pointer;
}

.hover-blog-link-sign{
	background:url('../assets/button/link.png') no-repeat;
	width:50px;
	height:50px;	
	position:absolute;
	cursor:pointer;
}



/*************************
	-	CLOSE BUTTON 	-
*************************/


