﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FooterBanner.ascx.cs"
    Inherits="UserControls_FooterBanner" %>
<div class="clear">
</div>
<div class="DefaultBottomBanner">
    <ul>
        <asp:Literal ID="ltrFooterBanner" runat="server"></asp:Literal>
    </ul>
</div>
