﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FooterKategoriler.ascx.cs"
    Inherits="UserControls_FooterKategoriler" %>
<div id="footer">
    <div class="kategoriler">
        <span class="copyrightTitle" style="margin-left: 3px;">Copyright © 2015 | motulteam.com
        </span><span style="float: right; margin-right: 3px;">Powered by Loyalty</span>
    </div>
</div>
