﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HomeSlider.ascx.cs" Inherits="UserControls_HomeSlider" %>
<div class="content-slide">
    <ul id="contenhomeslider">
        <asp:Literal ID="ltrRotatorBanner" runat="server"></asp:Literal>
    </ul>
</div>
