﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HomeRightBanner.ascx.cs"
    Inherits="UserControls_HomeRightBanner" %>
          <ul>
               <li 
			   >
                   <a href="/MusteriHizmetleri/KargoTeslimatSartlari.aspx">
                       <img src="/imagesgld/kargo_banner.jpg"/>
                     </a>
                 </li>
          <li>
              <a href="/MusteriHizmetleri/iletisim.aspx">
                  <img src="/imagesgld/musteri_hizmetleri_banner.jpg"/>
              </a>
            </li>
          </ul>



<%--<asp:Repeater ID="rptBanner" runat="server">
    <HeaderTemplate>
    </HeaderTemplate>
    <ItemTemplate>
        <div class="header-banner banner-opacity">
            <ul>
                <%#Container.ItemIndex == 0 ? "<li>" : "<li style=\"border-top: 3px solid #a8a8a8;\">"%>
                <a onclick="TiklamaKaydet($(this).attr('href'));" href="<%# DataBinder.Eval(Container.DataItem, "banner_url") %>">
                    <%# DataBinder.Eval(Container.DataItem, "banner_html") %></a> </li>
            </ul>
        </div>
    </ItemTemplate>
    <FooterTemplate>
    </FooterTemplate>
</asp:Repeater>--%>
