﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SolMenu.ascx.cs" Inherits="UserControls_SolMenu" %>
<link href="/css/solMenu.css" rel="stylesheet" type="text/css" />
<script src="/js/solMenu.js" type="text/javascript"></script>
<div style="clear: both;">
</div>
<asp:Literal ID="ltrKategori" runat="server"></asp:Literal>
