﻿#contentholder .leftmaster {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    padding: 2px;
    background: #f6f6f6;
    float: left;
}
#contentholder .leftmaster #lmframe {
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
    float: left;
}
#lmframe .filterMenu {
    width: 100%;
    height: 100%;
    padding: 5px 7px;
    float: left;
}
#lmframe .filterMenu .filterCaption {
    width: 161px;
    height: 20px;
    padding: 4px;
    background: #dbdbdb;
    font: 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 2px;
    float: left;
}
#lmframe .filterMenu .filterCaption a {
    font: 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}
#lmframe .filterMenu .filterCaption a:hover {
    font: 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #000;
}
#lmframe .filterMenu .filterTitle {
    width: 100%;
    height: 26px;
    padding: 5px 7px 7px 7px;
    /*background: url(/imagesgld/filtertitle_bg.png) no-repeat;*/
    background-color:#a8a8a8;
    margin-top:1px;
    font: 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
    float: left;
    border-radius:2px;
}
#lmframe .filterMenu .filterTitle a {
    font: 13px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
}
#lmframe .filterMenu .filterTitle a:hover {
    font: 13px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #000;
}
#lmframe .filterMenu .filterSubTitle {
    width: 157px;
    height: 13px;
    padding: 0px 7px 7px 7px;
    background: url(/imagesgld/filtertitle_bgGray.png) no-repeat;
    font: 13px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
    float: left;
}
#lmframe .filterMenu .filterContainer {
    width: 100%;
    margin: 5px 0px;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy {
    width: 171px;
    margin-bottom: 10px;
    display: inline;
    position: relative;
    overflow: hidden;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .firstCategory {
    width: 171px;
    margin: 0px;
    padding: 0px;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .otherCategory {
    width: 171px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu {
    width: 100%;
    padding: 0px;
    display: inline-block;
    list-style: none;
    overflow: hidden;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu li {
    width: 100%;
    font: 12px "Trebuchet MS" ,Arial,Helvetica,sans-serif;
    padding: 2px 0px 2px 0px;
    text-align: left;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu li span.bullet {
    padding: 0px 0px 0px 10px;
    background: url(/imagesgld/bullet_hierrarchyFirstMenu.png) no-repeat left center;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu li span.bullet a {
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #737373;
    text-decoration: none;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu li span.bullet a:hover {
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #bb0000;
    text-decoration: none;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu li span.bullet a.current {
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #ee0404;
    text-decoration: none;
}
#lmframe .filterMenu .filterHierrarchy .firstHierrarchyMenu .prnumber, #lmframe .filterMenu .filterHierrarchy .prnumber {
    color: #919191;
    background: none;
    padding: 0px;
    font: 11px "Trebuchet MS" , Arial, Helvetica, sans-serif;
}

#lmframe .filterMenu .filterHierrarchy .selectedProducts {
    width: 171px;
    margin: 5px 0px;
    padding: 0px;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .selectedProducts .selectedTitle {
    width: 156px;
    height: 18px;
    margin: 0px;
    padding: 1px 7px;
    background: url(/imagesgld/filtertitle_bgSelect.png) no-repeat;
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .selectedProducts .selectedList {
    width: 171px;
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
    list-style: none;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .selectedProducts .selectedList li {
    width: 171px;
    margin: 0px;
    padding: 0px 0px;
    float: left;
}
#lmframe .filterMenu .filterHierrarchy .selectedProducts .selectedList li img {
    margin: 3px 0px -6px 0px;
}


#lmframe .filterMenu .div_check /* , #lmframe .filterMenu .label_radio*/ {
    padding-left: 16px;
}
/*#lmframe .filterMenu .div_radio { background: url(/imagesgld/radio-off.png) no-repeat;}*/
#lmframe .filterMenu .div_check {
    background: url(/imagesgld/filter_checkbox.png) no-repeat;
    color: #737373;
}
#lmframe .filterMenu div.c_on {
    background: url(/imagesgld/filter_checkbox.png) no-repeat 0px -20px;
    color: #ee0404;
}
#lmframe .filterMenu div.r_on {
    background: url(/imagesgld/radio-on.png) no-repeat;
}
#lmframe .filterMenu .div_check input /* , #lmframe .filterMenu .div_radio input*/ {
    position: absolute;
    left: -9999px;
}
/* Checked styles */

#lmframe .filterMenu .filterContainer .layoutSlider {
    width: 100%;
    height: auto;
    margin: 15px auto;
    float: left;
}
#lmframe .filterMenu .filterContainer {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
#lmframe .filterMenu .filterList .List {
    width: 100%;
    display: inline-block;
    list-style: none;
    text-align: left;
    float: left;
}
#lmframe .filterMenu .filterList .List li {
    width: 100%;
    padding: 3px 0px;
    text-align: left;
    float: left;
}
#lmframe .filterBanner {
    width: 100%;
    text-align: center;
    float: left;
}

#lmframe .subMenu {
    width: 171px;
    height: 100%;
    padding: 5px 7px;
    float: left;
}
#lmframe .subMenu .subTitle {
    width: 157px;
    height: 16px;
    padding: 3px 7px 7px 7px;
    background: url(/imagesgld/filtertitle_bg.png) no-repeat;
    font: 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
    float: left;
}
#lmframe .subMenu .subContainer {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
#lmframe .subMenu .subList {
    width: 100%;
    margin: 10px 0px;
    float: left;
}
#lmframe .subMenu .subList .sublink {
    width: 100%;
    display: inline-block;
    list-style: none;
    text-align: left;
    float: left;
}
#lmframe .subMenu .subList .sublink li {
    width: 100%;
    padding: 5px 0px 5px 7px;
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #737373;
    background: none;
    text-align: left;
    float: left;
}
#lmframe .subMenu .subList .sublink li:hover {
    width: 100%;
    padding: 5px 0px 5px 7px;
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #737373;
    background: #fff url(/imagesgld/arrow_filter.gif) no-repeat center left;
    text-align: left;
    float: left;
}
#lmframe .subMenu .subBanner {
    width: 100%;
    float: left;
}
