#navigationMenu {
    position: relative;
    left: 20px;
    top: 200px;
    z-index: 10;
    border:1px solid #ccc;
    width:30px;
}
#navigationMenu.fixed {
    position: fixed;
}

#navigationMenu li {
    list-style: none;
    height: 30px; /*padding:2px;*/
    width: 30px;
}

#navigationMenu span {
    /* Container properties */
    width: 0;
    left: 30px;
    padding: 0;
    position: absolute;
    overflow: hidden; /* Text */
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.6px;
    white-space: nowrap; /* CSS3 Transition: */
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

#navigationMenu a {
    background: url('/assets/images/navigation.png') no-repeat;
    height: 30px;
    width: 30px;
    display: block;
    position: relative;
}

/* Genel hover vs */
#navigationMenu a:hover span {
    width: auto;
    padding: 0 20px;
    overflow: visible;
}
#navigationMenu a:hover {
    text-decoration: none;
}

/* Beyaz Eşya Button */
#navigationMenu .Beyaz_Esya {
    background-position:-60px  0;
}
#navigationMenu .Beyaz_Esya:hover {
    background-position: -60px -33px;
    background-color: #19df12;
}
#navigationMenu .Beyaz_Esya span {
    background-color: #19df12;
    color: #fff;
}
/* Bilgisayar Button */
#navigationMenu .bilgisayar {
    background-position: -30px 0;
}
    #navigationMenu .bilgisayar:hover {
      background-position: -30px -33px;
        background-color: #dd12df;
    }
#navigationMenu .bilgisayar span {
    background-color: #dd12df;
    color: #fff;
}

/* Telefon Button */
#navigationMenu .telefon {
    background-position: 0 0;
}
#navigationMenu .telefon:hover {
    background-position: 0 -33px;
    background-color: #1f6cf0;
}
#navigationMenu .telefon span {
    background-color: #1f6cf0;
    color: #fff;
}

/* Elektronik Button */
#navigationMenu .elektronik {
    background-position: -120px 0;
}
#navigationMenu .elektronik:hover {
    background-position: -120px -33px;
    background-color: #f0a81f;
}
#navigationMenu .elektronik span {
    background-color: #f0a81f;
    color: #fff;
}



/* oyuncak Button */
#navigationMenu .oyuncak {
    background-position: -270px 0;
}
#navigationMenu .oyuncak:hover {
    background-position: -270px -33px;
    background-color: #F3124A;
}
#navigationMenu .oyuncak span {
    background-color: #F3124A;
    color: #fff;
}

/* Mutfak_Aletleri Button */
#navigationMenu .Mutfak_Aletleri {
    background-position: -180px 0;
}
#navigationMenu .Mutfak_Aletleri:hover {
    background-position: -180px -33px;
    background-color: #6F6;
}
#navigationMenu .Mutfak_Aletleri span {
    background-color: #6f6;
    color: #fff;
}

/* Saat Button */
#navigationMenu .Saat {
    background-position: -390px 0;
}
#navigationMenu .Saat:hover {
    background-position: -390px -33px;
    background-color: #63F;
}
#navigationMenu .Saat span {
    background-color: #63F;
    color: #fff;
}
/* Tatil Button */
#navigationMenu .tatil {
    background-position: -570px 0;
}
#navigationMenu .tatil:hover {
    background-position: -570px -33px;
    background-color: #f1f230;
}
#navigationMenu .tatil span {
    background-color: #f1f230;
    color: #fff;
}
