body {
    overflow-y: scroll;
}
.fright {
    float: right;
}
.fleft {
    float: left;
}
.mt10 {
    margin-top: 10px;
}
.mb0 {
    margin-bottom: 0px;
}
.borderF36 {
    border: 1px solid #a8a8a8;
}
.colorF36 {
    color: #a8a8a8;
}
.inlineBlock {
    display: inline-block;
}
.featured-text {
    background: none !important;
}
.notification {
    color: #a8a8a8;
    font-size: 10px;
    margin: 5px 0px 0px 0;
    text-align: right;
}
#left_column .block .title_block {
    font-size: 14px !important;
}
.compareProductName {
    display: block;
    padding: 2px 5px 0;
    font-size: 12px;
    color: #fff;
    height: 40px;
    text-align: center;
    background: url(/assets/images/compareBG.jpg) repeat-x;
    font-weight: bold;
    vertical-align: middle;
}
.compareProductPrice {
    font-size: 18px;
    color: #a8a8a8;
}
.compareSelect {
    border: 1px solid #ccc;
}
.product-list li .left-block {
    height: 270px !important;
}
.product-list li .left-block img {
    max-height: 260px !important;
}
.product-list li .right-block {
    height: 60px !important;
}
.btnInput {
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
    font-weight: normal;
    background: #666 none repeat scroll 0% 0%;
    border-radius: 0px;
    border: medium none;
    padding: 10px 25px;
}
.box-authentication input, .box-authentication textarea {
    width: 100% !important;
}
.box-authentication {
    min-height: 340px !important;
}
.box-form {
    border: 1px solid #eaeaea;
    padding: 30px;
    min-height: 320px;
}
.box-form > h3 {
    margin-bottom: 15px;
}
.box-form label {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}
.box-form input, .box-form textarea, .box-form select {
    border-radius: 0px;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    width: 100%;
}
.box-form input[type="radio"] {
    width: 10% !important;
}
.box-form .button {
    margin-top: 15px;
}
.subcategories li a {
    padding: 0px 20px !important;
}
.pagination li a {
    cursor: pointer;
}
.product-container {
    min-height: 370px;
}
.remove_link {
    cursor: pointer;
}
.cart_description {
    width: 800px;
}
.cartBar {
    background-color: #f7f7f7;
    line-height: 44px;
    padding: 4px;
}
.cartBar2 {
    float: right;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
}
.cartBar3 {
    background-color: #f7f7f7;
    padding: 4px;
}
.page-order .heading-counter {
    margin: 10px 0px !important;
}
.cart_navigation {
    margin-top: 0px !important;
    border: 1px solid #DDD;
}
.address_description {
    width: 650px;
}
.address_select {
    width: 10px;
}
.address_header {
    width: 200px;
}
.address_navigation {
    margin-top: 10px;
    float: left;
    width: 100%;
}
.page-order .address_navigation a {
    padding: 10px 20px;
    border: 1px solid #eaeaea;
}
.page-order .address_navigation a.next-btn {
    float: right;
    background: #a8a8a8;
    color: #fff;
    border: 1px solid #a8a8a8;
}
.page-order .address_navigation a.next-btn:hover {
    opacity: 0.8;
}
.page-order .address_navigation a.prev-btn {
    float: left;
}
.page-order .address_navigation a.prev-btn:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f104";
    padding-right: 15px;
}
.page-order .address_navigation a.next-btn:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    padding-left: 15px;
}
.page-order .address_navigation a:hover {
    background: #a8a8a8;
    color: #fff;
}
.page-order .address_navigation a.fix-btn-left {
    float: left;
    background: #a8a8a8;
    color: #fff;
    border: 1px solid #a8a8a8;
    cursor: pointer;
    padding-right: 15px;
}
.page-order .address_navigation a.fix-btn-right {
    float: right;
    background: #a8a8a8;
    color: #fff;
    border: 1px solid #a8a8a8;
    cursor: pointer;
    padding-left: 15px;
}
.shipment_navigation {
    margin-top: 10px;
    float: left;
    width: 100%;
    border: 1px solid #DDD;
}
.page-order .shipment_navigation a {
    padding: 10px 20px;
    border: 1px solid #eaeaea;
}
.page-order .shipment_navigation a.next-btn {
    float: right;
    background: #a8a8a8;
    color: #fff;
    border: 1px solid #a8a8a8;
}
.page-order .shipment_navigation a.next-btn:hover {
    opacity: 0.8;
}
.page-order .shipment_navigation a.prev-btn {
    float: left;
}
.page-order .shipment_navigation a.prev-btn:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f104";
    padding-right: 15px;
}
.page-order .shipment_navigation a.next-btn:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    padding-left: 15px;
}
.page-order .shipment_navigation a:hover {
    background: #a8a8a8;
    color: #fff;
}
.shipmentBar {
    background-color: #f7f7f7;
    padding: 4px;
}
.notAvailable {
    font: 12px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #a8a8a8;
    font-weight: bold;
}
.info .infolabel {
    font-weight: bold;
    color: #a8a8a8;
}
.title {
    font-weight: bold;
    color: #E73137;
}
.info .shipment {
    font-size: 10px;
}
