﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MusteriHizmetleri/MpMusteriHizmetleri.master"
    AutoEventWireup="true" CodeFile="MesafeliSatisSozlesmesi.aspx.cs" Inherits="MusteriHizmetleri_MesafeliSatisSozlesmesi" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSayfaBaslik" runat="Server">
    Mesafeli Satış Sözleşmesi
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphIcerikBaslik" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphIcerikMetin" runat="Server">
    <div style="font-family: Arial; font-size: 12pt; font-weight: bold;">
        <b>MESAFELİ SATIŞ SÖZLEŞMESİ</b><br />
        <br />
        <b>MADDE 1- SÖZLESMENIN TARAFLARI </b>
        <br />
        <b>SATICI: </b>
        <br />
        <b>Ünvanı : </b>Motul Hediye
        <br />
        <b>Adresi : </b>
        <br />
        Ankara
        <br />
        Web Adresi : Motul Hediye<br />
        E-posta : 
       <%-- <br />
        Telefon Numarası: 0850 450 26 35<br />--%>
       
        <br />
        <b>ALICI </b>
        <br />
        <b>Adı/Soyadı Varsa :</b><br />
        <br />
        <b>Ünvanı: </b>......
        <br />
        <b>Adresi :</b> .....,
        <br />
        <b>Telefon:</b> ......,<br />
        <b>E-posta:</b> .....
        <br />
        <b>MADDE 2- SÖZLESMENIN KONUSU:</b><br />
        İş bu sözleşmenin konusu, Alicinin Satıcıya ait Motul web sitesinden elektronik
        ortamda veya 0216 554 75 75 telefondan sipariş verdiği, sözleşmede bahsi geçen nitelikleri
        haiz ve yine sözleşmede satış fiyatı belirtilen mal/hizmetin satışı ve teslimi ile
        ilgili olarak 4077 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmelere
        Dair Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.<br />
        <b>MADDE 3- SÖZLEŞME KONUSU MAL</b><br />
        3.1- Malın cinsi ve türü, miktarı, marka/modeli, rengi, vergiler dahil satış bedeli
Motul internet adresinde yayınlanan hizmet tanıtım bilgilerinde ve bu
        sözleşmenin ayrılmaz bir parçası olan faturada belirtildiği gibidir.<br />
        <b>Malın Adı:</b><br />
        <b>Malın Adedi:</b>
        <br />
        <b>Satış Bedeli(KDV Dahil):</b><br />
        3.2-<b> Ödeme Şekli </b>: Kredi Kartı
        <br />
        3.3-Vadeli satışların sadece Bankalara ait kredi kartları ile yapılması nedeniyle,
        alıcı, ilgili faiz oranlarını ve temerrüt faizi ile ilgili bilgileri bankasından
        ayrıca teyit edeceğini, yürürlükte bulunan mevzuat hükümleri gereğince faiz ve temerrüt
        faizi ile ilgili hükümlerin Banka ve alıcı arasındaki kredi kartı sözleşmesi kapsamında
        uygulanacağını kabul, beyan ve taahhüt eder.<br />
        <br />
        3.4- Fatura Adresi :<br />
        <br />
        <b>MADDE 4- MAL/HIZMETiN TESLIMI, SÖZLESMENIN IFA YERI VE TESLIM SEKLI: </b>
        <br />
        Mal/hizmet, alicinin teslimini talep etmis oldugu .......... adresinde ............'a
        teslim edilecektir.
        <br />
        <br />
        <b>MADDE 5- TESLIMAT MASRAFLARI VE IFASI: MAL/HIZMETIN TESLIMATI: </b>
        <br />
        <br />
        Mal/hizmetin teslimi alıcının talep ettiği adreste kendisine yapılır. Teslimat;
        stokun müsait olması ve mal bedelinin Satıcının hesabına geçmesinden sonra en kısa
        sürede yapılır. Doğal afetler, hava muhalefeti vs. gibi mücbir sebeplerle gecikmeler
        olabilir. Satıcı, mal/hizmetin siparişinden itibaren 30 (Otuz) gün içinde teslim
        eder ve bu süre içinde yazılı bildirimle ek 10 (on) günlük süre uzatım hakkını saklı
        tutar. Herhangi bir nedenle mal/hizmet bedeli ödenmez veya banka kayıtlarında iptal
        edilir ise, Satıcı mal/hizmetin teslimi yükümlülüğünden kurtulmuş kabul edilir.
        Alici, kendisinden başka birine ve de kendi adresinden başka bir adrese teslimat
        yapılmasını isterse, bu talebi doğrultusunda teslimat yapılır. Teslimat masrafları
        Alıcıya aittir. Satıcı, web sitesinde, ilan ettiği rakamın üzerinde alışveriş yapanların
        teslimat ücretinin kendisince karşılanacağını beyan etmişse, teslimat masrafı Satıcıya
        aittir. Mal/hizmet teslimatı kargo firmalarınca yapılmaktadır. Tüketici teslim almadan
        önce malin muayenesini yapmalı, ayıplı ve hasarlı mali kargo firması yetkilisinden
        teslim almamalıdır. Alici kargodan teslim alınan ürünün sağlam ve hasarsız olduğu
        kabul eder. Alicinin teslim öncesi malı muayene sorumluluğu vardır. Sipariş konusu
        mal/hizmetin teslimatı için; alıcı tarafından mesafeli satış sözleşmesinin <font
            style="color: Red;">elektronik ortamda gerekli teyidinin yapılmış olması</font>
        ve bedelinin Alicinin tercih ettiği ödeme sekli ile ödenmiş olması şarttır. Herhangi
        bir nedenle mal/hizmet bedeli ödenmez veya banka kayıtlarında iptal edilir ise,
        Satıcı mal/hizmetin teslimi yükümlülüğünden kurtulmuş kabul edilir.
        <br />
        <br />
        <b>MADDE 6- ALICININ BEYAN VE TAAHHÜTLERI:</b> Alici, sözleşme konusu mal/hizmeti
        teslim almadan önce muayene edecek ezik, kirik, ambalajı yırtılmış vb. hasarlı ve
        ayıplı mal/hizmeti kargo şirketinden teslim almayacaktır. Teslim alınan Mal/hizmetin
        hasarsız ve sağlam olduğu kabul edilecektir. Teslimden sonra mal/hizmetin özenle
        korunması borcu, alıcıya aittir. Fatura iade edilmelidir. Mal/hizmetin tesliminden
        sonra Alıcıya ait kredi kartının Alicinin kusurundan kaynaklanmayan bir şekilde
        yetkisiz kişilerce haksiz veya hukuka aykırı olarak kullanılması nedeni ile ilgili
        banka veya finans kurulusunun mal/hizmet bedelini Satıcıya ödememesi halinde, Alici
        kendisine teslim edilmiş olması kaydıyla mal/hizmeti 3 (Üç) gün içinde Satıcıya
        göndermekle yükümlüdür. Bu takdirde teslimat giderleri Alıcıya aittir.
        <br />
        <br />
        <b>MADDE 7- SATICININ BEYAN VE TAAHHÜTLERI:</b> Satıcı, sözleşme konusu mal/hizmetin
        sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri
        ve kullanım kılavuzları ile teslim edilmesinden sorumludur. Sözleşme konusu mal/hizmet,
        Alıcıdan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kisi/kurulusun
        teslimatı kabul etmemesinden Satıcı sorumlu tutulamaz. Satıcı, cayma beyanının kendisine
        ulaşmasından sonra 10 (on) gün içinde mal/hizmet bedelini, varsa kıymetli evrakı
        iade eder. Mal/hizmeti 20 (yirmi) gün içinde iade alir. Hakli gerekçelerle satıcı,
        sözleşmedeki ifa süresi dolmadan alıcıya eşit kalite ve fiyatta tedarik edebilir.
        Satıcı mal/hizmetin ifasının imkânsızlaştığını düşünüyorsa, sözleşmenin ifa süresi
        dolmadan alıcıya bildirir. Ödenen bedel ve varsa belgeler 10(on) gün içinde iade
        edilir. Garanti belgesi ile satılan mal/hizmetlerden olan veya olmayan mal/hizmetlerden
        arızalı veya bozuk olan mal/hizmetler, garanti şartları içinde gerekli onarımın
        yapılması için Satıcıya gönderilebilir, bu takdirde teslimat giderleri Satıcı tarafından
        karşılanacaktır<br />
        <br />
        <b>MADDE 8- SÖZLESMEYE KONU MAL/HIZMETIN ÖZELLIKLERI:</b> Mal/hizmetin Cinsi ve
        türü, Miktarı, Marka/Modeli, Rengi ve Tüm Vergiler Dâhil Satış Bedeli Motul
        adlı web sitesindeki mal/hizmet tanıtım sayfasında yer alan bilgilerde ve iş bu
        sözleşmenin ayrılmaz parçası sayılan faturada belirtildiği gibidir.<br />
        <br />
        <b>MADDE 9- MAL/HIZMETIN PESIN FIYATI:</b> Mal/hizmetin peşin fiyatı sipariş sonu
        mail atılan örnek fatura ve ürün ile birlikte müşteriye gönderilen fatura içeriğinde
        mevcuttur.<br />
        <br />
        <b>MADDE 10- VADELI FIYAT:</b> Mal/hizmetin satış fiyatına yapılan vadeye göre fiyatı
        sipariş sonu mail atılan örnek fatura ve ürün ile birlikte müşteriye gönderilen
        fatura içeriğinde mevcuttur.<br />
        <br />
        <b>MADDE 11- FAIZ:</b> Her yıl Türkiye Cumhuriyeti Hükümetinin belirlediği faiz
        oranından ve her halde % 30?dan fazla olamaz. Alici çalıştığı bankaya karşi 13.md.
        hükmünce sorumludur.<br />
        <br />
        <b>MADDE 12- PESINAT TUTARI:</b> Mal/hizmetin peşinat tutarı sipariş sonu mail atılan
        örnek fatura ve ürün ile birlikte müşteriye gönderilen fatura içeriğinde mevcuttur.<br />
        <br />
        <b>MADDE 13- ÖDEME PLANI: </b>Alicinin seçmiş olduğu taksit biçimi geçerlidir. Taksitlendirme
        işlemlerinde, Alici ile kart sahibi banka arasında imzalamış bulunan sözleşmenin
        ilgili hükümleri geçerlidir. Kredi kartı ödeme tarihi banka ile alıcı arasındaki
        sözleşme hükümlerince belirlenir. Alıcı, kredi kartı ile ve taksitle alışveriş yapması
        durumunda siteden ayrıca bankanın gönderdiği hesap özetinden taksit sayısını ve
        ödemelerini takip edebilir.<br />
        <br />
        <b>MADDE 14 - GENEL HÜKÜMLER</b><br />
        ALICI, motulteam.com internet sitesinde sözleşme konusu ürünün temel nitelikleri,
        satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup bilgi sahibi
        olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.<br />
        <br />
        ALICI; bu sözleşmeyi elektronik ortamda teyit etmekle, mesafeli sözleşmelerin akdinden
        önce, Satıcı tarafından tüketiciye verilmesi gereken adres, siparişi verilen ürünlere
        ait temel özellikler, ürünlerin vergiler dâhil fiyatı, ödeme ve teslimat bilgilerini
        de doğru ve eksiksiz olarak edindiğini teyit etmiş olur.
        <br />
        <br />
        SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere
        uygun ve mevzuat uyarınca teslimi zorunlu olan hallerde garanti belgeleri ve kullanım
        kılavuzları ile teslim edilmesinden sorumludur.<br />
        <br />
        SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması
        halinde sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, sözleşmeden
        doğan ifa yükümlülüğünün süresi dolmadan tüketiciye bildirir ve ALICI'ya eşit kalite
        ve fiyatta farklı bir ürün tedarik edebilir veya ürün bedelini iade edebilir.
        <br />
        <br />
        ALICI'nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin ALICI tarafından
        iptal edilmesinden sonra 10 (on) gün içerisinde ilgili bankaya iade edilir.
        <br />
        ALICI’nın, SATICI’nın kampanyalarının, SATICI'nın satış sisteminin veya internet
        sitesinin herhangi bir açığından (teknik, vs.) faydalanarak; SATICI'ya zarar vermemeyi,
        haksız bir menfaat sağlamamayı, tekrarlanan uygulamalar yapmamayı, internet sitesini
        kötüye kullanmamayı taahhüt etmektedir.
        <br />
        <br />
        ALICI, SATICI tarafından kendisine gönderilecek her türlü ticarî elektronik iletilere,
        onay vermektedir. Bu kapsamda ALICI, SATICI tarafından kendisine, kişi müdahalesi
        olmadan çalışan faks, elektronik posta, kısa mesaj gibi otomatik arama sistemleri
        vasıtasıyla ya da başkaca diğer iletişim vasıtaları ile ALICI'dan başkaca herhangi
        bir ön izin alınmaksızın bilgilendirme, pazarlama ve/veya reklam amacıyla her türlü
        elektronik ileti/sms/fax vs. gönderebileceğini kabul ve beyan eder.
        <br />
        <br />
        ALICI dilediği zaman, hiçbir gerekçe belirtmeksizin bu kullanım şartları kapsamındaki
        elektronik iletileri almaktan vazgeçebilecek olup; bunun için, SATICI'ya çağrı veya
        iletide yer alan iletişim bilgilerini kullanarak, bu yöndeki talebi iletmesi yeterli
        olacaktır. Satıcı, vazgeçme talebinin kendisine kolay bir yolla ve ücretsiz olarak
        iletilmesini sağlayacak olup; talebin alınmasını müteakip Satıcı derhal bu talebin
        gereğini yerine getirecektir.
        <br />
        <br />
        <b>MADDE 15- CAYMA HAKKI: </b>
        <br />
        <font style="font-size: 16pt; font-weight: bold;">Alici, sözleşme konusu mal/hizmetin
            kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren 7 (yedi)
            gün içinde herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin cayma hakkini
            kullanabilir. Cayma hakkının kullanılması için Cayma hakkının kullanıldığına ilişkin
            bildirimin 7 günlük süre içerisinde sürekli bir veri sağlayıcısı ile ya da yazılı
            olarak yapılması yeterlidir.<br />
            SATICI'ya mevzuat hükümlerine uygun olarak bildirimde bulunulması şarttır. Cayma
            hakkının kullanılması halinde; ALICI'ya veya onun bildirdiği yukarıda bilgisi bulunan
            üçüncü kişiye teslim edilen ürünün faturasının üzerinde yer alan iade ile ilgili
            kısımların tüketici tarafından doldurulması zorunludur. 7 (Yedi) günlük süre içerisinde
            iade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte
            teslim edilmesi gerekmektedir. Ambalaj ve içeriğinin denenirken hasar görmemiş olası
            şarttır. Bu hakkin kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete
            ilişkin fatura aslinin iadesi zorunludur Fatura asli gönderilmezse Alıcıya KDV ve
            varsa diğer yasal yükümlülükler iade edilemez. Ürünle birlikte hediye verilen satışlarda,
            cayma hakkı kullanılır ise, verilen hediye de ALICI tarafından iade edilecektir.
            <br />
            Tüketicinin cayma hakkını kullanması halinde; satıcı veya sağlayıcının cayma bildiriminin
            kendisine ulaşmasından itibaren en geç on gün içerisinde almış olduğu toplam bedeli
            ve tüketiciyi borç altına sokan her türlü belgeyi, tüketiciye hiçbir masraf yüklemeksizin
            iade etmek ve yirmi gün içerisinde malı almakla yükümlüdür. Cayma hakki nedeni ile
            iade edilen mal/hizmetin teslimat bedeli Satıcı tarafından karşılanır. </font>
        <br />
        <br />
        <font style="font-size: 16pt; font-weight: bold;"><b>CAYMA HAKKI KULLANILAMAYACAK MAL/HIZMETLER:
        </b>
            <br />
            Taraflarca aksi kararlaştırılmadıkça tüketici, aşağıdaki sözleşmelerde cayma hakkını
            kullanamaz. a) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin
            ifasına başlanan hizmet sözleşmeleri.<br />
            b) Fiyatı borsa veya teşkilatlanmış diğer piyasalarda belirlenen mallara ilişkin
            sözleşmeler.<br />
            c) Tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan,
            niteliği itibariyle geri gönderilmeye elverişli olmayan ve çabuk bozulma tehlikesi
            olan veya son kullanma tarihi geçme ihtimali olan malların teslimine ilişkin sözleşmeler.<br />
            ç) Tüketici tarafından ambalajının açılmış olması şartıyla, ses veya görüntü kayıtlarına,
            yazılım programlarına ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.<br />
            d) Gazete, dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
            <br />
            e) Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin sözleşmeler.<br />
            f) Elektronik ortamda anında ifa edilen hizmetler ve tüketiciye anında teslim edilen
            gayri maddi mallara ilişkin sözleşmeler.<br />
        </font>
        <br />
        <br />
        <b>MADDE 16- TEMERRÜD HALI VE HUKUKI SONUÇLARI: </b>
        <br />
        ALICI'nın temerrüde düşmesi halinde, ALICI, borcun gecikmeli ifasından dolayı SATICI'nın
        oluşan zarar ve ziyanını ödemeyi kabul eder.
        <br />
        Tarafların işbu sözleşmeden kaynaklanan edimlerini yerine getirmemesi durumunda
        borçlu genel hükümler uyarınca temerrüde düşmüş sayılacak, temerrüde düşen tarafın
        edimini süresi içerisinde haklı bir sebebi olmaksızın yerine getirmemesi durumunda,
        diğer taraf söz konusu edimin yerine getirilmesi için edimini yerine getirmeyen
        tarafa 7 (Yedi) günlük süre verecektir. Bu süre zarfında, edimin yerine getirilmemesi
        durumunda edimini yerine getirmeyen taraf sözleşmeden dönüp sözleşmenin ifa edilmemesinden
        kaynaklanan zararını karşı tarafa ödetme hakkını haizdir.
        <br />
        <br />
        <b>MADDE 17- YETKILI MAHKEME:</b> Is bu sözleşmeden kaynaklanabilecek ihtilaflarda,
        şikâyet ve itiraz başvuruları, Sanayi ve Ticaret Bakanlığınca her yıl aralık ayında
        ilan edilen parasal sınırlar dâhilinde tüketicinin mal veya hizmeti satın aldığı
        veya ikametgâhının bulunduğu yerdeki Tüketici Hakem Heyetleri, bu değerin üzerindeki
        ihtilaflarda Tüketici Mahkemeleri yetkilidir. Tüketici Mahkemesi bulunamayan yerlerde
        Asliye Hukuk Mahkemeleri yetkilidir.<br />
        Satıcı tarafından daha önce imzalanmış bulunan is bu iki nüsha sözleşme alici tarafından
        ............. tarihinde imzalanarak kabul edilmiş ve bir nüshası alıcının mail adresine
        mail gönderilecektir.
    </div>
</asp:Content>
