﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MusteriHizmetleri/MpMusteriHizmetleri.master"
    AutoEventWireup="true" CodeFile="UyelikSozlesmesi.aspx.cs" Inherits="MusteriHizmetleri_Sozlesmeler_UyelikSozlesmesi" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSayfaBaslik" runat="Server">
    Kullanım Koşulları ve &#220;yelik S&#246;zleşmesi
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphIcerikBaslik" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphIcerikMetin" runat="Server">
    <p>
        <a href="https://motulteam.com/"><span style="font-size: 8.5pt">Anadoludanaspara/</span></a>
        SİTESİ KULLANIM KOŞULLARI ve &#220;YELİK S&#214;ZLEŞMESİ&nbsp;<br />
        <br />
        1. KULLANIM KOŞULLARI&nbsp;<br />
        1.1. Bu web sitesini (Kısaca "SİTE" olarak anılacaktır) kullanmak i&#231;in l&#252;tfen
        aşağıda yazılı koşulları okuyunuz. Bu SİTE&#8217;de sunulan hizmetlerden yararlananlar
        veya herhangi bir şekilde SİTE&#8217;ye erişim sağlayan her ger&#231;ek ve t&#252;zel
        kişi aşağıdaki kullanım koşullarını kabul etmiş sayılmaktadır.&nbsp;<br />
        1.2. Bu SİTE' de sunulan Motul (bundan b&#246;yle kısaca "Motul " olarak anılacaktır) tarafından
        sağlanmaktadır ve SİTE&#8217;nin yasal sahibi Motul olup, SİTE &#252;zerinde
        her t&#252;rl&#252; kullanım ve tasarruf yetkisi Motul &#8216;a aittir.&nbsp;<br />
        1.3. İşbu kullanım koşullarını Motul gerektiği zaman değiştirebilir ancak
        bu değişiklikler d&#252;zenli olarak SİTE'de yayınlanacak ve aynı tarihten itibaren
        ge&#231;erli olacaktır.&nbsp;<br />
        1.4. SİTE hizmetlerinden yararlanan ve SİTE &#8216;ye erişim sağlayan her ger&#231;ek
        ve t&#252;zel kişi, Motul tarafından işbu kullanım koşulları h&#252;k&#252;mlerinde
        yapılan her değişikliği, &#246;nceden kabul etmiş sayılmaktadır.&nbsp;<br />
        1.5. Motul bu SİTE &#8216;de yer alan veya alacak olan bilgileri, formları
        ve i&#231;eriği dilediği zaman değiştirme hakkını saklı tutmaktadır.&nbsp;<br />
        <br />
        2. TANIMLAR&nbsp;<br />
        2.1. SİTE: Motul tarafından belirlenen &#231;er&#231;eve i&#231;erisinde
        &#231;eşitli hizmetlerin ve i&#231;eriklerin sunulduğu &#231;evrimi&#231;i (on-line)
        ortamdan erişimi m&#252;mk&#252;n olan web sitesidir.&nbsp;<br />
        2.2. &#220;YE: Motul &#8216;dan &#252;r&#252;n /mal/hizmet alımı yapmak
        &#252;zere faydalanmak isteyen, se&#231;miş olduğu &#252;yelik formunu eksiksiz
        doldurarak, Motul 'ca &#252;yelikleri onaylanarak motulteam.com 'a &#252;yeliği
        kabul edilen her ger&#231;ek ve t&#252;zel kişidir. Bu s&#246;zleşmede kısaca "&#220;YE"
        olarak anılacaklardır. 18 yaşından g&#252;n almış bireylerin ger&#231;ek kimlik
        bilgileri ile SİTE 'deki ilgili &#252;yelik formunu eksiksiz doldurarak &#252;ye
        olabilirler. &#220;YE olmak isteyen şirketler (Şahıs ve ortaklar), Kolektif Şirketler,
        Adi Komandit Şirketler, Sermayesi Paylara B&#246;l&#252;nm&#252;ş Komandit Şirketler,
        Limited Şirketler, Anonim Şirketler, Kooperatiflerin ve diğer kurumların t&#252;zel
        bilgileri ile 18 yaşından g&#252;n almış yasal yetkilisinin SİTE 'deki ilgili &#252;yelik
        formunu eksiksiz doldurarak &#220;YE olabilir ve kurumları adına işlem yapabilirler.
        "&#252;ye adı" &#252;yeye &#246;zeldir ve aynı " &#220;YE adı" iki farklı &#220;YE
        &#8216;ye verilmez.&nbsp;<br />
        2.3. KULLANICI: Motul ,web sitesini alışveriş yaparak ya da alışveriş yapmaksızın
        ziyaret eden kişidir.&nbsp;<br />
        2.4. ONAYLAMA İŞLEMİ: &#220;YE tarafından, &#252;yelik formunda belirtilen cep telefonu
        numarasından Motul 'a SMS kısa mesaj g&#246;ndermesi ile motulteam.com
        'nun KULLANICI &#8216;nın &#252;yeliğini aktif hale getirilebilmesi i&#231;in yapılması
        gereken işlemdir.&nbsp;<br />
        2.5. LİNK: SİTE &#252;zerinden bir başka web sitesine, dosyalara, i&#231;eriğe veya
        başka bir web sitesinden SİTE &#8216;ye, dosyalara ve i&#231;eriğe erişimi m&#252;mk&#252;n
        kılan bağlantıdır.&nbsp;<br />
        2.6. İ&#199;ERİK: SİTE &#8216;de ve/veya herhangi bir web sitesinden yayınlanan
        veya erişimi m&#252;mk&#252;n olan her t&#252;rl&#252; bilgi, dosya, resim, program,
        rakam, fiyat vs. g&#246;rsel, yazınsal ve işitsel imgelerdir.&nbsp;<br />
        2.7. WEB SİTESİ KULLANIM KOŞULLARI VE &#220;YELİK S&#214;ZLEŞMESİ: SİTE vasıtasıyla
        sunulmakta olan ticari ve kişiye &#246;zel nitelikteki hizmetlerden yararlanacak
        ger&#231;ek ve/veya t&#252;zel kişilerle Motul arasında elektronik ortamda
        akdedilen işbu s&#246;zleşmedir.&nbsp;<br />
        2.8. KİŞİSEL BİLGİ: &#220;yenin kimliği, adresi, elektronik posta adresi, telefon
        numarası, IP adresi, SİTE &#8216;nin hangi b&#246;l&#252;mlerini ziyaret ettiği,
        domain tipi, browser tipi, ziyaret tarihi, saati vs bilgilerdir.&nbsp;<br />
        <br />
        3. HİZMETLERİN KAPSAMI&nbsp;<br />
        3.1. Motul &#8216;un, SİTE &#252;zerinden sunacağı hizmetler genel itibariyle
        T&#252;ketici Hukuku mevzuatında tanımlanan elektronik ticaretten ibarettir.&nbsp;<br />
        3.2. Motul &#8216;un, SİTE &#252;zerinden vereceği hizmetler sınırlı sayıda
        olmamak &#252;zere; motulteam.com &#8216;a ait </span><a href="https://motulteam.com/">
            <span style="font-size: 13.5pt">Motul</span></a><span style="font-size: 13.5pt;">
                adresinde satışa sunulan &#252;r&#252;nlerin; &#220;YE tarafından bedeli &#246;dendikten
                sonra, tedarik&#231;inin stok durumunun m&#252;sait olması halinde ,yani s&#246;zleşmenin
                satıcıya y&#252;klediği; malın teslim edilmesi, borcunun ifa edilebilir olması durumunda;
                taahh&#252;t edilen s&#252;rede malın m&#252;şteriye kargo firması tarafından Motul
                adına ayıpsız olarak teslimidir.&nbsp;<br />
                3.3. motulteam.com, SİTE &#252;zerinden sunacağı hizmetlerin kapsamını ve niteliğini
                belirlemekte tamamen serbest olup, hizmetlere ilişkin olarak yapacağı değişiklikleri
                SİTE &#8216;de yayınlamasıyla y&#252;r&#252;rl&#252;ğe koymuş addedilir.&nbsp;<br />
                3.4. SİTE b&#252;nyesinde sunulacak hizmetlerden yararlanabilmek i&#231;in kullanıcıların
                Motul tarafından belirlenecek ve SİTE &#8216; nin ilgili b&#246;l&#252;m&#252;n&#252;n
                i&#231;eriğinde belirtilecek &#246;zellikleri taşıması gereklidir. Motul,
                bu &#246;zellikleri belirlemekte tamamen serbest olup, &#246;zelliklere ilişkin
                olarak yapacağı değişiklikleri SİTE de yayınlamasıyla y&#252;r&#252;rl&#252;ğe koymuş
                addedilir.&nbsp;<br />
                <br />
                4. GENEL H&#220;K&#220;MLER&nbsp;<br />
                4.1. SİTE &#252;zerinden, Motul ' un kendi kontrol&#252;nde olmayan ve
                başkaca &#252;&#231;&#252;nc&#252; kişilerin sahip olduğu ve işlettiği başka web
                SİTE&#8217; lerine ve/veya başka i&#231;eriklere link verilebilir. Bu linkler KULLANICI
                &#8216;lara ve &#220;YE &#8216;lere y&#246;nlenme kolaylığı sağlamak amacıyla konmuş
                olup herhangi bir web sitesini veya o siteyi işleten kişiyi desteklememektedir.
                Link verilen web sitesinin i&#231;erdiği bilgilere y&#246;nelik herhangi bir t&#252;rde
                bir beyan veya garanti niteliği taşımamaktadır. SİTE &#252;zerindeki linkler vasıtasıyla
                erişilen web siteleri ve i&#231;erikleri hakkında Motul 'un herhangi bir
                sorumluluğu yoktur ve bu sitelerin kullanımıyla doğabilecek zararlar, KULLANICI
                &#8216;ların &#220;YE&#8217; lerin kendi sorumluluğundadır. Motul bu t&#252;r
                link verilen web SİTE &#8216;lerine erişimi, kendi yazılı muvafakatine bağlayabileceği
                gibi, Motul &#8216;un uygun g&#246;rmeyeceği linklere erişimi her zaman
                kesebilir.&nbsp;<br />
                4.2. motulteam.com, SİTE &#8216;de mevcut olan bilgilerin doğruluk ve g&#252;ncelliğini
                s&#252;rekli olarak kontrol etmektedir. Ancak g&#246;sterilen &#231;abaya rağmen,
                SİTE &#252;zerindeki bilgiler fiili değişikliklerin gerisinde kalabilir. SİTE muhteviyatında
                yer alan materyal ve bilgiler SİTE &#8216;ye verildiği anda sunulmaktadır, ilgili
                hizmet veya bilginin g&#252;ncel durumu ile SİTE &#8216;de yer alan durumu arasında
                farklılık olabilir. SİTE &#8216;de yer alan bilgilerin, g&#252;ncelliği, doğruluğu,
                şartları, kalitesi, performansı, pazarlanabilirliği, belli bir amaca uygunluğu ve
               Motul 'un SİTE &#8216;de mevcut ve bunlarla sınırlı olmayan, bunlarla bağlantılı
                veya bağımsız diğer bilgi, hizmet veya &#252;r&#252;nlere etkisi ile tamlığı hakkında
                herhangi bir sarih ya da zımni garanti verilmemekte ve taahh&#252;tte bulunulmamaktadır.&nbsp;<br />
                4.3. KULLANICI ve &#220;YE, SİTE &#8216;deki, y&#252;klenmeye ( download ) ve/veya
                paylaşıma m&#252;sait dosya, bilgi ve belgelerin, vir&#252;slerden, wormlardan,
                truva atlarından, dialer programlarından spam, spyware veya bunlar gibi diğer her
                t&#252;rl&#252; k&#246;t&#252; ve zarar verme ama&#231;lı kodlardan veya materyallerden
                arındırılamamış olabileceğini ve bu hususlarda SİTE &#8216;nin garanti vermediğini
                kabul etmektedir. Bu tip k&#246;t&#252; ve zarar verme ama&#231;lı programların,
                kodların veya materyallerin &#246;nlenmesi, veri giriş - &#231;ıkışlarının doğruluğu
                veya herhangi bir kayıp verinin geri kazanılması i&#231;in gereken t&#252;m yazılım
                ve donanım ihtiya&#231;larını karşılamak, bakım ve g&#252;ncellemelerini yapmak
                tamamen KULLANICI &#8216;nın &#220;YE &#8216;nin sorumluluğundadır. Bu t&#252;r
                k&#246;t&#252; ama&#231;lı programlar, kodlar veya materyallerin sebep olabileceği,
                veri yanlışlıkları veya kayıplarından dolayı KULLANICI ve &#220;YE &#8216;nin veya
                &#252;&#231;&#252;nc&#252; kişilerin uğrayabileceği hi&#231;bir zarardan Motul
                sorumlu değildir.&nbsp;<br />
                Bu t&#252;r k&#246;t&#252; ama&#231;lı programlar, kodlar veya materyaller, veri
                yanlışlıkları veya kayıplarından dolayı KULLANICI &#8216;nın ve &#220;YE &#8216;nin
                veya &#252;&#231;&#252;nc&#252; kişilerin uğrayabileceği hi&#231;bir zarardan Motul
                 sorumlu değildir.&nbsp;<br />
                4.4. motulteam.com, işbu SİTE ve SİTE uzantısında mevcut her t&#252;r hizmet, &#252;r&#252;n,
                kampanya vs. bilgiler ve SİTE &#8216;yi kullanma koşulları ile SİTE &#8216;de sunulan
                bilgileri &#246;nceden bir ihtara gerek olmaksızın değiştirme, SİTE &#8216;yi ve
                i&#231;eriğini yeniden d&#252;zenleme, yayını durdurma ve/veya duraklatma hakkını
                saklı tutar. Değişiklikler, SİTE &#8216;de yayınlanmalarıyla y&#252;r&#252;rl&#252;ğe
                girerler. SİTE &#8216;nin kullanımı ya da SİTE &#8216;ye giriş ile bu değişiklikler
                de kabul edilmiş sayılır. Bu koşullar link verilen diğer web sayfaları i&#231;in
                de ge&#231;erlidir. &#220;ye olan kişi haftalık b&#252;lten ve kampanya duyurularını
                e-mail ile almayı kabul eder.&nbsp;<br />
                Motul, s&#246;zleşmenin ihlali, haksız fiil, ihmal veya diğer sebepler
                neticesinde; işlemin kesintiye uğraması, hata, ihmal, kesinti, silinme, kayıp, işlemin
                veya iletişimin gecikmesi, bilgisayar vir&#252;s&#252;, iletişim hatası, hırsızlık,
                imha veya izinsiz olarak kayıtlara girilmesi, değiştirilmesi veya kullanılması hususunda
                ve durumunda herhangi bir sorumluluk kabul etmez.&nbsp;<br />
                4.5. SİTE d&#226;hilinde &#252;&#231;&#252;nc&#252; kişiler tarafından sağlanan
                hizmetlerden ve yayınlanan i&#231;eriklerden dolayı motulteam.com &#8216;un, işbirliği
                i&#231;inde bulunduğu kurumların, motulteam.com  &#231;alışanlarının ve y&#246;neticilerinin,
                motulteam.com yetkili satıcılarının sorumluluğu bulunmamaktadır.&nbsp;<br />
                Herhangi bir &#252;&#231;&#252;nc&#252; kişi tarafından sağlanan ve yayınlanan bilgilerin,
                i&#231;eriklerin, g&#246;rsel ve işitsel imgelerin doğruluğu ve hukuka uygunluğunun
                taahh&#252;d&#252; b&#252;t&#252;n&#252;yle bu eylemleri ger&#231;ekleştiren &#252;&#231;&#252;nc&#252;
                kişilerin sorumluluğundadır. motulteam.com, &#252;&#231;&#252;nc&#252; kişiler
                tarafından sağlanan hizmetlerin ve i&#231;eriklerin g&#252;venliğini, doğruluğunu
                ve hukuka uygunluğunu taahh&#252;t ve garanti etmemektedir.&nbsp;<br />
                4.6. SİTE &#8216;yi kullananlar, yalnızca hukuka uygun ve şahsi ama&#231;larla SİTE
                &#252;zerinde işlem yapabilirler. KULLANICI &#8216;ların ve &#220;YE &#8216;lerin,
                SİTE d&#226;hilinde yaptığı her işlem ve eylemdeki hukuki ve cezai sorumlulukları
                kendilerine aittir. Her KULLANICI ve her &#220;YE, motulteam.com ve/veya başka
                bir &#252;&#231;&#252;nc&#252; kişinin haklarına tecav&#252;z teşkil edecek nitelikteki
                herhangi bir faaliyette bulunmayacağını taahh&#252;t eder. KULLANICI ve &#220;YE
                &#8216;lerin SİTE &#252;zerindeki faaliyetleri nedeniyle &#252;&#231;&#252;nc&#252;
                kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı motulteam.com 'un
                doğrudan ve/veya dolaylı hi&#231;bir sorumluluğu yoktur.&nbsp;<br />
                4.7. İşbu SİTE &#8216;nin sahibi motulteam.com &#8217; dur. Bu SİTE &#8216;de bulunan
                bilgiler, yazılar, resimler, markalar, slogan ve diğer işaretler ile sair sına&#238;
                ve fikri m&#252;lkiyet haklarına ilişkin bilgilerin korunmasına y&#246;nelik programlarla,
                sayfa d&#252;zeni ve SİTE &#8216;nin sunumu motulteam.com &#8216;un ya da motulteam.com
                 &#8216;un izin ve lisans aldığı kuruluşların m&#252;lkiyetindedir. İşbu
                SİTE &#8216;deki bilgilerin ya da SİTE sayfalarına ilişkin her t&#252;r veritabanı,
                web sitesi, software-code ların html kodu ve diğer kodlar vs. ile SİTE i&#231;eriğinde
                bulunan &#252;r&#252;nlerin, tasarımların, resimlerin, metinlerin, g&#246;rsel,
                işitsel vesair imgelerin, video kliplerin, dosyaların, katalogların ve listelerin
                kısmen ya da tamamen kopyalanması, değiştirilmesi, yayınlanması, online ya da diğer
                bir medya kullanılmak suretiyle g&#246;nderimi, dağıtımı, satılması yasaktır. KULLANICI
                ve &#220;YE, yukarıda sayılan ve bunlarla sınırlı olmayan SİTE yazılım, donanım
                ve i&#231;eriğini &#231;oğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini,
                gerek bu eylemleri ile gerekse de başka yollarla motulteam.com ile doğrudan ve/veya
                dolaylı olarak rekabete girmeyeceğini kabul ve taahh&#252;t etmektedir. KULLANICI
                ve &#220;YE, motulteam.com hizmetlerini, motulteam.com bilgilerini ve bigesclub.com
                &#8216;un telif haklarına t&#226;bi &#231;alışmalarını yeniden satmak, işlemek,
                paylaşmak, dağıtmak, sergilemek veya başkasının motulteam.com &#8216;un hizmetlerine
                erişmesi veya kullanmasına izin vermek hakkına sahip değildir. Bu sayfadaki bilgilerin
                kısmen kopyalanması, basılması, işlenmesi, dağıtılması, &#231;oğaltılması, sergilenmesi
                ancak ticari olmayan kişisel ihtiya&#231;lar i&#231;in ve motulteam.com &#8216;un
                yazılı izni ile m&#252;mk&#252;nd&#252;r.&nbsp;<br />
                4.8. motulteam.com, SİTE &#252;zerinden KULLANICI &#8216;lar ve &#220;YE &#8216;ler
                tarafından kendisine iletilen bilgileri "Gizlilik Politikası" ve "Web Sitesi Kullanım
                Koşulları" h&#252;k&#252;mleri doğrultusunda kullanabilir. Bu bilgileri işleyebilir,
                bir veritabanı &#252;zerinde tasnif edip muhafaza edebilir. motulteam.com aynı
                zamanda; KULLANICI ve &#220;YE &#8216;nin kimliği, adresi, elektronik posta adresi,
                telefon numarası, IP adresi, SİTE &#8216;nin hangi b&#246;l&#252;mlerini ziyaret
                ettiği, domain tipi, browser tipi, ziyaret tarihi, saati vs bilgileri de istatistiki
                değerlendirme, kampanyaların duyurusunu yapma ve kişiye y&#246;nelik hizmetler sunma
                gibi ama&#231;larla kullanabilir.&nbsp;<br />
                KULLANICI &#8216;lara ve &#220;YE &#8216;lere ait kişisel bilgiler, kanunla yetkili
                kılınan mercilerin talebi ve aşağıda sayılan haller hari&#231; olmak &#252;zere
                ger&#231;ek ve t&#252;zel &#252;&#231;&#252;nc&#252; kişilere a&#231;ıklanmayacaktır.
                Kişisel bilgi ender olarak motulteam.com '&#231;ın veya onun adına davranan &#252;&#231;&#252;nc&#252;
                taraflara veya motulteam.com  &#8216;un işi ile ilgili olanlara verilerin &#246;zg&#252;n
                olarak kullanım ama&#231;larını daha iyi işlemek ya da KULLANICI &#8216;ların ve
                &#220;YE &#8216;lerin &#246;nerdiği ama&#231;lara uygun olarak daha iyi hizmet verebilmek
                &#252;zere verilir.&nbsp;<br />
                4.9. İşbu SİTE Kullanım Koşulları d&#226;hilinde motulteam.com tarafından a&#231;ık&#231;a
                yetki verilmediği hallerde motulteam.com; motulteam.com hizmetleri, motulteam.com
                ,bilgileri, motulteam.com telif haklarına t&#226;bi &#231;alışmaları, motulteam.com
                ticari markaları, motulteam.com ticari g&#246;r&#252;n&#252;m&#252; veya bu SİTE
                vasıtasıyla sağladığı başkaca varlık ve bilgilere y&#246;nelik t&#252;m haklarını
                saklı tutmaktadır.&nbsp;<br />
                <br />
                5. SORUMLULUĞUN SINIRLANDIRILMASI&nbsp;<br />
                motulteam.com, SİTE &#8216;ye erişilmesi, SİTE &#8216;nin ya da SİTE &#8216;deki
                bilgilerin ve diğer verilerin programların vs. kullanılması sebebiyle, s&#246;zleşmenin
                ihlali, haksız fiil, ya da başkaca sebeplere binaen, doğabilecek doğrudan ya da
                dolaylı hi&#231;bir zarardan sorumlu değildir. motulteam.com, s&#246;zleşmenin
                ihlali, haksız fiil, ihmal veya diğer sebepler neticesinde; işlemin kesintiye uğraması,
                hata, ihmal, kesinti hususunda herhangi bir sorumluluk kabul etmez. Bu SİTE &#8216;ye
                ya da link verilen diğer web sitelerine erişilmesi ya da SİTE &#8216;nin kullanılması
                ile motulteam.com &#8216;un, kullanım/ziyaret sonucunda, doğabilecek her t&#252;r
                sorumluluktan, mahkeme ve diğer masraflar da dahil olmak &#252;zere her t&#252;r
                zarar ve talep hakkından ayrı kılındığı kabul edilmektedir.&nbsp;<br />
                <br />
                6. DEVİR&nbsp;<br />
               motulteam.com, bu s&#246;zleşmeyi bildirimsiz olarak istediği zaman kısmen veya
                b&#252;t&#252;n&#252;yle devredebilir. Ancak KULLANICI ve &#220;YE bu s&#246;zleşmeyi
                veya herhangi bir kısmını başka bir tarafa devredemez. Bu t&#252;rden bir devir
                girişimi ge&#231;ersizdir.&nbsp;<br />
                <br />
                7. M&#220;CBİR SEBEPLER&nbsp;<br />
                Hukuken m&#252;cbir sebep sayılan t&#252;m durumlarda, motulteam.com işbu Web Sitesi
                Kullanım Koşullarını ge&#231; ifa etmekten veya ifa etmemekten dolayı y&#252;k&#252;ml&#252;
                değildir. Bu ve bunun gibi durumlar, motulteam.com a&#231;ısından, gecikme veya
                ifa etmeme veya temerr&#252;t addedilmeyecek veya bu durumlar i&#231;in motulteam.com
                'un herhangi bir tazminat y&#252;k&#252;ml&#252;l&#252;ğ&#252; doğmayacaktır.&nbsp;<br />
                <br />
                8. UYGULANACAK HUKUK VE YETKİ&nbsp;<br />
                İşbu "SİTE Kullanım Koşulları" ve Web Sitesi Kullanım S&#246;zleşmesi&#8217;nden
                kaynaklanacak ihtilaflar T&#252;rk Hukuku&#8217;na tabidir ve İstanbul Merkez Mahkemeleri
                ve İcra Daireleri yetkilidir. motulteam.com  &#8216;un, KULLANICI ve &#220;YE&#8217;
                nin bulunduğu &#252;lkede dava a&#231;ma hakkı saklıdır.&nbsp;<br />
                <br />
                9. Y&#220;R&#220;RL&#220;L&#220;K ve KABUL&nbsp;<br />
                İşbu Web Sitesi Kullanım Koşulları ve &#220;yelik S&#246;zleşmesi, motulteam.com
                tarafından SİTE i&#231;eriğinde ilan edildiği tarihte y&#252;r&#252;rl&#252;l&#252;k
                kazanır. KULLANICI &#8216;lar ve &#220;YE &#8216;ler, işbu s&#246;zleşme h&#252;k&#252;mlerini
                SİTE ?yi kullanmakla kabul etmiş olmaktadırlar. motulteam.com, dilediği zaman işbu
                s&#246;zleşme h&#252;k&#252;mlerinde değişikliğe gidebilir, değişiklikler, s&#252;r&#252;m
                numarası ve değişiklik tarihi belirtilerek SİTE &#252;zerinden yayınlanır ve aynı
                tarihte y&#252;r&#252;rl&#252;ğe girer.&nbsp;</span></p>
</asp:Content>
