﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Admin.master" AutoEventWireup="true" CodeFile="PopupIslemleri.aspx.cs" Inherits="Admin_PopupIslemleri" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



<div class="panelBanner">
        <table>
            <tr>
                <td colspan="3" align="center" style="text-align: center;">
                    <asp:Image ID="Image1" runat="server" Width="500" />
                </td>
            </tr>
            <tr>
                <th class="title2"></th>
                <th class="title3"style="color:red;">LÜTFEN POP-UP RESİM BOYUTUNU 600 X 600 GİBİ UYGUN BOYUTLARDA YÜKLEYİNİZ </th>
            </tr>
            <tr>
                <th class="title2">Popup Resim
                </th>
                <th class="title3" style="width: 300px;">Popup Link
                </th>
                <th class="title4" style="width: 350px;">Yayından Kalkma Tarihi
                </th>
            </tr>
            <tr>
                <td>
                    <asp:FileUpload ID="flResim" runat="server" />
                </td>
                <td>
                    <asp:TextBox ID="txtLink" runat="server" Width="95%"></asp:TextBox>
                </td>
                <td>
                    <asp:DropDownList ID="drpTarih" runat="server" Width="250" style="padding: 5px;"></asp:DropDownList>
                    <asp:DropDownList ID="drpSaat" runat="server" Width="75" style="padding: 5px;"></asp:DropDownList>
                </td>
            </tr>
            <tr>

               
                <%--<th class="title2">
                </th>
                <th Visible="true" class="title3" style="width: 300px;">Genişlik Ayarı [px]
                </th>
                <th Visible="true" class="title4" style="width: 350px;">Yükseklik Ayarı [px]
                </th>--%>
            </tr>
            <tr>
                <td>
                </td>
                <%--<td>
                    <asp:TextBox ID="txtGenislik" runat="server" Visible="true" Width="30%"></asp:TextBox>
                </td>
                <td>
                    <asp:TextBox ID="txtYukseklik" runat="server" Visible="true" Width="30%"></asp:TextBox>
                </td>--%>
            </tr>
        </table>
        <asp:Button ID="btnOnizle" runat="server" Text="Kaydet" OnClick="btnOnizle_Click"
            CssClass="aramaBTN fl" Enabled="true" />
    </div>
    <div style="clear: both">
    </div>











</asp:Content>

