@charset "utf-8";
/* CSS Document */

.h1aciklama { font-size:18px; color:#F00; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.paciklama { font-size:14px; color:#333; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.paciklamabold { font-weight:bold; font-size:14px; color:#333; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }