﻿.bankCampaigns {width:928px;display:inline-block;margin:5px 27px;}
.bankCampaigns2 {width:928px;display:inline-block;margin:5px;}

.bankCampaigns .campaignsArticleBox, .bankCampaigns .campaignsArticleBox2 {width:928px;display:inline-block;}
.bankCampaigns .campaignsArticleBox .campaignsHeader, .bankCampaigns2 .campaignsArticleBox .campaignsHeader {width:918px;height:56px;margin:0 5px;position:relative;}
.bankCampaigns .campaignsArticleBox .paraf, .bankCampaigns2 .campaignsArticleBox .paraf {background:url(/ImagesGld/BankCampaigns/parafBG.jpg) repeat-y;border-top:1px solid #00617b;border-bottom:1px solid #00617b;}
.bankCampaigns .campaignsArticleBox .bonus, .bankCampaigns2 .campaignsArticleBox .bonus {background:url(/ImagesGld/BankCampaigns/bonusBG.jpg) repeat-y;border-top:1px solid #487c0a;border-bottom:1px solid #487c0a;}
.bankCampaigns .campaignsArticleBox .axess, .bankCampaigns2 .campaignsArticleBox .axess {background:url(/ImagesGld/BankCampaigns/axessBG.jpg) repeat-y;border-top:1px solid #954e1e;border-bottom:1px solid #954e1e;}
.bankCampaigns .campaignsArticleBox .world, .bankCampaigns2 .campaignsArticleBox .world {background:url(/ImagesGld/BankCampaigns/worldBG.jpg) repeat-y;border-top:1px solid #340045;border-bottom:1px solid #340045;}
.bankCampaigns .campaignsArticleBox .maximum, .bankCampaigns2 .campaignsArticleBox .maximum {background:url(/ImagesGld/BankCampaigns/maximumBG.jpg) repeat-y;border-top:1px solid #900051;border-bottom:1px solid #900051;}
.bankCampaigns .campaignsArticleBox .cardFinans, .bankCampaigns2 .campaignsArticleBox .cardFinans {background:url(/ImagesGld/BankCampaigns/cardfinansBG.jpg) repeat-y;border-top:1px solid #003663;border-bottom:1px solid #003663;}
.bankCampaigns .campaignsArticleBox .asyaCard, .bankCampaigns2 .campaignsArticleBox .asyaCard {background:url(/ImagesGld/BankCampaigns/asyacardBG.jpg) repeat-y;border-top:1px solid #006a83;border-bottom:1px solid #006a83;}
.bankCampaigns .campaignsArticleBox .advantage, .bankCampaigns2 .campaignsArticleBox .advantage {background:url(/ImagesGld/BankCampaigns/advantageBG.jpg) repeat-y;border-top:1px solid #9d5600;border-bottom:1px solid #9d5600;}
.bankCampaigns .campaignsArticleBox .vakifbankWorld, .bankCampaigns2 .campaignsArticleBox .vakifbankWorld {background:url(/ImagesGld/BankCampaigns/vakifWorldBG.jpg) repeat-y;border-top:1px solid #340045;border-bottom:1px solid #340045;}

.bankCampaigns .campaignsArticleBox .campaignsHeader .logo, .bankCampaigns2 .campaignsArticleBox .campaignsHeader .logo {position:absolute;left:-5px;top:-1px;}
.bankCampaigns .campaignsArticleBox .campaignsHeader .taksit, .bankCampaigns2 .campaignsArticleBox .campaignsHeader .taksit {position:absolute;right:-5px;top:-1px;}

.bankCampaigns .campaignsArticleBox .campaignsArticle, .bankCampaigns2 .campaignsArticleBox .campaignsArticle {border:1px solid #ddd;border-top:none;padding:10px;width:906px;min-height:66px;background:#fff;position:relative;font-family:"Trebuchet MS", Arial,Helvetica,sans-serif;font-size:17px;color:#8E8E8E !important;}
.bankCampaigns .campaignsArticleBox .campaignsArticle span {font-size:12px;color:#616161 !important;}
.bankCampaigns .campaignsArticleBox .campaignsArticle span p {color:#616161 !important;}

.bankCampaigns .campaignsArticleBox .campaignsTitle .lt2, .bankCampaigns2 .campaignsArticleBox .campaignsTitle .lt2  {position:absolute;left:-1px;top:-1px;}
.bankCampaigns .campaignsArticleBox .campaignsTitle .rt2, .bankCampaigns2 .campaignsArticleBox .campaignsTitle .rt2 {position:absolute;right:-1px;top:-1px;}
.bankCampaigns .campaignsArticleBox .campaignsArticle .lb2, .bankCampaigns2 .campaignsArticleBox .campaignsArticle .lb2 {position:absolute;left:-1px;bottom:-1px;}
.bankCampaigns .campaignsArticleBox .campaignsArticle .rb2, .bankCampaigns2 .campaignsArticleBox .campaignsArticle .rb2 {position:absolute;right:-1px;bottom:-1px;}

.bankCampaigns2 .campaignsArticleBox .campaignsArticle input {width:894px;height:35px;line-height:35px;padding:5px;font-size:15px;border:1px solid #ddd;font-weight:bold;}
.bankCampaigns2 .campaignsArticleBox .campaignsArticle textarea {width:894px;height:200px;line-height:100%;padding:5px;font-size:13px;border:1px solid #ddd;}
.bankCampaigns2 .campaignsArticleBox .campaignsHeader select {width:150px;height:30px;position:absolute;top:13px;right:230px;}
.save {margin-left:830px;height:35px;width:100px;}