#otherModule {width:986px;margin:0 auto 10px;}
#bestsellersProductsBox {width:986px;height:auto;margin:0 0 10px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
#bestsellersProductsHeader {width:970px;height:32px;line-height:32px;background:url(../ImagesGld/UrnDModul/otherProductsHeaderV2.png) no-repeat;padding:6px 8px 10px;text-align:center;}
#bestsellersProductsHeader p {background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat right top;padding:0 10px 0 0;height:33px;line-height:33px;display:inline-block;text-align:center;margin:0;max-width:790px;font-size:15px;font-weight:bold;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#00965E;}
#bestsellersProductsHeader p span {width:10px;height:33px;display:block;float:left;background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat left top;}

.bestsellersProducts {width:980px;padding:0 3px;background:url(../ImagesGld/UrnDModul/otherProductsBG-V2.png) repeat-y;margin:0;}
.bestsellersProducts li {width:970px;background:url(../ImagesGld/UrnDModul/bestsellers/bestsellerBG.jpg) no-repeat left bottom;margin:0;padding:0 5px 3px;list-style:none;height:48px;}
.bestsellersProducts li:hover {background:url(../ImagesGld/UrnDModul/bestsellers/bestsellerBG-Hover.jpg) no-repeat left bottom;}

.bestsellersProducts li a.thumbsPic {width:45px;height:45px;padding:1px 6px 2px;display:inline-block;float:left;background:url(../ImagesGld/UrnDModul/bestsellers/bestsellerPicBG.jpg) no-repeat;}
.bestsellersProducts li a.thumbsPic img {border:none;width:45px;height:45px;}

.bestsellersProducts li a.productName {height:48px;width:540px;padding:0 5px;display:block;line-height:48px;font-size:13px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-decoration:none;float:left;overflow:hidden;}
.bestsellersProducts li:hover a.productName {color:#00965E;}


.bestsellersProducts li .salesBarBox {float:left;height:20px;position:relative;width:185px;padding-top:18px;}
.bestsellersProducts li .salesBarBox .salesBarFrame {border:1px solid #dddddd;width:142px;height:9px;padding:1px;float:left;margin-right:5px;}
.bestsellersProducts li:hover .salesBarFrame {border-color:#cc0008;}
.bestsellersProducts li .salesBarBox .salesBarColor {height:9px;width:100%;background:url(../ImagesGld/UrnDModul/bestsellers/progresBarBG.jpg) no-repeat;}
.bestsellersProducts li .salesBarBox span {display:inline-block;float:left;font-size:11px;color:#8b8b8b;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;float:left;}
.bestsellersProducts li:hover .salesBarBox span {color:#00965E;}

.bestsellersProducts li .salesBarBox a {height:48px;width:185px;position:absolute;left:0;top:0;background:none;}
.bestsellersProducts li .salesBarBox a span {display:none;}

.bestsellersProducts li a.productPrice {float:left;display:block;width:170px;height:48px;line-height:48px;text-decoration:none;color:#00965E;font-size:17px;text-align:right;font-weight:bold;padding-right:6px;}
.bestsellersProducts li a.productPrice span.burut {color:#616161;font-size:12px;text-decoration:line-through;font-weight:normal;}
.bestsellersProducts li a.productPrice span.TL {font-size:12px;}

#bestsellersProductsBottom {width:986px;height:12px;background:url(../ImagesGld/UrnDModul/bestsellers/bestsellerBottomBG.png) no-repeat;} 