/************ Main Page ***************/

.jcarousel-skin-tango .jcarousel-container {
    background: none;
	margin:0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 256px;
    padding:0 30px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  256px;
    height: 415px;	
}

.jcarousel-skin-tango .jcarousel-item {
   width:  256px;
   height: 415px; 	
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*  Horizontal Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 36px;
    height: 79px;
    cursor: pointer;
    background: url(../imagesgld/mainBG.png) no-repeat -757px -823px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../imagesgld/carouselarrowbig_Right.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position:  -837px -823px;
}



.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -757px -823px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 120px;
    left: 0px;
    width: 36px;
    height: 79px;
    cursor: pointer;
    background: url(../imagesgld/mainBG.png) no-repeat -722px -823px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../imagesgld/carouselarrowbig_Left.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-horizontal:active  {
     background-position: -802px -823px;
}


.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position:  -722px -823px;
}



/************ Inside Page ***************/

.jcarousel-skin-tangoInner .jcarousel-container {
    background: none;
	margin:15px 18px;
}

.jcarousel-skin-tangoInner .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tangoInner .jcarousel-container-horizontal {
    width: 700px;
    padding: 5px 26px 5px 26px;
}

.jcarousel-skin-tangoInner .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tangoInner .jcarousel-clip-horizontal {
    width:  700px;
    height: 246px;	
}

.jcarousel-skin-tangoInner .jcarousel-item {
   width:  234px;
   height: 246px; 	
}

.jcarousel-skin-tangoInner .jcarousel-item-horizontal {
	margin: 0px;
}

.jcarousel-skin-tangoInner .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0px;
}

.jcarousel-skin-tangoInner .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*  Horizontal Buttons */
.jcarousel-skin-tangoInner .jcarousel-next-horizontal {
    position: absolute;
    top: 95px;
    right: 5px;
    width: 21px;
    height: 40px;
    cursor: pointer;
    background: transparent url(../imagesgld/carouselarrowbig_Right.png) no-repeat 0px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../imagesgld/carouselarrowbig_Right.png);
}

.jcarousel-skin-tangoInner .jcarousel-next-horizontal:hover,
.jcarousel-skin-tangoInner .jcarousel-next-horizontal:focus {
    background-position: -22px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-next-horizontal:active {
    background-position: -43px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tangoInner .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tangoInner .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tangoInner .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -65px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-prev-horizontal {
    position: absolute;
    top: 95px;
    left: 5px;
    width: 21px;
    height: 40px;
    cursor: pointer;
    background: transparent url(../imagesgld/carouselarrowbig_Left.png) no-repeat 0px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../imagesgld/carouselarrowbig_Left.png);
}

.jcarousel-skin-tangoInner .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tangoInner .jcarousel-prev-horizontal:focus {
     background-position: -22px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-prev-horizontal:active {
    background-position: -43px 0px;
}

.jcarousel-skin-tangoInner .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tangoInner .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tangoInner .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tangoInner .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -65px 0px;
}