
#complementaryProductsBox {width:986px;height:241px;margin:0 0 10px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
#complementaryProductsHeader {width:970px;height:32px;line-height:32px;background:url(../ImagesGld/UrnDModul/otherProductsHeaderV2.png) no-repeat;padding:6px 8px 10px;text-align:center;}
#complementaryProductsHeader p {background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat right top;padding:0 10px 0 0;height:33px;line-height:33px;display:inline-block;text-align:center;margin:0;max-width:790px;font-size:15px;font-weight:bold;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#00965E;}
#complementaryProductsHeader p span {width:10px;height:33px;display:block;float:left;background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat left top;}

#complementaryProductsArticle {width:974px;display:inline-block;background:url(../ImagesGld/UrnDModul/otherProductsBG-V2.png) repeat-y;padding:0 6px 5px;}
#complementaryProductsArticle ul.article {width:974px;height:181px;margin:0;padding:0;}
#complementaryProductsArticle ul.article li.list {width:189px;height:181px;float:left;padding:0 0 0 7px;background:url(../ImagesGld/UrnDModul/otherProductsLine.jpg) no-repeat left top;list-style:none;float:left;}
#complementaryProductsArticle ul.article li:first-child {padding:0;background:none;}
#complementaryProductsArticle ul.article li.list a.thumbPicture {width:189px;height:100px;display:block;text-align:center;padding-top:5px;}
#complementaryProductsArticle ul.article li.list a.thumbPicture img {width:90px;height:90px;padding:5px;}
#complementaryProductsArticle ul.article li.list a.productName {width:179px;height:45px;display:block;padding:5px;font-size:12px;color:#616161;text-decoration:none;text-align:center;}
#complementaryProductsArticle ul.article li.list a.productPrice {width:189px;display:block;font-size:18px;color:#00965E;text-decoration:none;text-align:center;font-weight:bold;}
#complementaryProductsArticle ul.article li.list a.productPrice span {font-size:13px;font-weight:normal;}
#complementaryProductsArticle ul.article li.list a.productPrice span.grey {color:#616161;text-decoration:line-through;}

#complementaryProductsArticle ul.article li.list:hover a.productName {color:#00965E;}

#complementaryProductsBottom {width:986px;height:9px;background:url(../ImagesGld/UrnDModul/otherProductsBottom.png) no-repeat;} 