﻿.rootercnav .rcframe .rootername p.compareTitle {font-size:17px;font-weight:bold;text-align:left;padding-left:55px;}
.rootercnav .rcframe .rootername img.compareIcon {position:absolute;top:0;left:0;}

.containerIn960 select {width:300px;}

.karsilastirTop {width:960px;display:inline-block;margin:10px 0;}

.karsilastirTop .karsilastirTabloBasliklar {
    background:url(../imagesgld/header_bg.jpg) repeat-x;
    background-repeat: repeat-x;
    color: #FFFFFF;
    float: left;
    height: 35px;
    text-shadow: 0 0 0;
    width: 956px;
    border:2px solid #E0E0E0;
}
.karsilastirTop .karsilastirTabloBasliklar .karsilastirSepetCheck {width:35px;height:35px;line-height:35px;float:left;}
.karsilastirTop .karsilastirTabloBasliklar .karsilastirSepetCheck input {margin:11px;*margin-top:7px;;*margin-left:7px;}
.karsilastirTabloUst1, .karsilastirTabloUst2, .karsilastirTabloUst3 {float:left;line-height:35px;height: 35px;font-size:14px;font-weight:bold;text-align:left;color:#fff;padding-right:5px;}
.karsilastirTabloUst1 {width:560px;padding-right:5px;}
.karsilastirTabloUst2 {width:250px;padding-right:5px;}
.karsilastirTabloUst3 {width:95px;text-align:right;}


.karsilastirTop .karsilastir_Detay {width:958px;display:inline-block;border:1px solid #E0E0E0; border-bottom:none;}

.karsilastirTop .karsilastir_Detay .karsilastirDetaySira1 {border-bottom: 1px solid #E0E0E0;height: 35px;width: 958px;}
.karsilastirTop .karsilastir_Detay .karsilastirDetaySira2 {border-bottom: 1px solid #E0E0E0;height: 35px;width: 958px;background:#EBEBEB;}



.karsilastirCheck {width:35px;height:35px;line-height:35px;float:left;}
.karsilastirCheck input {margin:11px;*margin-top:7px;;*margin-left:7px;}
.karsilastirName, .karsilastirProduct, .karsilastirPrice {float:left;line-height:35px;height:35px;font-weight:bold;text-align:left;padding-right:5px;}
.karsilastirName {width:560px;}
.karsilastirProduct {width:250px;}
.karsilastirPrice {width:95px;text-align:right;}

.karsilastirName a:hover {color:#00965E;}

.karsilastirBTN {width:960px;display:inline-block;margin-top:5px;}
.karsilastirBTN .compareBTN {
    display:block;
    background: url(../imagesgld/karsilastir.png) no-repeat;
    color: #FFFFFF;
    height:38px;
    line-height:30px;
    width:180px;
    padding:3px;
    margin-right:6px;
    font-weight:bold;
    text-align:center;
    border:none;
    float:left;
}

.karsilastirBTN .deleteBTN {
    display:block;
    background: url(../imagesgld/delete.png) no-repeat;
    color: #FFFFFF;
    height:38px;
    line-height:30px;
    width:48px;
    padding:3px;
    margin-right:6px;
    font-weight:bold;
    text-align:center;
    border:none;
    float:left;
}

.karsilastirBTN .compareBTN:hover {background: url(../imagesgld/karsilastirHover.png) no-repeat;color:#fff;border:none;}
.karsilastirBTN .deleteBTN:hover {background: url(../imagesgld/deleteHover.png) no-repeat;color:#fff;border:none;}

.karsilastirBottom {width:960px;display:inline-block;margin:10px 0;padding-bottom:15px;overflow:auto !important;}
.karsilastirBottom table tr.productLine {height:252px;background:#FFFFFF;}
.karsilastirBottom table tr.productLine td.productTitle2 {width:160px;}

.karsilastirBottom table tr td .titleBos {width:160px;display:block;}


.karsilastirBottom table {table-layout:fixed;}
.karsilastirBottom table tr.productLine td .products {display:block;position:relative;height:251px;border:1px solid #E0E0E0;border-bottom:none;}
.karsilastirBottom table tr.productLine td .products .delete {position:absolute;top:0;right:0;*top:4px;width:15px;height:15px;top:4px\9;}
/*.karsilastirBottom table tr.productLine td .products a.delete img {width:20px;height:20px;border:none;}*/
.karsilastirBottom table tr.productLine td .products a.productPIC {display:block; overflow:hidden;height:150px;width:170px;text-align:center;margin:0 auto;}
.karsilastirBottom table tr.productLine td .products .productPIC .productIMG {width:130px;border:none;}
.karsilastirBottom table tr.productLine td .products .productName {display:block;padding:2px 5px 0;font-size:12px;color:#fff;height:40px;text-align:center;background:url(../imagesgld/compareBG.jpg) repeat-x;font-weight:bold; vertical-align:middle;}
.karsilastirBottom table tr.productLine td .products .productPrice {display:block;font-size:16px;font-weight:bold;color:#00965E;height:22px;line-height:22px;text-align:center;}
.karsilastirBottom table tr.productLine td .products .productPrice span {font-size:13px;color:#000000;}
.karsilastirBottom table tr.productLine td .products .productButtons2 {width:100%; padding:10px 0 5px; text-align:center;}
.karsilastirBottom table tr.productLine td .products .productButtons2 img {width:20px;height:20px;}



.karsilastirBottom table tr.productLine1 {background:#F6F6F6;text-align:center;}
.karsilastirBottom table tr.productLine2 {background:#fff;text-align:center;}
.karsilastirBottom table tr.productLine1 td, .karsilastirBottom table tr.productLine2 td {padding:5px;}

.karsilastirBottom table tr.productLine1 .productTitle {text-align:left;font-weight:bold;padding:10px;background:#cfcece;text-shadow:2px 1px #EBEBEB;}
.karsilastirBottom table tr.productLine2 .productTitle {text-align:left;font-weight:bold;padding:10px;background:#d9d9d9;text-shadow:2px 1px #EBEBEB;}

.karsilastirBottom table tr.productLine1 td.productProperty1 {background:#EBEBEB;}
.karsilastirBottom table tr.productLine2 td.productProperty1 {background:#F9F9F9;}

.scrollbar .content{
	position: absolute;
}

.scrollbar {
	overflow:hidden;
	position: absolute;
}
