@charset "UTF-8";
/* CSS Document */
body{margin:0;padding:0;background:#E7EBF2;}
.facebookLoginStepBox {width:500px;height:460px; background:#E7EBF2;margin:0 auto;}
.facebookLoginStepBox .facebookLoginHeader {width:500px;height:84px; background:url(../imagesGld/fbCoonect/facebookLoginHeader.jpg) no-repeat;}
.facebookLoginStepBox .welcomeWebSite {width:350px;height:70px;font-size:14px;font-family:"Trebuchet MS", "Myriad Pro", Arial, Helvetica;color:#627AAD;padding:5px;margin:5px 70px;text-align:left;}
.facebookLoginStepBox .alert {width:350px;height:40px;font-size:12px;font-family:"Trebuchet MS", "Myriad Pro", Arial, Helvetica;color:#d60000;margin:0 70px;}
.facebookLoginStepBox .alert p {margin:0;padding:0;height:20px;line-height:20px;display:block;width:350px;}
.facebookLoginStepBox .alert p span {margin:2px 5px 0 0;display:block;width:16px;height:16px;float:left;}


.facebookLoginStepBox fieldset {border:none;padding:0;margin:0;width:500px;display:inline-block;}
/*.facebookLoginStepBox fieldset form {display:inline-block;width:500px;}*/
.facebookLoginStepBox fieldset .select {margin:10px 0 10px 146px;}
.selectMenu {width:200px;}
.select-wrapper ul {width:200px;}
.facebookLoginStepBox fieldset span {width:280px;margin:0px 0 30px 146px; display:block;height:25px;}
.facebookLoginStepBox fieldset span input {float:left;}
.telephoneCode {width:35px }
.telephoneNumber {width:155px }
label {font-size:12px;font-family:"Trebuchet MS", "Myriad Pro", Arial, Helvetica;color:#a8a8a8;height:15px;line-height:15px;width:330px;display:block;margin:5px 0 5px 90px;float:left;cursor:pointer;}
label:hover {color:#333;}
label .checkbox {margin-top:0 !important;height:15px;line-height:15px;}


.facebookLoginStepBox fieldset input.cancelBTN{background:url(../imagesGld/fbCoonect/vazgec.png) no-repeat left top;cursor:pointer;width:90px;height:39px;margin:30px 0 20px 10px;border:none;float:left;}
.facebookLoginStepBox fieldset input.cancelBTN:hover {background-position:left bottom;}
.facebookLoginStepBox fieldset input.BTN {background:url(../imagesGld/fbCoonect/facebookLoginSave.jpg) no-repeat left top;cursor:pointer;width:180px;height:39px;margin:30px 0 20px 110px;border:none;float:left;}
.f
.facebookLoginStepBox fiene;}
.facebookLoginStepBox fieldset input.BTN:hover {background:url(../imagesGld/fbCoonect/facebookLoginSave.jpg) no-repeat left bottom;}