#side{width:164px; display:inline; position:relative; overflow:hidden; float:left;}

/* --- Links --- */
.accordion a{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;}
/*a:hover, a:focus, a:active {border-color:#bcd; text-decoration:none; outline:0 none;}*/
#side a {display:block; color:#737373; text-decoration:none;}
#side a:hover, #side a:active, #side a:focus {/*background:#fff url(../imagesgld/arrow_filter.gif) no-repeat center left;*/ color:#737373; text-decoration:none;}

/* --- Accordion --- */
.js #main .accordion {visibility:hidden;}
.js #side .accordion {display:none;}
.accordion {margin:0; padding:0px;}
.accordion li {padding:3px 0px; list-style-type:none;}
.accordion li.last-child {margin-left:10px; list-style-type:none;}
#side ul.accordion ul {margin:0px; padding:0 0 0 10px; background:#ededed;}
/*#side ul.accordion ul li{border-bottom:1px dotted #ccc;}*/
#side ul.accordion ul li ul {margin-left:5px; padding:0px; background:#ededed; /*border-top:2px dotted #ccc;*/}
#side ul.accordion ul li ul li{border-bottom:1px dotted #ccc;}
#side ul.accordion ul li ul a {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;}
#side ul.accordion ul li ul a.trigger.open {font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; background:none;}
.accordion .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff;}
.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; overflow:hidden;}
.accordion .inner .inner {padding-bottom:0;}
.accordion .h {padding-top:.3em;}
.accordion p {margin:.5em 0 1em;}
.switch {margin-bottom:.5em;}
/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger {display:block; padding-left:15px; background:none; background-repeat: no-repeat; background-position: 1px 50%;  font-weight:normal;}
#side ul.accordion a.trigger.open {background:#ffffff url(../imagesgld/arrow_filter.gif) no-repeat center left;}
#side ul.accordion ul li a.trigger.open {font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; background-color:#dedede; background-image:none;}


.last-child a.trigger{padding-left:1px; background-image:none; font-weight:normal; text-decoration:none;}
/*#main a.trigger {background-color:#ededed;}
#main a.trigger.open {background-color:#ededed;}
#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#ededed;}
#main .switch a.open {background:transparent none;}	
#side a.active{font-weight:700; color:#f72; text-decoration:none;}*/