﻿
#footerOut {margin-bottom:50px !important;}
.footerBasket {width:100%;height:45px;background:url(../ImagesGld/footerBasket/addBasketBG.png) repeat-x; position:fixed;bottom:0;left:0;display:none;z-index:9999;}
.footerBasket .footerBasketBox {width:976px;height:37px;margin:7px auto 0;padding:0 5px;}

.footerBasket .footerBasketBox .productName {height:35px;padding:0;margin:2px 5px 0 5px;width:430px;display:block;font-weight:bold;color:#ffffff;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;overflow:hidden;float:left;}
.footerBasket .footerBasketBox .productName span.name {display:block;height:35px;overflow:hidden;font-size:13px;}

.footerBasket .footerBasketBox .installment {height:37px;margin:0 0 0 100px;width:270px;display:block;font-weight:bold;color:#ffffff;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;overflow:hidden;float:left;font-size:18px;font-size:15px\9;*font-size:15px;text-align:right;}
.footerBasket .footerBasketBox .installment span {display:block;height:21px;}
.footerBasket .footerBasketBox .installment a {font-size:11px;text-decoration:none;display:block;color:#ffffff;margin-top:0;width:270px;text-align:right;}
.footerBasket .footerBasketBox .installment a:hover {text-decoration:underline;}

.footerBasket .footerBasketBox .footerBasketBTN {width:155px;height:35px;float:right;margin:1px 0 0 0;border:none;}
.footerBasket .footerBasketBox .footerBasketBTN span {display:none;}