#header{width:100%; height:88px; z-index:999; top:0; left:0; float:left;}
#header .hcontainer{width:986px; margin:auto;}
#header .htop{width:100%; height:15px; float:left;}
#header .htop .htleft{width:35%; text-align:left; float:left;}
#header .htop .htright{width:65%; padding:1px 0px; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#074a79; text-align:right; float:left;}
#header .htop .htright a{font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#333;font-weight:bold;}
#header .htop .htright a:hover{font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#074a79;font-weight:bold;}
#header .htop .htright a .fbIMG {height:16px;display:block;float:left;margin-right:3px;overflow:hidden;}
#header .htop .htright a .fbIMG img {width:16px;height:16px;}
#header .hmiddle{width:100%; height:43px; float:left;}
#header .hmiddle .hmleft{width:22%; padding-top:3px; margin-left:-16px; text-align:left; float:left;padding-left:10px;/*padding-top:20px;*/}
#header .hmiddle .hmcenter{width:57.6%; position:relative; text-align:left; float:left;}
#header .hmiddle .hmcenter a {float: right;display: inline-block; margin-right: 5px; border: none;position:absolute;/*top:-19px;*top:-19px;top:-19px\9;right:-40px;*/top:0;*top:0;top:0\9;right:-50px;z-index:99999;}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
     #header .hmiddle .hmcenter a {float: right;display: inline-block; margin-right: 5px; border: none;position:absolute;top:0;right:-50px;}
}


#header .hmiddle .hmright{width:19%; padding-top:3px; text-align:right; float:right;}
#header .hmiddle .hmright .search{width:399px; height:38px; background:url(../imagesgld/search_bg.png) no-repeat; text-align:right; float:right; margin-top:15px;}
#header .hmiddle .hmright .search .searchinput{width:331px; height:26px; padding:5px 0px; text-align:left; float:right;}
#header .hmiddle .hmright .search .searchbutton{width:61px; height:26px; padding:5px 0px; text-align:center; float:right;margin-top:2px;}
#header .hmiddle .hmright .search .searchbutton img{margin-top:3px;}
#header .hbottom{width:100%; height:26px; float:left; margin-top:60px}


#header .hmiddle .hmcenter .search{width:593px; height:38px; background:url(../imagesgld/search_bg.png) no-repeat; text-align:right; float:left; margin-top:11px; margin-left:13px;}
#header .hmiddle .hmcenter .search .searchinput{width:520px; height:26px; padding:5px 0px; text-align:left; float:right;}
#header .hmiddle .hmcenter .search .searchbutton{width:61px; height:26px; padding:5px 0px; text-align:center; float:right;margin-top:2px;}
#header .hmiddle .hmcenter .search .searchbutton img{margin-top:3px;}