/** my account **/
.accountRoot{width:744px; padding:20px; float:left;}
.accountRoot .acountTitle{width:724px; padding:10px; margin-bottom:20px; background:url(../imagesgld/acountpage_titleBg.png) no-repeat; font:bold 16px Trebuchet MS; color:#00965E; text-align:left; float:left;}

/** my order **/
.ordertitle{width:744px; height:30px; float:left;}
.ordertitle .title1{width:20px; height:18px; padding:5px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:center; float:left;}
.ordertitle .title2{width:90px; padding:5px 2px; margin-left:1px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:center; float:left;}
.ordertitle .title3{width:90px; padding:5px 2px; margin-left:1px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:center; float:left;}
.ordertitle .title4{width:160px; padding:5px 2px; margin-left:1px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:center; float:left;}
.ordertitle .title5{width:378px; padding:5px; margin-left:1px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:left; float:left;}
.ordertitle .title10{width:55px; padding:5px; margin-left:1px; color:#00965E; font-size:14px; background:#e8e8e8; text-align:left; float:left;}

.orderchooes{width:742px; padding:0px; margin:5px 0px; color:#616161; border:1px solid #e8e8e8; float:left;}
.orderchooes .chooes1{width:20px; height:18px; padding:5px; text-align:center; float:left;}
.orderchooes .chooes2{width:90px; padding:5px 2px; margin-left:1px; text-align:center; float:left;}
.orderchooes .chooes3{width:90px; padding:5px 2px; margin-left:1px; text-align:center; float:left;}
.orderchooes .chooes4{width:160px; padding:5px 2px; margin-left:1px; text-align:center; float:left;}
.orderchooes .chooes5{width:300px; padding:5px; margin-left:1px; text-align:left; float:left;}
.orderchooes .chooes10{width:55px; padding:5px; margin-left:1px; text-align:left; float:left;}


.orderdetail{width:724px; padding:0px; margin:0px; float:left;}
.orderdetail .odtitle{width:724px; padding:0px; margin:0px; color:#616161; float:left;}
.orderdetail .odtitle .title1{width:80px; font-weight:bold; padding:5px 2px; margin-right:1px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title2{width:250px; font-weight:bold; padding:5px 2px; margin-right:1px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title3{width:90px; font-weight:bold; padding:5px 2px; margin-right:1px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title4{width:40px; font-weight:bold; padding:5px 2px; margin-right:1px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title5{width:110px; font-weight:bold; padding:5px 2px; margin-right:1px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title6{width:117px; font-weight:bold; padding:5px 2px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}
.orderdetail .odtitle .title10{width:55px; font-weight:bold; padding:5px 2px; color:#000000; font-size:12px; background:#e8e8e8; text-align:center; float:left;}

.orderdetail .odchooes{width:724px; padding:0px; margin:0px; color:#616161; float:left;}
.orderdetail .odchooes .chooes1{width:80px;  height:12px; padding:4px 2px; margin-right:1px; text-align:center; float:left;}
.orderdetail .odchooes .chooes2{width:250px; height:12px; padding:4px 2px; margin-right:1px; text-align:left; float:left;}
.orderdetail .odchooes .chooes3{width:90px;  height:12px; padding:4px 2px; margin-right:1px; text-align:right; float:left;}
.orderdetail .odchooes .chooes4{width:40px;  height:12px; padding:4px 2px; margin-right:1px; text-align:center; float:left;}
.orderdetail .odchooes .chooes5{width:110px; height:12px; padding:4px 2px; margin-right:1px; text-align:right; float:left;}
.orderdetail .odchooes .chooes6{width:110px; height:12px; padding:4px; text-align:right; float:left;}

.orderbuttons{width:744px; padding:0px; margin:5px 0px; float:left;}
/** my order **/


/* accordion */
.accordionContainer{width:742px; float:left;}
.accordionContainer .accordionBtn {
	background:#e8e8e8 url('../imagesgld/accordionarrowRed.gif') no-repeat right -51px;
	padding:0px;
	margin: 0px;
	width:50px;
	height:20px;
	cursor: pointer;
	float:left;
	padding-top:5px;
	padding-right:20px;
	padding-left:6px;
}
.accordionContainer .accordionBtn:hover {
	background-color: #e8e8e8;
}
.accordionContainer .accordionBtn.active {
	background-position: right 5px;
}
.accordionContainer .accordionDetail {
	background: #f7f7f7; 
	margin:0px;
	padding: 7px;
	float:left;
}
/* accordion */


/** my order **/