html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0px;
	padding:0px;
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#010101;
}

body{
	overflow-x:hidden;
	background:#fff;
	}

img{border:0px;}
a { text-decoration:none; color:#010101; outline:0;}
a:hover { text-decoration:none; outline:0;}
.clear {clear:both;}

/*** page style ***/

/*  content */
#wrap{width:600px; height:100%; margin:auto;}
#container{width:596px; height:100%; border:2px solid #00965E; background:#fff; float:left;}

#container #header{width:576px; height:56px; padding:5px 10px; margin:0px; background:url(http://www.motulteam.com/imagesgld/mail/header_bg.jpg) repeat-x; float:left;}
#container #header .hleft{width:100px; text-align:left; float:left;}
#container #header .hright{width:466px; font:italic 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-align:right; float:left;}

#container #content{width:560px; height:100%; min-height:300px; padding:20px; font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#010101; float:left;}
#container #content a{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#010101; text-decoration:underline;}
#container #content a:hover{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#010101; text-decoration:none;}



/*  content */


/*  footer */
#container #footer{width:576px; height:74px; padding:8px; margin:0px 2px 2px 2px; background:#000; float:left;}
#container #footer a{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:none;}
#container #footer a:hover{font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:underline;}
#container #footer .ftop{width:580px; height:30px; margin-bottom:10px; font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff;  text-align:center; float:left;}
#container #footer .fbottom{width:580px; float:left;}
#container #footer .fbottom .fbleft{width:180px; text-align:left; font:13px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; float:left;}
#container #footer .fbottom .fbright{width:400px; text-align:right; float:left;}
/*  footer */

/*** page style ***/


.color4e {color:#4e4e4e;}
.colorb0 {color:#b0b0b0;}
.colord8 {color:#00965E;}
.color00 {color:#000000;}
.strong {font-weight: bold;}
.tdunder {text-decoration:underline;}

