﻿/* form elements */
textarea, select{
color: #676767;
font-size: 13px;
line-height: 24px;
padding:2px 4px;
background:none repeat scroll 0 0 #f9f9f9; 
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; 
border: 1px solid #cccccc;
}

input, textarea, select{
color: #676767;
font-size: 13px;
line-height: 24px;
/*padding:2px 4px;*/
outline:none;
resize: none;
margin:0px 0px 0px -3px;
}

input, textarea{padding:0px 4px 8px 4px\9;}/*ie9*/
input[type="text"] {background:none repeat scroll 0 0 #f9f9f9; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid #cccccc;} 
input[type="password"] {background: none repeat scroll 0 0 #f9f9f9; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid #cccccc;} 
input[type="radio"] {border-style:none; background:none; margin:2px 2px 0px 0px;}
/*input[type="checkbox"] {border-style:none; background:none; margin:2px 2px 0px 0px;}*/
input[type="submit"] {background:none repeat scroll 0 0 #db2020; border-top: 1px solid #b71b1b; border-bottom: 1px solid #c21c1c; border-left: 1px solid #bd1c1c; border-right: 1px solid #bd1c1c; font: bold 13px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#ffffff; cursor:pointer; border-radius:4px; -moz-border-radius:4px; padding:2px 4px;}
input[type="submit"]:hover {background:none repeat scroll 0 0 #e92222; border-top: 1px solid #b71b1b; border-bottom: 1px solid #c21c1c; border-left: 1px solid #bd1c1c; border-right: 1px solid #bd1c1c; font: bold 13px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#ffffff; cursor:pointer; border-radius:4px; -moz-border-radius:4px; padding:2px 4px;}
#header .hmiddle .hmright .search .searchinput .txbSearch{width:320px; padding:3px 0px 0px 5px; margin:3px 0px 3px -5px; background:none; border:0px; font:17px "Trebuchet MS", Arial, Helvetica, sans-serif; !important; box-shadow: none;} 
#header .hmiddle .hmcenter .search .searchinput .txbSearch{width:518px; padding:3px 0px 0px 5px; margin:3px 0px 3px -5px; background:none; border:0px; font:17px "Trebuchet MS", Arial, Helvetica, sans-serif; !important; box-shadow: none;} 

#lmframe .filterMenu .filterContainer .layoutSlider #amount{background:none; border:none; box-shadow: none;}
#contentholder .leftpart .firsatlar .selects .scl_firsat{width:150px; background:none repeat scroll 0 0 #f9f9f9; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid #cccccc;} 
#contentholder .leftpart .dashboard .ebulten .txbEBulten{width:140px; height:16px; font:11px "Trebuchet MS",Arial,Helvetica,sans-serif; background:none repeat scroll 0 0 #ffffff; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; border: none;} 

.trans{float:left;}
*:first-child+html .trans{margin-top:-2px; float:left;}/*ie7*/
.chcktxt {display:block; float:left; font-size:12px;  margin:0px;}
/* form elements */

.formTxt {height:25px; text-align:left; float:left;}
.fleft {float: left;}
.fright {float: right;}
.w970{width:970px;}
.w888{width:888px;}
.w890{width:890px;}
.w848{width:848px;}
.w830{width:830px;}
.w800{width:800px;}
.w764 {width:764px;}
/*.w753{width:753px;}*/
.w753{width:783px;}
.w708 {width:708px;}
.w675{width:675px;}
.w657 {width:657px;}
.w638 {width:638px;}
.w590{width:590px;}
.w585{width:585px;}
.w573{width:573px;}
.w553{width:553px;}
.w533{width:533px;}
.w532 {width:532px;}
.w500 {width:500px;}
.w420{width:420px;}
.w400{width:400px;}
.w460{width:460px;}
.w464 {width:464px;}
.w370 {width:370px;}
.w354 {width:354px;}
.w350 {width:350px;}
.w335 {width:335px;}
.w320 {width:320px;}
.w270{width:270px;}
.w257 {width:257px;}
.w250 {width:250px;}
.w240 {width:240px;}
.w230 {width:230px;}
.w225 {width:225px;}
.w215 {width:215px;}
.w210 {width:210px;}
.w200 {width:200px;}
.w185 {width:185px;}
.w180 {width:180px;}
.w170 {width:170px;}
.w165 {width:165px;}
.w157 {width:157px;}
.w130 {width:130px;}
.w126 {width:126px;}
.w100 {width:100px;}
.w78 {width:78px;}
.w85 {width:85px;}
.w75 {width:75px;}
.w60 {width:60px;}
.w50 {width:50px;}
.w40 {width:40px;}
.w38 {width:38px;}
.w35 {width:35px;}
.w30{width:30px;}
.wPrc30{width:%30;}
.w100per {width:100%;}
.mAuto{margin:0 auto !important;}
.mt40 {margin-top:40px !important;}
.mt30 {margin-top:30px !important;}
.mt20 {margin-top:20px !important;}
.mt18 {margin-top:18px !important;}
.mt10 {margin-top:10px !important;}
.mt3 {margin-top:3px;}
.mt-5 {margin-top:-5px;}
.mt-10 {margin-top:-10px;}
.mb3 {margin-bottom:3px;}
.mb50 {margin-bottom:50px !important;}
.ml300 {margin-left:300px;}
.ml210 {margin-left:210px;}
.ml200 {margin-left:200px;}
.ml190 {margin-left:200px;}
.ml28 {margin-left:28px;}
.ml15 {margin-left:15px;}
.ml10 {margin-left:10px;}
.ml5 {margin-left:5px;}
.mr10 {margin-right:10px;}
.mr5 {margin-right:5px;}
.mr8 {margin-right:8px;}
.ml1{margin-left:1px;}
.mr2{margin-right:2px;}
.mt5 {margin-top:5px;}
.mb5 {margin-bottom:5px;}
.mb-5{margin-bottom:-5px !important;}
.mb-10{margin-bottom:-10px;}
.pt4 {padding-top:4px;}
.pt6 {padding-top:6px;}
.pb4 {padding-bottom:4px;}
.pb6 {padding-bottom:6px;}
.pl5 {padding-left:5px;}
.pr5 {padding-right:5px;}
.pd4{padding:4px;}
.pd5{padding:5px;}
.notification {color:#bb0000; font-size: 10px; margin:5px 0px 0px 0; text-align:right;}
.fontTre {font-family:Trebuchet MS !important;}
.fontSz26 {font-size:26px;}
.fontSz25 {font-size:25px;}
.fontSz24 {font-size:24px;}
.fontSz23 {font-size:23px;}
.fontSz22 {font-size:22px;}
.fontSz21 {font-size:21px;}
.fontSz20 {font-size:20px;}
.fontSz19 {font-size:19px;}
.fontSz18 {font-size:18px;}
.fontSz17 {font-size:17px;}
.fontSz16 {font-size:16px;}
.fontSz15 {font-size:15px;}
.fontSz14 {font-size:14px;}
.fontSz13 {font-size:13px;}
.fontSz12 {font-size:12px;}
.h100 {height: 100px !important;}
.h96 {height:96px !important;}
.h84 {height:84px !important;}
.h55 {height:55px !important;}
.h45 {height:45px !important;}
.h29 {height:29px !important;}
.h23 {height:23px !important;}
.color4e {color:#4e4e4e;}
.colorb0 {color:#b0b0b0;}
.colord8 {color:#ee0404;}
.color00 {color:#000000;}
.strong {font-weight: bold !important;}
.lineH20 {line-height:20px;}
.tdunder {text-decoration:underline;}
.clearfix:after {clear:both; content: "."; display:block; height:0; visibility:hidden;}
.taright{text-align:right;}
.tacenter{text-align:center;}
.tdunder{text-decoration:underline;}
.brc4{border:1px solid #c4c4c4;}
.brtopsld5{border-top:1px solid #d5d5d5;}
.brrightdtd5{border-right:1px dotted #d5d5d5;}
.brleftdtd5{border-left:1px dotted #d5d5d5;}
.brtopd5{border-top:1px dotted #d5d5d5;}
.brbottomd5{border-bottom:1px dotted #d5d5d5;}
.bgcolorff{background:#ffffff;}
.bgcolorf8{background:#f8f8f8;}
.bgcolore8{background:#e8e8e8;}
.bgcolorf5{background:#f5f5f5;}
.brleftsld5{border-left:1px solid #d5d5d5;}
.brrightsld5{border-right:1px solid #d5d5d5;}
.brtopsld5{border-top:1px solid #d5d5d5;}
.brbottomsld5{border-bottom:1px solid #d5d5d5;}
.tdline {text-decoration: line-through;}

.loginContent{width:708px; height:348px; background:transparent url(../imagesgld/mainBG.png) no-repeat 0 -557px; float:left;}
.loginContent .lcLeft{width:340px; height:300px; margin:20px 40px; display:block; float:left;}
.loginContent .header {width:340px; font-size:22px; font-weight:bold; padding-bottom:10px; display:block; float:left; }
.loginContent .desc {width:340px; margin-bottom:10px; display:block; float:left;}
.loginContent .desc a {color:#4e4e4e; text-decoration:none;}
.loginContent .desc a:hover {color:#ee0404; text-decoration:underline;}
.loginContent .lcRight {width:240px; height:300px; margin:20px; display:block; float:left;}

.friendinvited {width:668px; height:26px; padding:20px; font-size:18px; color:#4e4e4e; text-shadow: 1px 1px 0 #ffffff !important; background:transparent url('../imagesgld/friendinvited_banner.png') no-repeat top left; display:block; float:left;}
.serviceprovider {width:668px; margin-top:30px; margin-bottom:30px; padding-top:20px; border-top:1px dotted #e2e2e2; float:left;}

.contentForm{width:600px; margin:auto;}
.contentForm .formparameter {width:600px; margin-bottom:2px; float:left;}
.contentForm .formlabel{width:200px; padding:4px; margin-right:2px; font:12px Trebuchet MS; color:#4e4e4e; text-align:right; float:left;}
.contentForm .formdata{width:350px;  text-align:left; float:left;}
.contentForm .forminfo{width:240px; font-size:10px; color:#4e4e4e; margin:5px 0px 5px 210px; text-align:left; float:left;}
.contentForm .formnotification{width:240px; color:#bb0000; font-size:10px; margin:2px 0px 2px 205px; text-align:right; float:left;}
.contentForm .formbutton{width:210px; color:#bb0000; font-size:10px; margin:10px 0px 5px 210px; text-align:left; float:left;}

/* button */
.spriteRedBtn {background:transparent url('../imagesgld/formitems/buttonsGlobal.png') no-repeat top left; color:#ffffff;}
a.link-button-RedBtn {background-position:left -73px; height:28px; line-height:28px; margin:0px; padding-left:6px; display:block; float:left; text-decoration:none;}
a.link-button-RedBtn span {float:left; background-position:right -73px; padding:0px 10px 0px 2px; font-weight:bold;}
a.link-button-RedBtn:hover {background-position:left -101px; text-decoration:none; cursor:pointer;}
a.link-button-RedBtn:hover span {background-position:right -101px; color:#fff; cursor:pointer;}


.spriteGrayBtn {background:transparent url('../imagesgld/formitems/buttonsGlobal.png') no-repeat top left; color:#ffffff;}
a.link-button-GrayBtn {background-position:left -73px; height:28px; line-height:28px; margin:0px; padding-left:6px; display:block; float:left; text-decoration:none;}
a.link-button-GrayBtn span {float:left; background-position:right -73px; padding:0px 10px 0px 2px; font-weight:bold;}
a.link-button-GrayBtn:hover {background-position:left -101px; text-decoration:none; cursor:pointer;}
a.link-button-GrayBtn:hover span {background-position:right -101px; color:#fff; cursor:pointer;}

.spriteGrayBtn {background:transparent url('../imagesgld/formitems/buttonsGlobal.png') no-repeat top left; color:#737373;}
a.link-button-GrayBtn {background-position:left 0px; height:30px; line-height:30px; margin:0px; padding-left:6px; display:block; float:left; text-decoration:none;}
a.link-button-GrayBtn span {float:left; background-position:right 0px; padding:0px 10px 0px 2px; font-weight:bold;}
a.link-button-GrayBtn:hover {background-position:left -31px; text-decoration:none;}
a.link-button-GrayBtn:hover span {background-position:right -31px; color:#333333;}


.spriteSmallGrayBtn {background:transparent url('../imagesgld/formitems/buttonsGlobal.png') no-repeat top left; color:#737373;}
a.link-button-SmallGrayBtn {background-position:left -139px; height:23px; line-height:23px; margin:0px; padding-left:6px; display:block; float:left; text-decoration:none;}
a.link-button-SmallGrayBtn span {float:left; background-position:right -139px; padding:0px 10px 0px 2px;}
a.link-button-SmallGrayBtn:hover {background-position:left -163px; text-decoration:none;}
a.link-button-SmallGrayBtn:hover span {background-position:right -163px; color:#333333;}
/* button */


/* button */
.spriteInfoBtn {background:transparent url('../imagesgld/formitems/buttonsGlobal.png') no-repeat top left; color:#ffffff;}
div.link-button-InfoBtn {background-position:left -73px; height:28px; line-height:28px; margin:0px; padding-left:6px; display:block; float:left; text-decoration:none;}
div.link-button-InfoBtn span {float:left; background-position:right -73px; padding:0px 5px 0px 2px; font-weight:bold;}

.sepetInfo span {background:url('../imagesgld/formitems/buttonsGlobal.png') no-repeat left -193px; color:#ffffff; height:22px; width:82px; line-height:22px; text-decoration:none;text-align:center;display:block;font-weight:bold;margin: 0 auto;}


