﻿.rootercontainer ul {margin:0;padding:0;list-style:none;display:inline-block;}
.rootercontainer ul:hover li {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    -webkit-opacity: 0.6;
    -khtml-opacity: 0.6;    
    opacity:0.6;
    }
.rootercontainer ul li {margin:0;padding:0 0 13px;margin:0 0 5px 6px;list-style:none;width:242px;height:370px;float:left;background:url(/ImagesGld/gununFirsati/gununFirsatiBottomBG.png) no-repeat left bottom;}
.rootercontainer ul li:first-child {margin-left:0;}
.rootercontainer ul li.no-padding {margin-left:0;}
.rootercontainer ul:hover li:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -moz-opacity:1 !important;
    -webkit-opacity: 1 !important;
    -khtml-opacity: 1 !important;    
    opacity:1 !important;
    }
.rootercontainer ul li div {border:1px solid #dddddd;width:240px;height:368px;background:#ffffff url(/ImagesGld/gununFirsati/firsatBG.jpg) repeat-y;}
.rootercontainer ul li:hover div:hover {border:1px solid #CBCACA;}
.rootercontainer ul li div a.motto {width:230px;height:20px;line-height:20px;padding:10px 5px 5px;display:block;overflow:hidden;text-align:center;font-size:15px;font-weight:bold;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainer ul li div a.thumbPicture {width:166px;height:166px;padding:4px 36px 9px;display:block;background:url(/ImagesGld/gununFirsati/firsat-ThumbBG.png) no-repeat top center;}
.rootercontainer ul li div a.thumbPicture img {width:166px;height:166px;border:none;}
.rootercontainer ul li div a.motto2 {width:230px;height:32px;line-height:16px;padding:5px;display:block;overflow:hidden;text-align:center;font-size:12px;font-weight:bold;color:#00965E;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainer ul li div a.productName {width:230px;height:50px;line-height:16px;padding:0 5px 5px;display:block;overflow:hidden;text-align:center;font-size:12px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainer ul li div a.burut {width:230px;height:16px;line-height:16px;padding:5px;display:block;overflow:hidden;text-align:center;font-size:16px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-decoration:line-through;}
.rootercontainer ul li div a.net {width:230px;height:22px;line-height:22px;padding:0 5px;display:block;overflow:hidden;text-align:center;font-size:22px;font-weight:bold;color:#00965E;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainer ul li div a.net span {font-size:15px;}

.rootercontainer ul li div:hover a.motto {color:#00965E;}