.container {
    position: relative;
    float: left;
    margin-top:340px;
}

.main {
    position: relative;
    width: 590px;
    margin: 0px auto;
}

.view {
    width: 187px;
    height: 187px;
    margin: 3px;
    float: left;
    border: 1px solid #CCC;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #E6E6E6;
    cursor: pointer;
    background: url('../images/bgimg.png') no-repeat scroll center center #FFF;
}

.view img {
    display: block;
    position: relative;
}

.view-first img {
    transition: all 0.2s linear 0s;
}

.view .mask, .view .content {
    width: 187px;
    height: 187px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(13, 13, 13, 0.4);
    transition: all 0.4s ease-in-out 0s;
}

.view h2 {
    /*text-transform: uppercase;*/
    color: #FFF;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 5px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 0px 0px;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
}

.view p {
    font-family: Georgia,serif;
    font-style: italic;
    font-size: 19px;
    position: relative;
    color: #FFF;
    padding: 10px 20px 20px;
    text-align: center;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear 0s;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: none repeat scroll 0% 0% #000;
    color: #FFF;
    text-transform: uppercase;
    box-shadow: 0px 0px 1px #000;
    bottom: 20px;
    position: absolute;
    left: 45px;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
}

.view a.info: hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.view:hover {
    border: 1px solid #fff;
}

.view-first:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
