﻿body
{
}
.GridViewStyle
{
    border-right: 1px groove #A7A6AA;
    border-bottom: 1px groove #A7A6AA;
    border-left: 1px groove white;
    border-top: 1px groove white;
    padding: 2px;
}

.GridViewStyle a
{
    color: #DB2020;
}


.GridViewHeaderStyle th
{
    border-left: 1px solid #EBE9ED;
    border-right: 1px solid #EBE9ED;
}

.GridViewHeaderStyle
{
    background-color: #fff7ed;
    font-weight: bold;
    color: White;
    font-size: 16px;
}

.GridViewFooterStyle
{
    background-color: #db2020;
    font-weight: bold;
    color: White;
}

.GridViewRowStyle
{
    background-color: #F7F6F3;
    color: #333333;
    padding: 10px;
    margin: 20px;
}

.GridViewAlternatingRowStyle
{
    background-color: #FFFFFF;
    color: #284775;
}

.GridViewRowStyle td, .GridViewAlternatingRowStyle td
{
    border: 1px solid #EBE9ED;
    padding: 10px;
    margin: 20px;
}

.GridViewSelectedRowStyle
{
    background-color: #E2DED6;
    font-weight: bold;
    color: #333333;
}

.GridViewPagerStyle
{
    background-color: #fff7ed;
    color: #FFFFFF;
}

.GridViewPagerStyle table /* to center the paging links*/
{
    margin: 0 auto 0 auto;
}
