form.jqtransformdone label{
	margin-top:4px;
	margin-right: 8px;
	display: block;
	float:left;
}
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	font-family: Arial;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	background: transparent url(../imagesgld/formitems/btngray_Right.png) no-repeat right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
	height: 33px;
}

button.jqTransformButton span span {
	background: transparent url(../imagesgld/formitems/btngray_Left.png) no-repeat top left;
	color: #333;
	padding: 8px 4px 0px 8px;
	font-weight: normal;
	font-size: 12px;
	line-height: 13px;
	display: block;
	text-decoration: none;
	height: 33px;
}

/*hover*/
button.jqTransformButton_hover span span { background-position: left -33px ; }
button.jqTransformButton_hover span { background-position: right -33px ; }

/*clicked*/
button.jqTransformButton_click span span { background-position: left -66px ; }
button.jqTransformButton_click span { background-position: right -66px ; }

/* IE 6 */
* html button.jqTransformButton { height:33px; }
* button.jqTransformButton span span { height: 25px; }
/* IE 7 */
*+ html button.jqTransformButton { height:33px; }
*+ button.jqTransformButton span span { height: 25px; }


/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	background: transparent url(../imagesgld/input/input_text_left.gif) no-repeat left top;
	height: 26px;
	padding: 0px;
	float:left;
}

.jqTransformInputInner {
	background: transparent url(../imagesgld/input/input_text_right.gif) no-repeat top right;
	padding: 0px;
	margin: 0px;
}

.jqTransformInputInner div {
	height: 26px;
	margin:0px 0px 0px 8px;
}

.jqTransformInputInner div input {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	vertical-align: middle;
	height: 26px;
	color:#404040;	
	border: none;
	padding: 0px;
	padding/*\**/: 6px 0 0 0\9;
	margin: 0px;
	background:transparent;
}

/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:19px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:19px;
}

*+ html .HInputs .jqTransformInputInner div input {
	padding: 8px 0 0 0;
	margin-left:-10px;
	height:19px;
}

/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -26px;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -26px;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -52px;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -26px;}



.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
	margin:0px 10px;
}
.jqTransformSafari .jqTransformInputInner div input {
	background-color: none;
	position: absolute;
	top: -10px;
	left: -2px;
	height: 42px; 
	padding-left: 4px;
	padding-top:2px;
}



/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
	font-size: 12px;
	line-height: 16px;
}

table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}
table.jqTransformTextarea{}
table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url(../imagesgld/textarea/textarea_tl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url(../imagesgld/textarea/textarea_tm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url(../imagesgld/textarea/textarea_tr.gif) no-repeat top left;}

table.jqTransformTextarea td#jqTransformTextarea-ml{background: url(../imagesgld/textarea/textarea_ml.gif) repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-mm{background: url(../imagesgld/textarea/textarea-mm.gif) repeat;}
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url(../imagesgld/textarea/textarea_mr.gif) repeat-y top left;}

table.jqTransformTextarea td#jqTransformTextarea-bl{background: url(../imagesgld/textarea/textarea_bl.gif) no-repeat top left;}
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url(../imagesgld/textarea/textarea_bm.gif) repeat-x top left;}
table.jqTransformTextarea td#jqTransformTextarea-br{background: url(../imagesgld/textarea/textarea_br.gif) no-repeat top left;}

/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(../imagesgld/textarea/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position:-5px 0px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position:0px -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position:0px -5px;}

/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position:-10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(../imagesgld/textarea/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position:0px -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position:0px -10px;}


table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	border: 0px solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top:-10px;
	left:-10px;
	padding: 10px 10px 10px 10px;
	resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(../imagesgld/formitems/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	margin-top:-5px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}
a.jqTransformCheckbox {
	background: transparent url(../imagesgld/formitems/checkboxCompare.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
	margin-top:2px;
}
.moneytransfer .transferapproval span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:0px;
}
.moneytransfer .transferapproval a.jqTransformCheckbox {
	background: transparent url(../imagesgld/formitems/checkboxCompare.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
	margin-top:0px;
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center -17px;}

a.jqTransformRadio.jqTransformChecked { background-position: center -19px;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 26px;
	background: url(../imagesgld/formitems/select_left.gif) no-repeat top left;
	float:left;
	margin-right:10px;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 20px;
	line-height: 15px;
	padding: 6px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 26px;
	height: 26px;
	background: url(../imagesgld/formitems/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 21px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}


.commenrrating .jqTransformSelectWrapper ul {
	height:150px !important;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

/* -------------
* HInputs
 * ------------- */
.HInputs .jqTransformInputWrapper {background: transparent url(../imagesgld/input/Hinput_text_left.gif) no-repeat left top; height:26px; padding:0px; float:left;}
.HInputs .jqTransformInputInner {background: transparent url(../imagesgld/input/Hinput_text_right.gif) no-repeat top right; padding: 0px; margin:0px;}
.HInputs .jqTransformInputInner div {height:26px; margin:0px 0px 0px 8px;}
.HInputs .jqTransformInputInner div input {font-family:Trebuchet MS; font-size:12px; line-height:26px; vertical-align: middle;/*height:29px;*/color:#404040; border:none; padding:0px; margin:0px; background:transparent;}
.HInputs .jqTransformSafari .jqTransformInputInner div input {font-family:Trebuchet MS; font-size:12px; line-height:26px; vertical-align: middle;/*height:29px;*/color:#404040; border:none; padding:2px 0px 0px 0px; margin:0px; background:transparent;}
/*hover*/
.HInputs .jqTransformInputWrapper_hover {background-position: left -26px;}
.HInputs .jqTransformInputWrapper_hover div.jqTransformInputInner {background-position: right -26px;}
/*focus*/
.HInputs .jqTransformInputWrapper_focus {background-position: left -52px;}
.HInputs .jqTransformInputWrapper_focus div.jqTransformInputInner {background-position: right -52px;}
.HInputs .jqTransformSafari .jqTransformInputInner div {position: relative; overflow: hidden; margin:0px 10px;}
/* -------------

* FilterInputs
 * ------------- */
.layoutSlider .jqTransformInputWrapper {background: transparent; height:20px; padding: 0px; margin-top:10px; float:left;}
.layoutSlider .jqTransformInputInner{background: transparent; padding: 0px; margin: 0px;}
.layoutSlider .jqTransformInputInner div {height:20px; margin:0px;}
.layoutSlider .jqTransformInputInner div input {font-family:Trebuchet MS; font-size:12px; line-height:18px; color:#404040; border:none; padding:0px; margin:0px; background:transparent; cursor:default;}

.layoutSlider .jqTransformSafari .jqTransformInputWrapper {background:#000000; height:20px; padding:0px; margin-top:10px; float:left;}
.layoutSlider .jqTransformSafari .jqTransformInputInner{background: transparent; padding:0px; margin:0px; height:20px;}
.layoutSlider .jqTransformSafari .jqTransformInputInner div {height:20px; margin:0px;}
.layoutSlider .jqTransformSafari .jqTransformInputInner div input {font-family:Trebuchet MS; font-size:12px; line-height:18px; color:#404040; border:none; padding:0px; margin: 0px 0px 0px 3px; background:transparent; cursor:default;}


#lmframe .filterMenu .filterList .List a.jqTransformCheckbox {margin-top:-5px !important;}
#rmframe .productList li .productCompare a.jqTransformCheckbox {margin-top:-5px !important;}



*+ html .productCommentHeader #commentForm .w130 {width:130px !important; }
*+ html .productCommentHeader #commentForm .w464 {width:464px !important; }



/*** txt style ***/

/* txbSearch */
.searchinput .jqTransformInputInner div {margin:0px !important;}
.searchinput .jqTransformInputInner div input {width:420px !important; background: none !important; float:none; font-size:17px; color: #676767; height:28px; line-height:28px; overflow:hidden; padding:0px; white-space: nowrap;}
*+ html .searchinput .jqTransformInputInner div input {margin-left:2px !important;}
.searchinput .jqTransformInputInner {background: none !important;}
.searchinput .jqTransformInputWrapper {background: none !important;}

.searchinput .jqTransformSafari .jqTransformInputInner div {margin:0px !important; padding:0px !important;}
.searchinput .jqTransformSafari .jqTransformInputInner div input {width:430px !important; background: none !important; float:none; font-size:17px; color: #676767; height:34px; overflow:hidden; padding:8px 0px 0px 0px; white-space: nowrap;}

.searchinput input.txbSearch{	
	padding:5px;
	font:17px "Trebuchet MS", Arial, Helvetica, sans-serif; !important;
	color: #676767;
	background-color: #ffffff;
	/*background: none !important;*/
	border:none;
	width:424px;
	height:28px;
}

input.txbSearch{
	width:424px;
	border:none; 
	display:block;
	float:left;
	padding:0px;
	background-color: #ffffff;
	/*background: none !important;*/
	text-align:left;
}
/* txbSearch */

/* txbEBulten */
.ebulten .jqTransformSafari .jqTransformInputInner div input {width:140px !important; background: #ffffff; float:none; font-size:17px; color: #676767; height:24px; overflow:hidden; padding:8px 0px 0px 7px; white-space: nowrap;}

.ebulten .jqTransformInputWrapper {width:140px !important;  background: none !important;}
.ebulten .jqTransformInputInner div input {width:130px !important; font-size:13px; !important; background: #ffffff; border-bottom:2px solid #2B5911; float:none; font-size:17px; color: #676767; height:22px; overflow:hidden; padding:2px 0px 0px 0px; white-space: nowrap;}
.ebulten .jqTransformInputInner {background: none !important;  font-size:13px; !important;}
.ebulten input.txbEBulten{	
	padding:0px;
	font-size:13px!important;
	color: #676767;
	background-color: #ffffff;
	/*background: none !important;*/
	border:none;
	width:424px;
	height:14px;
}

input.txbEBulten{
	width:140px;
	height:15px;
	border:none; 
	display:block;
	float:left;
	padding:0px 0px 0px 4px;
	background-color: #ffffff;
	text-align:left;
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #2B5911;
	border:medium none;
	border-bottom:2px solid #2B5911;
	padding:2px;
}
/* txbEBulten */



.sclFirsat{	
	width:110px;
	height:30px;
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #898989;
	border:1px solid #e0e0e0;
	padding:6px 2px;
	background:#fff;
}

/*** txt style ***/


/*** button ***/
a.btnGlobal, a.btngray {
background:transparent url(../imagesgld/formitems/btngray_Right.png) no-repeat scroll right top;
color:#757373;
display:block;
float:left;
font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
height:33px;
line-height:normal;
padding-right:10px;
text-decoration:none;
text-align:center;
overflow:hidden;
}

a.btnGlobal span, a.btngray span{
background:transparent url(../imagesgld/formitems/btngray_Left.png) no-repeat scroll 0 0;
color:#757373;
text-decoration:none;
display:block;
line-height:33px;
padding:0px 0px 5px 10px;
overflow:hidden;
}

a.btnGlobal, a.btngray:hover span{
cursor:pointer;
color:#000; 
text-decoration:none;
overflow:hidden;
}


a.btnGlobal2 {
background:transparent url(../imagesgld/compare_button.png) no-repeat scroll right top;
color:#757373;
display:block;
float:left;
font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
height:29px;
width:76px;
line-height:29px;
line-height:normal;
text-decoration:none;
text-align:center;
}
a.btnGlobal2:hover {cursor:pointer;color:#000;}

.offerbutton2 a.btngray2 {
background:transparent url(../imagesgld/compare_button.png) no-repeat;
color:#757373;
display:block;
float:left;
font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
height:28px;
line-height:28px;
text-decoration:none;
text-align:center;
width:76px;
}
a.btngray2:hover{cursor:pointer;color:#000;}

a.btngray2 span{
background:transparent url(../imagesgld/compare_button.png) no-repeat scroll 0 0;
color:#757373;
text-decoration:none;
display:block;
line-height:29px;
padding:0px 0px 5px 10px;
overflow:hidden;
}

a.btngray2:hover span{
cursor:pointer;
color:#000; 
text-decoration:none;
overflow:hidden;
}


a.btnGlobal, a.btnred {
background:transparent url(../imagesgld/formitems/btnred_Right.png) no-repeat scroll right top;
font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#fff;
display:block;
float:left;
height:30px;
line-height:normal;
padding-right:10px;
text-decoration:none;
text-align:center;
overflow:hidden;
}

a.btnGlobal span, a.btnred span{
background:transparent url(../imagesgld/formitems/btnred_Left.png) no-repeat scroll 0 0;
font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
display:block;
line-height:30px;
padding:0px 0px 5px 10px;
overflow:hidden;
}

a.btnGlobal, a.btnred:hover span{
cursor:pointer;
color:#000; 
text-decoration:none;
overflow:hidden;
}

a.btnGlobal, a.btnred:hover span{
cursor:pointer;
color:#000; 
text-decoration:none;
overflow:hidden;
}

.btnsize14{font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
/*** button ***/