﻿.tabInnerContent .campaignDiv {width:888px;height:302px;position:relative;}
.tabInnerContent .campaignDiv a {width:888px;height:302px;display:block;}
.tabInnerContent .campaignDiv a img {border:none;}

.tabInnerContent .campaignDiv label {width:230px;height:27px;display:block;line-height:25px;font-size:15px;font-weight:bold;color:#616161;padding:5px 5px 5px 15px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;cursor:pointer;position:absolute;z-index:1;bottom:27px;right:20px;}
.tabInnerContent .campaignDiv label:hover {color:#00965E;}
.tabInnerContent .campaignDiv label span {padding-right:30px;display:inline-block;}
.tabInnerContent .campaignDiv label span input {padding:0;margin:7px 0 0;}
