﻿.rootercontainerdf ul {margin:0;padding:0;list-style:none;display:inline-block;}
.rootercontainerdf ul:hover li {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;    
    opacity:1;
    }
.rootercontainerdf ul li {margin:0;padding:0 0 13px;margin:0 0 0px 0px;list-style:none;width:196px;height:89px;float:left;background:url(/ImagesGld/gununFirsati/gununFirsatiBottomBG.png) no-repeat left bottom;}
.rootercontainerdf ul li:first-child {margin-left:0;}
.rootercontainerdf ul li.no-padding {margin-left:0;}
.rootercontainerdf ul:hover li:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    filter: alpha(opacity=60) !important;
    -moz-opacity:0.6 !important;
    -webkit-opacity: 0.6 !important;
    -khtml-opacity: 0.6 !important;    
    opacity:0.6 !important;
    }
.rootercontainerdf ul li div {border:1px solid #dddddd;width:145px;height:89px;background:#ffffff url(/ImagesGld/gununFirsati/firsatBG.jpg) repeat-y;}
.rootercontainerdf ul li:hover div:hover {border:1px solid #CBCACA;}
.rootercontainerdf ul li div a.motto {width:230px;height:20px;line-height:20px;padding:10px 5px 5px;display:block;overflow:hidden;text-align:center;font-size:15px;font-weight:bold;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainerdf ul li div a.thumbPicture {width:145px;height:89px;padding:0px 0px 0px;display:block;background:url(/ImagesGld/gununFirsati/firsat-ThumbBG.png) no-repeat top center;}
.rootercontainerdf ul li div a.thumbPicture img {width:196px;height:89px;border:none;}
.rootercontainerdf ul li div a.motto2 {width:230px;height:32px;line-height:16px;padding:5px;display:block;overflow:hidden;text-align:center;font-size:12px;font-weight:bold;color:#00965E;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainerdf ul li div a.productName {width:230px;height:50px;line-height:16px;padding:0 5px 5px;display:block;overflow:hidden;text-align:center;font-size:12px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainerdf ul li div a.burut {width:230px;height:16px;line-height:16px;padding:5px;display:block;overflow:hidden;text-align:center;font-size:16px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-decoration:line-through;}
.rootercontainerdf ul li div a.net {width:230px;height:22px;line-height:22px;padding:0 5px;display:block;overflow:hidden;text-align:center;font-size:22px;font-weight:bold;color:#00965E;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.rootercontainerdf ul li div a.net span {font-size:15px;}

.rootercontainerdf ul li div:hover a.motto {color:#00965E;}