
.landingPageArticle {width:960px;display:inline-block;color:#616161;font-size:14px;}

.landingPageArticle .landingParagraph {color:#616161;font-size:16px; margin:5px 0 10px;}
.landingPageArticle strong.kurallar {font-size:15px;}

.landingPageArticle ul.landingList {
	list-style: none;
	margin: 15px 0 0 15px;
	padding: 0;
}


.landingPageArticle ul.landingList li {
    background: url("/imagesgld/landing/icon_check16.png") no-repeat scroll left top transparent;
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 25px;
    color:#616161;
}

/*
.landingPage {
	font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif;
	margin: 0 auto;
	width: 984px;
}
.landingPage ul.breadcrumbs {
	list-style: none;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0;
}
.landingPage ul.breadcrumbs li {
	float: left;
	margin-right: 5px;
}
.landingPage ul.breadcrumbs li,
.landingPage ul.breadcrumbs a {
	color: #535353;
}
.landingPage ul.breadcrumbs a {
	text-decoration: none;
}
.landingPage ul.breadcrumbs a:hover {
	text-decoration: underline;
}
.landingPage ul.breadcrumbs span {
	font-weight: 700;
}
.landingPage .landingContainer {
	background-color: #FFF;
	overflow: hidden;
	padding: 10px;
}
.landingPage .landingClear {
	clear: both;
}
*/