@charset "utf-8";
/* CSS Document */

/* slider layout */
.lof-slidecontent { position:relative;	overflow:hidden; background:#fff; }/*
.lof-slidecontent .preload{	height:100%;	width:100%;	position:absolute;	top:0;	left:0;	z-index:100000;	text-align:center;	background:#FFF}
.lof-slidecontent .preload div{	height:100%;	width:100%;	background:transparent url(../imagesgld/load-indicator.gif) no-repeat scroll 50% 50%;}*/

.lof-slidecontent .sliders-wrapper{	position:relative;	height:100%;	width:338px;	z-index:3px;	overflow:hidden; }
.lof-slidecontent ul.sliders-wrap-inner{overflow:hidden;	background:transparent;	padding:0px;	margin:0;	position:absolute;	overflow:hidden; list-style:none;}
.lof-slidecontent ul.sliders-wrap-inner li{overflow:hidden;	padding:0px;margin:0px;	float:left;	position:relative;}
.lof-slidecontent .lof-opacity  li{position:absolute;	top:0;	left:0;	float:inherit; }


.lof-slidecontent .navigator-content { position:absolute;
    background: none repeat scroll 0 0 #000000;
	opacity:0.8;
    border-radius: 5px 5px 5px 5px;
    bottom: 5px;
    padding: 1px 6px;
    position: absolute;
    right: 268px;
}
.lof-slidecontent .navigator-wrapper{	position:relative;	z-index:10;
	height:180px;
	width:310px;
	overflow:hidden;
	color:#FFF;
	float:left
}
.lof-slidecontent ul.navigator-wrap-inner{	top:0;	padding:0;	margin:0;	position:absolute;	width:100%; }
.lof-slidecontent ul.navigator-wrap-inner li{ cursor:hand; 	cursor:pointer;	list-style:none;	padding:0;	margin-left:0px;	overflow:hidden;	float:left;	display:block;	text-align:center;}

/*******************************************************/
 
ul.sliders-wrap-inner li img{	padding:0px;	}

.lof-slidecontent .slider-description a.readmore{color:#58B1EA; font-size:95%; }
.lof-slidecontent .slider-description a{ color:#FFF; }
.lof-slidecontent .slider-description{
	z-index:100px;
	position:absolute;
	bottom:50px;
	left:0px;
	width:350px;
	background:url(../imagesgld/bg_trans.png);
	height:100px;
	padding:10px;
	color:#FFF;
}
.lof-slidecontent .slider-description h4 {    font-size: 14px;    margin: 10px 0;    padding: 0; }
.lof-slidecontent .slider-description .slider-meta a{	
	margin:0;
	background:#C01F25;
	font-size:75%;
	padding:2px 3px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
	text-transform:uppercase;
	text-decoration:none
}
.lof-slidecontent  .item-meta a:hover{	text-decoration:underline;}
.lof-slidecontent  .item-meta i {	font-size:70%; }

/* item navigator */
 
.navigator-wrapper{
	 color: #FFFFFF;
    float: left;
    height: 180px;
    overflow: hidden;
    position: relative;
    width: 310px;
    z-index: 100;
}
.navigator-wrap-inner{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}

.lof-slidecontent ul.navigator-wrap-inner li {
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	padding:0;
	margin-left:0px;
	overflow:hidden;
	float:left;
	display:block;
	text-align:center;
	top:0px;
	left:0px;
}
.lof-slidecontent ul.navigator-wrap-inner li span{
	display:block; padding:6px; position:relative; line-height:0.5em  }

.lof-slidecontent ul.navigator-wrap-inner li.active ,
.lof-slidecontent ul.navigator-wrap-inner li:hover  {
	background:#FFF;
	color:#000;
	display:block;
	-moz-transition:background-color  0.8s
}



.lof-slidecontent .button-next, 
.lof-slidecontent .button-previous{
	display:block;
	width:20px;
	color:#FFF;
	cursor:pointer;
	position:absolute;
	height:100%;
	z-index:40;
	top:0;
	text-indent:-999px;

}
.lof-slidecontent .button-next {
	right:0px;
	background:url(/imagesgld/banner_next.png) no-repeat right center;
}
.lof-slidecontent .button-previous {
	left:0px;
	background:url(/imagesgld/banner_previous.png) no-repeat left center;
}

.lof-slidecontent .button-control {
    float: left;
    height: 18px;
    width: 16px;
	cursor:hand; cursor:pointer
}
.lof-slidecontent .action-start  {
	background:url(../imagesgld/banner_play.png) no-repeat center center #FFF;
}
.lof-slidecontent .action-stop  {
	background:url(../imagesgld/banner_pause.png) no-repeat center center #FFF;
}


.lof-slidecontent .slide {width:596px; height:318px; padding:20px; float:left;}
.lof-slidecontent .slide .left{width:200px; height:298px; margin-right:20px; float:left;}
.lof-slidecontent .slide .left .pic {width:200px; height:200px; margin-bottom:5px; text-align:center; float:left;}
.lof-slidecontent .slide .left .price {width:200px; margin-top:10px; font:bold 12px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#737373; text-align:center; float:left;}
.lof-slidecontent .slide .left .price .discount{width:200px; padding:0px; font:bold 14px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#00965E; text-align:center; float:left;}
.lof-slidecontent .slide .left .price .discount span{font:bold 18px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#00965E; text-decoration:line-through;}
.lof-slidecontent .slide .left .price .cost{width:200px; padding:0px; font:bold 16px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#000000; text-align:center; float:left;}
.lof-slidecontent .slide .left .price .cost span{font:bold 22px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#000000;}
.lof-slidecontent .slide .left .price .tlira{width:200px; padding:0px; font:bold 12px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#00965E; text-align:center; float:left;}
.lof-slidecontent .slide .left .price .tlira span{font:bold 16px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#00965E; text-align:center; }
.lof-slidecontent .slide .left .price .gain{width:182px; height:20px; padding:2px 5px; font:12px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#000; background:url(../imagesgld/kazanciniz_bg.png) no-repeat; text-align:center; float:left;}
.lof-slidecontent .slide .left .price .gain .gleft{width:68px; height:20px; font:13px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#fff; text-align:left; float:left;}
.lof-slidecontent .slide .left .price .gain .gright{width:106px; padding:0px 4px; font:bold 13px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#000; text-align:center; float:left;}


.lof-slidecontent .slide .right{width:370px; height:318px; float:left;}
.lof-slidecontent .slide .right .title {width:370px; padding:10px 0px; font:24px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#00965E; text-align:center; float:left;}
.lof-slidecontent .slide .right .title span{font:bold 15px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#616161;}
.lof-slidecontent .slide .right .contents {width:370px; height:180px; padding:5px 0px; font:13px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#616161; text-align:left; float:left;}
.lof-slidecontent .slide .right .contents .icons {width:370px; margin-top:10px; text-align:left; float:left;}
.lof-slidecontent .slide .right .buttons {width:370px; padding:0px; font:12px "Trebuchet MS",Arial,Helvetica,sans-serif; color:#666; text-align:right; float:left;}