﻿.genel			{ margin:0 auto; width:780px;  color:#444444; border:1px solid #d2d2d2; font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif }

.yeni_soru		{ margin:5px 0 0 0 }
.mesajlar		{ margin:10px 0 20px 0}

.Ys_Baslik		{ border-bottom:1px solid #d2d2d2; margin-top:15px; height:17px}
.Ys_BaslikText	{ color:#00965E; font-size:16px; margin-left:25px;}
.YS_Sol			{ width:300px;  margin:10px 10px 0 10px; float:left}
.YS_Sag			{ width:440px;  margin:10px 10px 0 0; float:left}
.clear			{ clear:both}

.ComboText		{ width:80px; font-size:12px; margin:13px 0 0 0; float:left}
.ComboBox		{ width:200px; height:22px; background-color:#f4f4f4; margin:10px 0 0 0; border:1px solid #d2d2d2; }
.ComboInput		{ width:150px; height:18px; background-color:#f4f4f4; margin:10px 0 0 0; border:1px solid #d2d2d2;}

.ComboText2		{ width:110px; font-size:12px; margin:13px 0 0 10px; float:left}
.ComboInput2	{ width:304px; height:18px; background-color:#f4f4f4; margin:10px 0 0 0; border:1px solid #d2d2d2;}
.ComboTextArea	{ width:300px; height:180px; background-color:#f4f4f4; margin:10px 0 0 0; border:1px solid #d2d2d2;}
.ComboBtn		{ width:54px; height:22px; margin:10px 50px 0 0; float:right; background-repeat:no-repeat}

.Mesaj_Tbl		{ margin:2px 0 0 10px; font-size:12px}
.Mesaj_Tblbg	{ width:760px; height:25px; background-color:#ce0b00; float:left; margin-top: 5px;}
.Mesaj_TblBsl	{ padding:5px 0 0 10px; color:white; top:5px; width:288px; float:left}
.Mesaj_TblBsl2	{ padding:5px 0 0 24px; color:white; top:5px; width:135px; float:left}

.Mesaj_TblSt1		{ width:294px; height:20px; background-color:#f4f4f4; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444 }
.Mesaj_TblSt2		{ width:130px; height:20px; background-color:#f4f4f4; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444}
.Mesaj_TblSt3		{ width:291px; height:20px; background-color:#f4f4f4; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444}

.Mesaj_TblSt4		{ width:294px; height:20px; background-color:#efefef; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444 }
.Mesaj_TblSt5		{ width:130px; height:20px; background-color:#efefef; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444}
.Mesaj_TblSt6		{ width:291px; height:20px; background-color:#efefef; border-bottom:1px #d5d5d5 solid; border-top:1px #ffffff solid; float:left; padding:5px 0 0 15px; color:#444444}


.Mesaj_YeniGif		{ margin:2px 5px 0 -2px; float:left;}
.Mesaj_Tbl a 		{ text-decoration:none; color: #444444;}
.Mesaj_Tbl a:hover 	{ text-decoration:none; color:#0068b3; }

.Ayrintilar			{ width:760px;  margin-top:20px; margin-bottom:10px; border:1px solid #d2d2d2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#f4f4f4}
.Ayrintilar_Arrow   { margin:-13px 0 0 30px; position:absolute}

.Ayr_Text			{ margin:10px 0 2px 20px}
.Ayr_TextBlue		{ margin:3px 0 2px 25px; color:#00965E; float:left}
.Ayr_TextBlack		{ margin:3px 0 2px 5px; color:#444444; float:left}
.Ayr_TextArea		{ margin:2px 0 0 18px; height:120px; width:715px; border:1px solid #d2d2d2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#FFFFFF}
.Ayr_TextArea2		{ margin:2px 0 0 18px; height:120px; width:715px; border:1px solid #d2d2d2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#facfcf}
.Ayr_TextAreaYS		{ width:350px; height:180px; background-color:#FFFFFF; margin:2px 0 0 20px; border:1px solid #d2d2d2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.Ayr_Ayrac			{ width:715px; height:1px; border-top:1px #d5d5d5 solid; border-bottom:1px #ffffff solid; margin:30px 0 0 22px }
.Ayr_Radio			{ width:70px; margin:3px 0 0 15px; float:right}

.Ayr_GndBtn			{ width:54px; height:22px; margin:12px 0 0 5px; background-repeat:no-repeat}
.Ayr_KydBtn			{ width:54px; height:22px; margin:0px 28px 0 10px; float:right; background-repeat:no-repeat}

