/*****  MENU ******/
#navigation 
{
	font-size:17px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 	
	color:#fff;
	/*width:245px;*/
	height:30px; 
	text-align:left; 
	float:left;
	position:relative;
	/*margin:0 1px;*/
	top:45px;
}
#navigation .dropmenu{
	position: relative;
	margin: 0px;
	padding: 0px;
	display:block;
	height: 26px;		
}
#navigation .dropmenu li 
{
    font-size:16px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#fff;
	display:inline-block;
	position:relative;
	margin:0px;
	/*padding:0 0 0 3px;*/
	float:left;	
	list-style:none;
	border-bottom: 1px solid #fff!important;
    border-top: 1px solid #fff!important;
    background: #fff !important;
}

#navigation .dropmenu li a
{
	width:190px;
	height: auto;	
	font-size:14px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#000;
	font-weight:300;
	display:block;
	text-align:left;	
}
#navigation .dropmenu li:hover{
	/*padding:0 0 0 3px;*/
	border-bottom: 1px solid #dddddd!important;
    border-top: 1px solid #dddddd!important;
    background: #fafafa !important;

}

#navigation .dropmenu > li > ul > li{
    border-left: 4px solid #fff;
}
#navigation .dropmenu > li > ul > li:hover{
    border-left: 4px solid #a8a8a8;
}

#navigation .dropmenu li:hover a {}

#navigation .dropmenu li:hover{/*border:1px solid #f2f2f2;*/}

/***** PC ******/
#navigation .dropmenu li:hover .pc{
	display: block;
}
#navigation .dropmenu .pc{
	padding:5px;
	margin:0px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	width:800px;
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .pc{
	width:800px;
	padding:5px;
	margin:0px 0px 0px 0;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}

/***** PC ******/


/***** Telephone ******/
#navigation .dropmenu li:hover .telephone{
	display: block;
}
#navigation .dropmenu .telephone{
	width:800px;
	padding:5px;
	margin:0px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .telephone{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}
/***** Telephone ******/

/***** Electronic ******/
#navigation .dropmenu li:hover .electronic{
	display: block;
}
#navigation .dropmenu .electronic{
	width:800px;
	padding:5px;
	margin:-1px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;	
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .electronic{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}
/***** Electronic ******/

/***** FotoCamera ******/
#navigation .dropmenu li:hover .fotocamera{
	display: block;
}
#navigation .dropmenu .fotocamera{
	width:800px;
	padding:5px;
	margin:-1px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;		
	left: 6px;
    top: -6px;
}
*:first-child+html #navigation .dropmenu .fotocamera{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}
/***** FotoCamera ******/

/***** BeyazEsya ******/
#navigation .dropmenu li:hover .beyazEsya{
	display: block;
}
#navigation .dropmenu .beyazEsya{
	width:800px;
	padding:5px;
	margin:-1px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;		
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .beyazEsya{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}
/***** BeyazEsya ******/


/***** HomeAppliances ******/
#navigation .dropmenu li:hover .homeappliances{
	display: block;
}
#navigation .dropmenu .homeappliances{
	width:800px;
	padding:5px;
	margin:-1px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;	
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .homeappliances{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}
/***** HomeAppliances ******/

/***** OtherProducts ******/
#navigation .dropmenu li:hover .otherproducts{
	display: block;
}
#navigation .dropmenu .otherproducts{
	width:500px;
	padding:5px;
	margin:-2px 0px 0px -1px;
	position: absolute;
	display: none;
	background:#fafafa;
	text-align:left;
	float:left;	
	left: 5px;
    top: -5px;
    /*box-shadow: 3px 3px 10px #888888;*/
    /*border:1px solid #dddddd !important;*/
    border-top:1px solid #dddddd !important;
    border-right:1px solid #dddddd !important;
    border-bottom:1px solid #dddddd !important;
}

*:first-child+html #navigation .dropmenu .otherproducts{
	width:500px;
	padding:5px;
	margin:-2px 0px 0px -1px;
	position: absolute;
	background:#fafafa;
	text-align:left;
	float:left;
	left: 5px;
    top: -5px;	
    /*border:1px solid #dddddd !important;*/
    border-top:1px solid #dddddd !important;
    border-right:1px solid #dddddd !important;
    border-bottom:1px solid #dddddd !important;
}

/***** OtherProducts ******/

/***** SpecialProducts ******/
#navigation .dropmenu li:hover .specialproducts{
	display: block;
}
#navigation .dropmenu .specialproducts{
	width:800px;
	padding:5px;
	margin:-1px 0px 0px 0px;
	position: absolute;
	display: none;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;	
	left: 6px;
    top: -6px;
}

*:first-child+html #navigation .dropmenu .specialproducts{
	width:800px;
	padding:5px;
	margin:24px 0px 0px 0px;
	position: absolute;
	background:#fff;
	border:1px solid #a8a8a8;
	text-align:left;
	float:left;
	left: 6px;
    top: -6px;
}

/***** SpecialProducts ******/


/*****  MAGAZALAR******/
#navigation .dropmenu li.mymenuBg{
	padding-left:3px;
	}
	
#navigation .dropmenu li.mymenuBg a{
	display:block;
	background:url(/imagesgld/nav_MymnOnbg.png) repeat-x;
	text-align:center;
	width:117px;
}

#navigation .dropmenu li.mymenuBg:hover a{
	background:url(/imagesgld/nav_mnOnbg.png) repeat-x;
}

/*****  MAGAZALAR******/
.extraButtons {width:986px;height:35px;position:absolute;left:-3px;bottom:-32px;*bottom:-35px;}
a.campaignBTN, a.allProductsBTN {height:35px !important;display:block !important;text-align:center !important;font-size:18px !important;color:#fff !important;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif !important;line-height:30px !important;font-weight:bold !important;margin:0 !important;padding:0 !important; text-shadow:none !important;float:left;}
a.campaignBTN {width:697px !important;background:url(/imagesgld/navigation/bonusHeaderBTN.png) no-repeat left bottom !important;}
a.campaignBTN:hover {background-position:left top !important;}
a.allProductsBTN {width:286px !important;background:url(/imagesgld/mainBG.png) no-repeat 0 -486px !important;}
a.allProductsBTN:hover {background-position:0 -521px !important;}


#navigation .dropmenu li div div.category {width:90px;height:125px;display:block;float:left;margin:3px;padding:0;float:left;background:#fff;border:1px solid #dddddd;margin-left:5px;}
#navigation .dropmenu li div div.category:hover {
    border:1px solid #f2f2f2;
	-moz-box-shadow: 0px 0px 5px #565656;
    -webkit-box-shadow: 0px 0px 5px #565656;
    box-shadow: 0px 0px 5px #565656;    
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#fff;
	border-color:#666\0/;
	}

		
#navigation .dropmenu li div a.banner1 {padding:0;width:130px;height:280px;float:right;border:none;margin:3px 5px 0 0;background:none;display:block;overflow:hidden;text-shadow:none;}
#navigation .dropmenu li div a.banner2 {padding:0;width:478px;height:142px;float:left;border:none;margin:3px 2px 3px 3px;background:none;display:block;overflow:hidden;text-shadow:none;}
#navigation .dropmenu li div a.banner3 {padding:0;width:478px;height:142px;float:left;border:none;margin:3px 0 3px 2px;background:none;display:block;overflow:hidden;text-shadow:none;}

#navigation .dropmenu li div a.banner1 img {width:130px;height:280px;}
#navigation .dropmenu li div a.banner2 img, #navigation .dropmenu li div a.banner3 img {width:478px;height:142px;}

#navigation .dropmenu li div a.banner1:hover, #navigation .dropmenu li div a.banner2:hover,#navigation .dropmenu li div a.banner3:hover {border:none;}



#navigation .dropmenu li div div.category a.img {width:80px;height:80px;display:block;text-align:center;text-shadow:none;display:block;background:none;padding:0 5px;}	
#navigation .dropmenu li div div.category a.img img {width:80px;height:80px;}

#navigation .dropmenu li div div.category a.categoryName {width:80px;height:30px;display:block;font-size:13px;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;color:#656565;text-shadow:none;font-weight:normal;padding:1px 5px;text-align:center;background:none;line-height:100%;}
#navigation .dropmenu li div div.category a.categoryName2 {width:80px;height:30px;display:block;font-size:13px;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;color:#656565;text-shadow:none;font-weight:normal;padding:1px 5px;text-align:center;background:none;line-height:115%;}
#navigation .dropmenu li div div.category div.redName {color:#fe0000;}

