/*****  MENU ******/
#navigationMenu 
{
	font-size:17px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 	
	color:#fff;
	width:984px; 
	height:26px; 
	text-align:left; 
	float:left;
	position:relative;
	z-index:9999;
	margin:0 1px;
	background: url(../imagesgld/mainmenu_bg.jpg) top repeat-x;
}
#navigationMenu .dropmenu{
	position: relative;
	margin: 0px;
	padding: 0px;
	display:block;
	height: 26px;		
}
#navigationMenu .dropmenu li 
{
    font-size:16px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#fff;
	display:inline-block;
	position:relative;
	margin:0px;
	padding:0 0 0 3px;
	float:left;
	
	list-style:none;
	height: 26px;
}

#navigationMenu .dropmenu li a
{
	width:120px;
	height: 26px;	
	font-size:14px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#fff;
	display:block;
	text-align:center;
	text-shadow:2px 1px 3px #000000;
 	line-height: 25px;	
}
#navigationMenu .dropmenu li:hover{
	padding:0 0 0 3px;
}

#navigationMenu .dropmenu li:hover a {background:url(/imagesgld/nav_mnOnbg.png) repeat-x;}

/***** PC ******/
#navigationMenu .dropmenu li:hover .pc{
	display: block;
}
#navigationMenu .dropmenu .pc{
	padding:5px;
	margin:-1px 0px 0px -3px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	width:967px;
}

*:first-child+html #navigationMenu .dropmenu .pc{
	width:967px;
	padding:5px;
	margin:24px 0px 0px 0;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;
}

/***** PC ******/


/***** Telephone ******/
#navigationMenu .dropmenu li:hover .telephone{
	display: block;
}
#navigationMenu .dropmenu .telephone{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -126px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
}

*:first-child+html #navigationMenu .dropmenu .telephone{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -123px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;
}
/***** Telephone ******/

/***** Electronic ******/
#navigationMenu .dropmenu li:hover .electronic{
	display: block;
}
#navigationMenu .dropmenu .electronic{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -249px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;	
}

*:first-child+html #navigationMenu .dropmenu .electronic{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -246px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}
/***** Electronic ******/

/***** FotoCamera ******/
#navigationMenu .dropmenu li:hover .fotocamera{
	display: block;
}
#navigationMenu .dropmenu .fotocamera{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -372px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;		
}
*:first-child+html #navigationMenu .dropmenu .fotocamera{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -369px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}
/***** FotoCamera ******/

/***** BeyazEsya ******/
#navigationMenu .dropmenu li:hover .beyazEsya{
	display: block;
}
#navigationMenu .dropmenu .beyazEsya{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -495px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;		
}

*:first-child+html #navigationMenu .dropmenu .beyazEsya{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -492px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}
/***** BeyazEsya ******/


/***** HomeAppliances ******/
#navigationMenu .dropmenu li:hover .homeappliances{
	display: block;
}
#navigationMenu .dropmenu .homeappliances{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -618px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;	
}

*:first-child+html #navigationMenu .dropmenu .homeappliances{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -615px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}
/***** HomeAppliances ******/

/***** OtherProducts ******/
#navigationMenu .dropmenu li:hover .otherproducts{
	display: block;
}
#navigationMenu .dropmenu .otherproducts{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -741px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;	
}

*:first-child+html #navigationMenu .dropmenu .otherproducts{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -738px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}

/***** OtherProducts ******/

/***** SpecialProducts ******/
#navigationMenu .dropmenu li:hover .specialproducts{
	display: block;
}
#navigationMenu .dropmenu .specialproducts{
	width:967px;
	padding:5px;
	margin:-1px 0px 0px -864px;
	position: absolute;
	display: none;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;	
}

*:first-child+html #navigationMenu .dropmenu .specialproducts{
	width:967px;
	padding:5px;
	margin:24px 0px 0px -738px;
	position: absolute;
	background:#fff;
	border:3px solid #EF8201;
	text-align:left;
	float:left;
	top:0;
	left:0;	
}

/***** SpecialProducts ******/


/*****  MAGAZALAR******/
#navigationMenu .dropmenu li.mymenuBg{
	padding-left:3px;
	}
	
#navigationMenu .dropmenu li.mymenuBg a{
	display:block;
	background:url(/imagesgld/nav_MymnOnbg.png) repeat-x;
	text-align:center;
	width:117px;
}

#navigationMenu .dropmenu li.mymenuBg:hover a{
	background:url(/imagesgld/nav_mnOnbg.png) repeat-x;
}

/*****  MAGAZALAR******/
.extraButtons {width:986px;height:35px;position:absolute;left:-3px;bottom:-32px;*bottom:-35px;}
a.campaignBTN, a.allProductsBTN {height:35px !important;display:block !important;text-align:center !important;font-size:18px !important;color:#fff !important;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif !important;line-height:30px !important;font-weight:bold !important;margin:0 !important;padding:0 !important; text-shadow:none !important;float:left;}
a.campaignBTN {width:697px !important;background:url(/imagesgld/navigation/bonusHeaderBTN.png) no-repeat left bottom !important;}
a.campaignBTN:hover {background-position:left top !important;}
a.allProductsBTN {width:286px !important;background:url(/imagesgld/mainBG.png) no-repeat 0 -486px !important;}
a.allProductsBTN:hover {background-position:0 -521px !important;}


#navigationMenu .dropmenu li div div.category {width:130px;height:135px;display:block;float:left;margin:3px;padding:0;float:left;background:#fff;border:1px solid #dddddd;}
#navigationMenu .dropmenu li div div.category:hover {
    border:1px solid #f2f2f2;
	-moz-box-shadow: 0px 0px 5px #565656;
    -webkit-box-shadow: 0px 0px 5px #565656;
    box-shadow: 0px 0px 5px #565656;    
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#fff;
	border-color:#666\0/;
	}

		
#navigationMenu .dropmenu li div a.banner1 {padding:0;width:130px;height:280px;float:right;border:none;margin:3px 5px 0 0;background:none;display:block;overflow:hidden;text-shadow:none;}
#navigationMenu .dropmenu li div a.banner2 {padding:0;width:478px;height:142px;float:left;border:none;margin:3px 2px 3px 3px;background:none;display:block;overflow:hidden;text-shadow:none;}
#navigationMenu .dropmenu li div a.banner3 {padding:0;width:478px;height:142px;float:left;border:none;margin:3px 0 3px 2px;background:none;display:block;overflow:hidden;text-shadow:none;}

#navigationMenu .dropmenu li div a.banner1 img {width:130px;height:280px;}
#navigationMenu .dropmenu li div a.banner2 img, #navigationMenu .dropmenu li div a.banner3 img {width:478px;height:142px;}

#navigationMenu .dropmenu li div a.banner1:hover, #navigationMenu .dropmenu li div a.banner2:hover,#navigationMenu .dropmenu li div a.banner3:hover {border:none;}



#navigationMenu .dropmenu li div div.category a.img {width:120px;height:103px;display:block;text-align:center;text-shadow:none;display:block;background:none;padding:0 5px;}	
#navigationMenu .dropmenu li div div.category a.img img {width:103px;height:103px;}

#navigationMenu .dropmenu li div div.category a.categoryName {width:120px;height:30px;display:block;font-size:13px;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;color:#656565;text-shadow:none;font-weight:bold;padding:1px 5px;text-align:center;background:none;line-height:100%;}
#navigationMenu .dropmenu li div div.category a.categoryName2 {width:120px;height:30px;display:block;font-size:13px;font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;color:#656565;text-shadow:none;font-weight:bold;padding:1px 5px;text-align:center;background:none;line-height:115%;}
#navigationMenu .dropmenu li div div.category div.redName {color:#EF8201;}

