/*------------------- FONT LICENSE */

@font-face {
    font-family: 'fontBold';
    src: url('../fonts/fontBold.ttf');
    src: url('../fonts/fontBold.woff') format('woff'),
         url('../fonts/fontBold.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}


*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	height:100%;
	font-family:'fontBold', sans-serif;
	background:#B2CEDA url(../imagesGld/newYear/cloud.png) repeat-x center 140px !important;
/*	background:#ea0000 url(../imagesGld/newYear/bodyBG.jpg) repeat-x;*/
	
}
#wrap {height:820px;*height:840px;}
#contentholder{margin-top:230px;position:relative;z-index:2;height:600px;background:url(../imagesGld/newYear/noel.png) no-repeat 60px 0;}
#contentholder a span {display:none;}

a.cepTelefonlari, a.tabletler, a.notebooklar, a.fotografMak, a.evAletleri, a.televizyonlar {position:absolute;display:block;background-position:left top;}
a.cepTelefonlari {width:235px;height:155px;background: url(../imagesGld/newYear/cepTel.png) no-repeat;left:30px;top:80px;}
a.tabletler {width:210px;height:167px;background: url(../imagesGld/newYear/tablet.png) no-repeat;left:345px;top:120px;}
a.notebooklar {width:255px;height:153px;background: url(../imagesGld/newYear/dizUstu.png) no-repeat;left:10px;top:270px;}
a.fotografMak {width:198px;height:158px;background: url(../imagesGld/newYear/foto.png) no-repeat;left:325px;top:300px;}
a.evAletleri {width:240px;height:153px;background: url(../imagesGld/newYear/evAletleri.png) no-repeat;left:75px;top:435px;}
a.televizyonlar {width:249px;height:244px;background: url(../imagesGld/newYear/televizyon.png) no-repeat;left:600px;top:340px;}

a.cepTelefonlari:hover {;background: url(../imagesGld/newYear/cepTel-hover.png) no-repeat;}
a.tabletler:hover {background: url(../imagesGld/newYear/tablet-hover.png) no-repeat;}
a.notebooklar:hover {background: url(../imagesGld/newYear/dizUstu-hover.png) no-repeat;}
a.fotografMak:hover {background: url(../imagesGld/newYear/foto-hover.png) no-repeat;}
a.evAletleri:hover {background: url(../imagesGld/newYear/evAletleri-hover.png) no-repeat;}
a.televizyonlar:hover {background: url(../imagesGld/newYear/televizyon-hover.png) no-repeat;}



#footerOut{position:relative;z-index:2;margin-bottom:80px;}
#footer .kategoriler {background:url(../imagesGld/newYear/footerBG2.png); margin:0;padding:10px 0 15px 10px;width:970px;}
/**************************ie7*********************/
#footer .kategoriler {*padding-bottom:10px;*padding-top:15px;}
*:first-child+html #footer .kategoriler div ul li {margin-top:0}
/**************************ie7*********************/

/**************************ie8*********************/
#footer .kategoriler div ul li {margin-top:0\0/}
#footer .kategoriler  {padding-top:15px\0/;padding-bottom:10px\0/;}
/**************************ie8*********************/


/**************************ie9*********************/
@media screen and (min-width:0\0) {
    #footer .kategoriler {padding-bottom:15px}
    #footer .kategoriler div ul li {margin-top:3px}
}
/**************************ie9*********************/

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #footer .kategoriler div ul li {margin-top:0px}
}









#footer .kategoriler div.borderNone ul {width:135px;}
/*#footer .kategoriler div ul li.categoryTitle {color:#fff;font-size:13px;}
#footer .kategoriler div ul li a {color:#fff;}*/
div.ebulten span.bultenTitle {color:#fff;}
#footer .copyright span.copyrightTitle {color:#fff;}

#footerSnow{
	position:fixed;
	background:url(../imagesGld/newYear/footerBG.png) no-repeat center bottom;
	z-index:1;
	width:100%;
	height:100%;
	bottom:0;
}
	
	

#headerCountDown{
	width:100%;
	height:127px;
    background:url(../imagesGld/newYear/bg.jpg);
	-moz-box-shadow:0px 5px 10px #4b5c63;
	-webkit-box-shadow:0px 5px 10px #4b5c63;
	box-shadow:0px 5px 10px #4b5c63;
	position:absolute;
	z-index:2;
	top:87px;
	left:0;

}

#merry{
	position:absolute;
	z-index:3;
	top:390px;
	left:5px;
	background:url(../imagesGld/newYear/merry.png) no-repeat;
	width:200px;
	height:100px;
}



#wrapper{
	width:600px;
	margin:0 auto;
}

.clear{
	width:100%;
	clear:both;
}

a{
	outline:0;
	border:0;
}



/*---------------------- COUNTDOWN SEPCIFIC */

#daysOne, #hoursOne, #minsOne, #secsOne{
width:140px;
float:left;
padding:5px;
color:#ada68f;
font-size:60px;
text-shadow: 0px 2px 2px #d2cab1;
text-align:center;
font-family:'Trebuchet MS', Arial, Verdana, Tahoma, helvetica, sans-serif; 
font-weight:bold;
}

#daysboxDiv, #hoursboxDiv, #minsboxDiv, #secsboxDiv{
width:240px;
float:left;
padding:5px;
position:relative;
height:250px;
}


.boxImgTree{
background:url(../imagesGld/newYear/tree.png) no-repeat;
vertical-align:bottom;
display:table-cell;
width:40px;
height:40px;
float:left;
}
.boxImgPresent{
background:url(../imagesGld/newYear/present.png) no-repeat;
vertical-align:bottom;
display:table-cell;
width:40px;
height:40px;
float:left;
}


.boxImgSnow{
background:url(../imagesGld/newYear/snow.png) no-repeat;
vertical-align:bottom;
display:table-cell;
width:40px;
height:40px;
float:left;
}

.boxImgReindeerOne{
background:url(../imagesGld/newYear/reindeer.png) no-repeat;
vertical-align:bottom;
display:table-cell;
width:30px;
height:30px;
float:left;
}

.boxImgReindeerTwo{
background:url(../imagesGld/newYear/reindeertwo.png) no-repeat;
vertical-align:bottom;
display:table-cell;
width:30px;
height:30px;
float:left;
}

.daysImg{
width:140px;
height:35px;
background:url(../imagesGld/newYear/days.png) no-repeat 0 -5px;
margin:0 auto;

}

.hoursImg{
width:140px;
height:35px;
background:url(../imagesGld/newYear/hours.png) no-repeat 0 -5px;
margin:0 auto;
}

.minsImg{
width:140px;
height:35px;
background:url(../imagesGld/newYear/minutes.png) no-repeat 0 -5px;
margin:0 auto;
}

.secsImg{
width:140px;
height:35px;
background:url(../imagesGld/newYear/seconds.png) no-repeat 0 -5px;
margin:0 auto;
}



#days, #hours, #mins, #secs {
color:#ada68f;
font-size:60px;
text-shadow: 0px 2px 2px #d2cab1;
text-align:center;
font-family: fontBold, 'Trebuchet MS', Arial, Verdana, Tahoma, helvetica, sans-serif; 
font-weight:bold;
}