/** base carousel **/
.no-js .carousel ul {position:static;}

.carousel ul {
	position:absolute;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.carousel .mask {
   position:relative;
   overflow:hidden;
}

.carousel ul li {
	width:194px; 
	height:195px;
	color:#fff;
	padding:5px 10px; 			
	margin:0;
	font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#737373; 
	/*border:1px solid #fff; */
	text-align:center;
	float:left;
}

/*.carousel ul li:hover {
border:1px solid #ccc;
background:#F3F3F3;
}*/
.carousel ul li a {display:inline-block;margin-top:1px;cursor:pointer;}
.carousel ul li:hover a {border:1px solid #dddddd;margin-top:0;}

.carousel ul li .offerpic {
/*height:100px;*/
height:100px;
width:192px;
text-align:center;
margin-top: 5px;
}
/*.carousel ul li .offerpic img {border:1px solid #dddddd;}*/
.carousel ul li .offername {
height:30px;
width:192px;
padding:5px 0px;
text-align:center;
font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#949494;
}

.carousel ul li .offerproperties {
height:30px;
width:192px;
padding:5px 0px;
text-align:center;
font-weight:bolder;
}

.carousel .pagination-links {
list-style:none;
margin-bottom:-12px;
padding:0;
text-align:center;
}

.carousel .pagination-links li {
font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#949494;
display:inline;
border:1px solid #fff;
}

.carousel .pagination-links li a {
padding:0px 6px;
border:1px solid #fff;
}

.carousel .pagination-links li a:hover {text-decoration:none;}
.carousel .pagination-links li.current a {
background:#00965E;
/*border:1px solid #00965E;*/
color:#fff;
padding:0px 6px !important;
text-align:right;
line-height:22px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
 
*+ html .carousel .pagination-links li a:hover {text-decoration:none;}
.carousel .pagination-links li.current a {
background:#00965E;
/*border:1px solid #00965E;*/
color:#fff;
padding:0px 6px 0px 6px !important;
text-align:right;
line-height:30px;
}
 
.carousel .disabled {
	color:gray;
	cursor:default;
}
/** my carousel 3 **/
#my-carousel-3 .mask {
	position:relative; 
	overflow:hidden; 
	width:638px;
	*width:636px;
	height:410px !important;
	float:left;
}

/** my carousel 1 
#my-carousel-1 .mask {
	width:150px;
}

 my carousel 2
#my-carousel-2 .mask {
	width:630px;
}

#my-carousel-2 ul li {
	margin:0 10px 0 0;
}**/

		
