
#otherProductsBox {width:986px;height:auto;margin:0 0 10px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
#otherProductsHeader {width:970px;height:32px;line-height:32px;background:url(../ImagesGld/UrnDModul/otherProductsHeaderV2.png) no-repeat;padding:6px 8px 10px;text-align:center;}
#otherProductsHeader p {background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat right top;padding:0 10px 0 0;height:33px;line-height:33px;display:inline-block;text-align:center;margin:0;max-width:790px;font-size:15px;font-weight:bold;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#00965E;}
#otherProductsHeader p span {width:10px;height:33px;display:block;float:left;background:url(../ImagesGld/UrnDModul/otherProductsTitleBG.jpg) no-repeat left top;}

#otherProductsArticle {width:956px;display:inline-block;background:url(../ImagesGld/UrnDModul/otherProductsBG-V2.png) repeat-y;padding:5px 15px;}
#otherProductsArticle ul.article {width:954px;margin:0;padding:0;}
#otherProductsArticle ul.article li.list {list-style:none;float:left;padding-bottom:1px;background:url(../ImagesGld/UrnDModul/lineBottom.jpg) no-repeat left bottom;width:133px;height:20px;margin:0 13px 3px;display:block;}
#otherProductsArticle ul.article li.list a {height:20px;width:121px;display:block;background:url(../ImagesGld/UrnDModul/bullet_red6x6.png) no-repeat 2px 7px;font-size:11px;color:#616161;text-align:left;line-height:20px;overflow:hidden;padding-left:12px;text-decoration:none;}
#otherProductsArticle ul.article li.list a:hover {color:#00965E;}

#otherProductsBottom {width:986px;height:9px;background:url(../ImagesGld/UrnDModul/otherProductsBottom.png) no-repeat;} 