#pagingcontainer  {
   width:96%;
   padding:10px 10px;
   text-align:right;
   float:right;
}

#pagingcontainer .pagination {
   font-size: .9em;
   font-weight: bold;
   text-align: right;
   padding: 10px 0px;
   line-height: 180%;
   white-space: normal;
   clear: both;
   float:right;
}
#pagingcontainer .pagination span {
   position: absolute;
   left: -1000px;
}
#pagingcontainer .pagination a,
#pagingcontainer .pagination strong {
   text-decoration: none;
   
   text-align: center;
   vertical-align: top;
   float: left;
   text-align: center;
   padding: 0;
   margin-right: 2px;
   border: 1px solid;
   width: 1.8em;
   height: 1.7em;
   -moz-border-radius: .3em;
   -webkit-border-radius: .3em;
}
#pagingcontainer .pagination a {
   background-color: #F1F6F5;
   /*color: inherit;*/
   border-color: #fff;
}
#pagingcontainer .pagination a:visited {
   color: #767676;
   background-color: #F1F6F5;
   /*color: inherit;*/
   text-decoration: none;
}
#pagingcontainer .pagination a:hover {
   background-color: #EDECE4;
   color: #000;
   border-color: #C9C7BC #808080 #808080 #C9C7BC;
   /*-moz-appearance: toolbarbutton;*/
}
#pagingcontainer .pagination a:active,
#pagingcontainer .pagination a:focus {
   background-color: #E0DFD7;
   color: #000;
   border-color: #808080 #C9C7BC #C9C7BC #808080;
   /*-moz-appearance: toolbarbutton;*/
}
.pagination strong {
   background-color: #fff;
   color: #00965E;
   border-color: #808080 #C9C7BC #C9C7BC #808080!important;
}
#pagingcontainer .pagination .skip {
   border: none;
   background-color: transparent;
   color: #000;
   position: static;
   float: left;
   margin-right: 2px;
   width: auto;
   height: 1.7em;
}
#pagingcontainer .pagination .skip:visited {
   color: #767676;
   background-color: transparent;
}
#pagingcontainer .pagination .skip:hover,
#pagingcontainer .pagination .skip:active,
#pagingcontainer .pagination .skip:focus {
   /*padding: 2px 4px;*/
   background-color: transparent;
   color: inherit;
   -moz-appearance: none;
}
#pagingcontainer .pagination img {
   margin: 5px 2px 0px 2px;
}
/*#pagingcontainer .pagination a[title="Eine Seite vor"] {
   margin-right: -4px;
}*/

#pagingcontainer .pagination::after {
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

#pagingcontainer .pagination span.select {
   text-align: center;
   position: relative;
   left: 0;
   float: left;
   background-color: #F1F6F5;
   color: inherit;
   margin-right: 2px;
   padding: 0;
   border: 1px solid #c8d6d6;
   border-color: #c8d6d6 #9EADAD #9EADAD #c8d6d6;
   min-width: 1.8em;
   /*min-height: 1.6em;*/
   height: 1.7em;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}
#pagingcontainer .pagination span.select:hover {
   background-color: #EDECE4;
   color: #000;
   border-color: #C9C7BC #808080 #808080 #C9C7BC;
   /*-moz-appearance: toolbarbutton;*/
   /*-moz-appearance: toolbarbutton;*/
}
#pagingcontainer .pagination span.select::before {
   content: "...";
   position: static;
   display: inline;
   cursor: default;
   font-weight: bold;
   color: #036;
   background-color: transparent;
}
#pagingcontainer .pagination span.select:hover::before {
   color: #000;
   background-color: transparent;
}
#pagingcontainer .pagination span.select::after {
   content: url(ico_menuebutton.png);
   cursor: default;
   background-color: transparent;
}
#pagingcontainer .pagination span.select:hover::after {
   content: url(ico_menuebutton_hover.png);
}
#pagingcontainer .pagination span.select span.option {
   display: none;
   position: absolute;
   z-index: 9;
   left: -1px;
   text-align: left;
   padding: 0 1em 1em;
   margin-left: -1em;
   width: 9.5em;
   
   /*background-color: #fff;
   color: inherit;
   border: 1px solid;
   border-color: #c9c7bc #808080 #808080 #c9c7bc;
   padding: 2px;*/
}
#pagingcontainer .pagination span.select:hover span.option {
   display: block;
   /*opacity: 0.9;*/
}
#pagingcontainer .pagination span.select span.option span.items {
   position: static;
   background-color: #fff;
   color: inherit;
   border: 1px solid;
   border-color: #c9c7bc #808080 #808080 #c9c7bc;
   padding: 2px 2px 0;
   float: left;
}
#pagingcontainer .pagination span.select span.option span.items::after {
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
   overflow: hidden;
}
#pagingcontainer .pagination span.select span.option:hover {
   /*opacity: 1;*/
}
#pagingcontainer ul#ext-liste+h5 {
   margin-top: -1.5em;
}
#pagingcontainer ul+h5+.pagination span.select:hover span.option {
   bottom: 1.75em;
   padding: 1em 1em 0;
   z-index: 11;
}
#pagingcontainer .pagination span.select span.buttons::after {
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}
#pagingcontainer .pagination > span.select a {
   margin: 2px 1px;
}
