﻿#backgroundPopup
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 10000;
}
#popupContact
{
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 284px;
    width: 630px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 10001;
    padding: 12px;
    font-size: 13px;
    margin-top: 50px;
}
#popupContact h1
{
    text-align: center;
    color: #6FA5FD;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px dotted #D3D3D3;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
#popupContactClose
{
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #6fa5fd;
    font-weight: 700;
    display: block;
    cursor: pointer;
}
#button
{
    text-align: center;
    margin: 100px;
}
