.goldchoose-whiteout{
	background:#fff;
	position:relative;
	width:753px;
	height:700px;}
	
.gold-stage {
	position: absolute;
	/*height:750px;*/
	width:auto;
	left:150px;
	display:inline-block;
	}
	
	.gold-stage .gold-aniwrap{
	position: absolute;
	top: 2px;
	left: 2px;
	z-index:9;}

	.gold-stage img{
	border:0;
	vertical-align:middle;
	max-width:550px;
	/*max-height:550px;*/
	}

/*.gold-stage:before{
	width:200px;
	height:250px;
	background:none;
	position:absolute;
	top:-35px;
	left:-40px;
	content:" ";
	z-index:10;}

.gold-stage:after{
	width:200px;
	height:124px;
	background:none;
	position:absolute;
	bottom:-18px;
	right:-105px;
	content:" ";
	z-index:10;}*/
	
.gold-stage .caption{
	font-family:Trebushed MS;
	font-size:26px;
	padding:8px;
	width:96%;
	color:#3f3618;
	background:white;
	position:absolute;
	bottom:2px;
	left:2px;}
	
.gold-textnav{
	display:none;}

.gold-counter{
	display:none;}
	
.gold-imgnav a {
	position: absolute; 
	text-indent: -5000px; 
	height: 48px; 
	width: 32px;
	display: block;
	z-index:3;	
	background:url(../imagesgld/gallerycontrols.png) top left no-repeat;
	cursor:pointer;
	top:5px;
	right:10px;}
	
	.gold-imgnav a.previous , .gold-imgnav a.next{
		display:none;}
	.gold-imgnav a.play {
		background-position:0 0;}
		
	.gold-imgnav a.pause {
		background-position:-35px 0;}


.gold-thumbs li{
	background:none;
	float:left;
	list-style: none;
	width: 89px;
    height:85px;
	overflow:hidden;
	margin:3px 0;
	border:1px solid #c4c4c4;
	padding:2px;
	}

.gold-thumbs li .clip{
	position:relative;
	height:100%;
	overflow: hidden;
	text-align:center;
	}
	
	
.gold-thumbs li .clip div{
	position:relative;
	height:100%;
	overflow: hidden;
	text-align:center;
	}
		
	
.gold-thumbs li .clip div img{
	margin:2px;
	position:static !important;
	cursor:pointer;
	z-index:99999999;
	display:inline;
	overflow:hidden;
	opacity:1;
	width:85px !important;
	height:85px !important;
	opacity:1 !important;
	}

#goldme{
	width: 95px;}
	
.gold-stage{
	/*border:1px solid #ffffff;*/
	padding:2px;}	
	
.jcarousel-container-vertical {
	position:absolute !important;
	top:50px;
	left:10px; 
	width: 95px;
	height: 580px;}
	
.jcarousel-clip-vertical { 
	width:  95px; 
	height: 580px;
	overflow:hidden;}
	
.jcarousel-item-vertical { margin-top: 10px;}

.jcarousel-prev,.jcarousel-next{
	width:30px;
	height:48px;
	background:url(../imagesgld/gallerycontrols.png) top left no-repeat;
	display:block;
	position:absolute;
	left:35px;
	cursor:pointer;
	/*filter:alpha(opacity=60);
	 opacity:0.6;*/}
	 
.jcarousel-prev:hover, .jcarousel-next:hover{
	/*filter:alpha(opacity=100);
	opacity:1.0;*/}
	
.jcarousel-prev-disabled:hover, .jcarousel-next-disabled:hover{
	/*filter:alpha(opacity=60);
	opacity:0.6;*/}
	
.jcarousel-prev{
	background-position: -155px 0;
	top:-35px;}
	
.jcarousel-next{
	background-position: -111px 0;
	bottom:-35px;} 	