@import "sliders.css";

.slider-wrap {
	position: absolute;
	left: 0;
	top: 0;
	height: 338px;
	width:636px;
	z-index: 1;
	/*border: 1px solid #666;
	background: white;*/
}
.slider-wrap:after {position: absolute; display: block; content: ""; /*background: url('../img/sprite.png') 0 -52px;*/ left: 0; bottom: -39px;}
.demo-block .description {
	position: absolute;
	z-index: 0;
	height: 200px;
	width: 330px;
	padding: 0 20px 0 470px;
	right: 0;
	top: 20px;
	background: white;
	border: 1px solid #d1d1d1;	
}
.demo-block .description:before {
	position: absolute; display: block; content: ""; background: url('../imagesGld/slider4/border-h.png') repeat-x; width: 810px; height: 1px; left: 5px; top: 5px; opacity: 0.3;
}
.demo-block .description:after {
	position: absolute; display: block; content: ""; background: url('../imagesGld/slider4/border-h.png') repeat-x; width: 810px; height: 1px; left: 5px; bottom: 5px; opacity: 0.3;
}

#demo2 .slider-wrap, #demo2 {
	height: 300px;
}

#demo4 .slider-wrap, #demo4 {
	height: 320px;
}

#demo4 .description {
	height: 280px;
}

#demo4 .slider-wrap {
	border: none;
	background: white;
	width: 475px;
	border: 1px solid #d1d1d1;
}

.videos h2 {
	display: block;
	margin: 80px 0 40px 0 !important;
}


.clear {
	clear: both;
}



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }

