﻿.scroll-top {
    position: fixed;
    bottom: 12%;
    right: 2%;
    z-index: 100;
    background-image: url("/images/icons/arrow_up.png");
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.scroll-top a:link, .scroll-top a:visited {
    color: #222;
}
