.example {
	width:648px; 
	height:394px; 
	padding:0px; 
	background:#fff; 
	border:1px solid #e0e0e0; 
	float:left;
}

#gallery {
	padding: 0px;
	background: #fff;
}
#descriptions {
	position: relative;
	height: 50px;
	background: #EEE;
	margin-top: 10px;
	width: 640px;
	padding: 10px;
	overflow: hidden;
}
#descriptions .ad-image-description {
  position: absolute;
}
#descriptions .ad-image-description .ad-description-title {
	
}

