/*
	SLIDER 4
*/

.slider4-wrap {
	position: relative;
	width: 632px;
	height: 286px;
}
.slider4-wrap img.bigCampaign {
	width: 590px;
	height: 250px;
	border:none;
}

.slider4-wrap:hover .slider4-arrow {
	opacity: 1;
	
}
.slider4-slide {
	position: absolute;
	left: 0;
	top: 0;
	/*padding: 2px;*/
	border: 1px solid #ccc;
    overflow:hidden;
    width:590px;
    height:250px;
}
.slider4-ticker-wrap {
	position: absolute;
	bottom: 0px;
	width: 590px;
	height: 30px;
	left: -2px;
	text-align: center !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
     .slider4-ticker-wrap {left: -2px;}
}

.slider4-ticker {
	display: inline-block !important;
	/*margin: 10px 0 0 0px;*/
	padding: 0;
	position: relative;
	border: 1px solid #ccc;
	padding: 1px;
	cursor: pointer;
	*width: 56px !important;
	*float:left;
	/*margin:0 1px;*/
	*padding-left:3px;
	*padding-right:2px;	
}
.slider4-ticker img {
	width: 50px;
	height:50px;
	position: relative;
}
.slider4-active-ticker {
	border-color: #555;
}
.slider4-arrow-prev {
	left: 10px;
	background: url('/ImagesGld/slider4/ui.png') 0 0;
}
.slider4-arrow-next {
	right: 50px;
	background: url('/ImagesGld/slider4/ui.png') -32px 0;
}
.slider4-arrow {
	top: 40%;
	margin-top: -15px;
	width: 31px;
	height: 48px;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	z-index: 9999;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}











































































