@charset "UTF-8";

.smillarSupplyDiv {width:660px;display:inline-block;margin:10px 5px 0;}
.smillarSupplyDiv .supplyArticle {width:660px;height:30px;font-size:16px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:bold;}
.smillarSupplyDiv .similarProducts {width:660px;height:156px;margin-top:10px;}
.smillarSupplyDiv .similarProducts .smilarHead {width:640px;height:32px;line-height:32px;padding:0 10px;color:#00965E;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:15px;text-align:left;background:url(../ImagesGld/UrnDModul/SmilarItems/similarItemsTitle.jpg) no-repeat;font-weight:bold;}
.smillarSupplyDiv .similarProducts .bestsellers {width:658px;height:123px;border:1px solid #c6cbd0;border-top:none;margin:0;padding:0;}
.smillarSupplyDiv .similarProducts .bestsellers li {margin:0;padding:0;list-style:none;width:658px;height:40px;border-top:1px solid #c6cbd0;background:url(../ImagesGld/UrnDModul/SmilarItems/similarItemsBG.jpg) no-repeat left top;float:left;}

.smillarSupplyDiv .similarProducts .bestsellers li .picLink {float:left;display:inline-block;}
.smillarSupplyDiv .similarProducts .bestsellers li .picLink img {width:40px;height:40px;border-right:1px solid #c6cbd0;border:1px solid #c6cbd0;border-left:none;border-top:none;border-bottom:none;}
.smillarSupplyDiv .similarProducts .bestsellers li .nameLink {width:500px;height:40px;line-height:40px;display:block;font-size:13px;color:#616161;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-align:left;overflow:hidden;text-decoration:none;float:left;padding:0 4px 0 5px;}

.smillarSupplyDiv .similarProducts .bestsellers li .priceLink {width:99px;height:40px;float:left;}


.smillarSupplyDiv .similarProducts .bestsellers li .priceLink a.brut {text-decoration:line-through !important;font-size:11px;color:#616161;height:14px;width:99px;display:block;line-height:15px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-decoration:none;display:block;text-align:center;padding:3px 4px 0;}
.smillarSupplyDiv .similarProducts .bestsellers li .priceLink a.net {font-size:14px;color:#00965E;height:20px;width:99px;display:block;line-height:20px;font-weight:bold;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-decoration:none;display:block;text-align:center;padding:0 4px;}

.smillarSupplyDiv .similarProducts .bestsellers li:hover .nameLink {color:#00965E;}
.smillarSupplyDiv .similarProducts .bestsellers li:hover .priceLink a.net {text-decoration:underline;}