
.sol
{
    float: left;
    width: 200px;
}
.top20
{
    margin-top: 0px;
    float: left;
    border: 1px solid #CCC;
}
.caruselmarka
{
    margin-top: 27px;
    float: left;
    border: 1px solid #CCC;
    width: 197px;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button
{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after
{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button
{
    display: none;
}
#cssmenu
{
    width: 190px;
    z-index: 99999;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    background: #a8a8a8;
    background: -moz-linear-gradient(top, #a8a8a8 0%, #a8a8a8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8a8a8), color-stop(100%, #a8a8a8));
    background: -webkit-linear-gradient(top, #a8a8a8 0%, #a8a8a8 100%);
    background: -o-linear-gradient(top, #a8a8a8 0%, #a8a8a8 100%);
    background: -ms-linear-gradient(top, #a8a8a8 0%, #a8a8a8 100%);
    background: linear-gradient(to bottom, #a8a8a8 0%, #a8a8a8 100%);
}
#cssmenu > ul
{
    background: url('../images/bg.png');
}
#cssmenu > ul > li
{
    float: left;
}
#cssmenu > ul > li > a
{
    padding: 6px 10px 6px 10px;
    border-right: 0px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #d3eced;
    letter-spacing: 1px;
}
#cssmenu > ul > li:hover > a, #cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a
{
    color: #ffffff;
    background: #a8a8a8;
    background: rgba(248, 145, 27, 1);
}
#cssmenu > ul > li.has-sub > a
{
    padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #d3eced;
    right: 17px;
    top: 10px;
    color: #FFF;
}
#cssmenu > ul > li.has-sub.active > a::after, #cssmenu > ul > li.has-sub:hover > a
{
    border-top-color: #ffffff;
}
#cssmenu ul ul
{
    position: absolute;
    left: -9999px;
    top: 10px;
    padding-top: 6px;
    font-size: 13px;
    opacity: 0;
}
#cssmenu > ul > li > ul::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #ffffff;
    top: -4px;
    left: 20px;
}
#cssmenu ul ul ul::after
{
    /*content: '';*/
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #ffffff;
    top: 1px;
    left: -4px;
    background: url(/images/rightArrow.png) no-repeat;
    background-position: right;
}
#cssmenu > ul > li > ul
{
    top: 120px;
    /*margin-left: -4px;*/
}
#cssmenu > ul > li:hover > ul
{
    top: 20px;
    left: 0;
    opacity: 1;
}
#cssmenu ul ul ul
{
    padding-top: 0;
    padding-left: 6px;
}
#cssmenu ul > li > ul > li
{
    height: 24px;
}
#cssmenu ul ul > li:hover > ul
{
    left: 180px;
    top: 5px;
    opacity: 1;
}
#cssmenu ul ul li a
{
    text-decoration: none;
    font-weight: 400;
    padding: 6px 6px;
    width: 180px;
    color: #777777; /*background: #ffffff;*/
    background: url(/images/rightArrow.png) no-repeat;
    background-position: right;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a
{
    color: #333333;
}
#cssmenu ul ul li:first-child > a
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after
{
    position: absolute;
    display: block;
}
#cssmenu ul ul li.has-sub > a::after
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #777777;
    right: 17px;
    top: 14px;
}
#cssmenu ul ul li.has-sub.active > a::after, #cssmenu ul ul li.has-sub:hover > a::after
{
    border-left-color: #333333;
}
/*
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px)
{
    #cssmenu
    {
        background: #39b1cc;
    }
    #cssmenu > ul
    {
        display: none;
    }
    #cssmenu > ul.open
    {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    #cssmenu > ul > li
    {
        float: none;
    }
    #cssmenu > ul > li > a
    {
        padding: 18px 25px 18px 25px;
        border-right: 0;
    }
    #cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a
    {
        background: rgba(0, 0, 0, 0.1);
    }
    #cssmenu #menu-button
    {
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #d3eced;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: url('images/bg.png');
        cursor: pointer;
    }
    #cssmenu ul ul, #cssmenu ul li:hover > ul, #cssmenu > ul > li > ul, #cssmenu ul ul ul, #cssmenu ul ul li:hover > ul
    {
        left: 0;
        top: auto;
        opacity: 1;
        width: 100%;
        padding: 0;
        position: relative;
    }
    #cssmenu ul ul li
    {
        width: 100%;
    }
    #cssmenu ul ul li a
    {
        width: 100%;
        box-shadow: none;
        padding-left: 35px;
    }
    #cssmenu ul ul ul li a
    {
        padding-left: 45px;
    }
    #cssmenu ul ul li:first-child > a, #cssmenu ul ul li:last-child > a
    {
        border-radius: 0;
    }
    #cssmenu #menu-button::after
    {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        border-bottom: 2px solid #d3eced;
        right: 25px;
        top: 18px;
    }
    #cssmenu #menu-button::before
    {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        right: 25px;
        top: 28px;
    }
    #cssmenu > ul > li.has-sub > a::after, #cssmenu ul ul li.has-sub > a::after
    {
        display: none;
    }
}*/
/*Solacilirmenu bitis*/

.solmenu
{
    float: left;
    width: 200px;
}
.sagbolum
{
    float: right;
    width: 700px;
    margin-right: 45px;
}
.sagbolum .kategoridiv
{
    width: 350px;
    float: left;
    margin-bottom: 20px;
}
.sagbolum .kategoridiv img
{
    float: left;
    margin-right: 10px;
}
.sagbolum .kategoridiv .basliklar
{
    font-size: 16px;
    font-weight: bold;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #838383;
}
.sagbolum .kategoridiv .aciklamalar
{
    font-size: 12px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #838383;
}
