@charset "utf-8";
/* CSS Document */


h2{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color:#030303;
}
#kasa
{
	margin:0px;
	width:500px;
	height:100%;
	float:left;


}
#title
{
	margin-top:10px;

	width:410px;
	height:20px;
	color:#737373;
	float:left;
	font-size:13px;
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#specs{
	float:left;
	width:500px;
	height:3px;
	background-color:#FFF;
	margin-top:20px;
	margin-bottom:20px;	
}
#baslik21{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color:#929292;
margin-top:0px;
margin-bottom:15px;
width:500px;

}


#baslik{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color:#929292;
margin-top:10px;
}

#baslik2{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
color:#575757;
margin-top:40px;
}
#icerikBanner{
    float:left;
	width:490px;
	height:100%;
	margin-top:15px;
	position: relative; 
	font-size: 50px; 
	z-index: 2;
	color:#09C;
	margin-bottom:-20px;
}
#icerikBanner a{
	color:#09C;
}

#icerikyaziBanner{
	float: left;
	width: 170px;
	height: 100%;
	font-size: 12px;
	margin-left: 60px;
	line-height: 150%;
	margin-top: 5px;
	color: #09C;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative;
	top: -50px;
	left: 0px;
	z-index: 1;
}


#icerik1{
	width:500px;
	height:100%px;
    float:left;
	
}


#icerikbasliknew{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;
	color:#FFF;
	
}


#icerikyazi{
	float:right;
	width:360px;
	height: 100%;
	font-size: 12px;
	margin-right:10px;
	line-height: 150%;
	margin-top:-280px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
}


#icerikyazi2{
	float:left;
	width:450px;
	height: 100%;
	font-size: 12px;
	margin-left:160px;
	color:#FFF;
	line-height: 150%;
	margin-top:-180px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikbaslik22{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;
	
	
}


#icerikyazi22{
	float:left;
	width:450px;
	height: 100%;
	font-size: 12px;
	margin-left:160px;
	line-height: 150%;
	margin-top:-180px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}




#icerikbaslik23{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;
	
	
}


#icerikyazi23{
	float:left;
	width:450px;
	height: 100%;
	font-size: 12px;
	margin-left:320px;
	line-height: 150%;
	margin-top:-290px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikBoyut24{
    float:center;
	margin-top:140px;
	margin-left:84px;
	width:450px;
	height:100%;

}



#icerikbaslik24{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:10px;
	line-height:110%;
	text-align:center;
	
	
}



#icerikyazi24{
	float:left;
	width:492px;
	height: 100%;
	font-size: 12px;
	margin-left:93px;
	line-height: 150%;
	margin-top:-430px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}
#icerikBoyut25{
    float:center;
	margin-top:250px;
	margin-left:64px;
	width:480px;
	height:100%;

}


#icerikyazi25{
	float:left;
	width:492px;
	height: 100%;
	font-size: 12px;
	margin-left:93px;
	line-height: 150%;
	margin-top:-334px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}

#icerikBoyut26{
    float:left;
	margin-top:20px;
	margin-left:0px;
	width:382px;
	height:100%;
}

#icerikbaslik26{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;	
}

#icerikyazi26{
	float:right;
	width:340px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	margin-top:120px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	margin-right:20px;
	
	
}

#icerikBoyut27{
    float:center;
	margin-top:181px;
	margin-left:74px;
	width:450px;
	height:100%;

}



#icerikbaslik27{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;
	
	
}

#icerikbaslikone{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:10px;
	line-height:110%;
	text-align:center;
	
	
}



#icerikyazi27{
	float:left;
	width:492px;
	height: 100%;
	font-size: 12px;
	margin-left:92px;
	line-height: 150%;
	margin-top:-491px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikBoyut28{
    float:center;
	margin-top:181px;
	margin-left:74px;
	width:450px;
	height:100%;

}



#icerikbaslik28{
	font-size:25px;
	color:#4a4a4a;
	font-weight: bold;
	padding-bottom:20px;
	line-height:110%;
	text-align:center;
	
	
}



#icerikyazi28{
	float:left;
	width:492px;
	height: 100%;
	font-size: 12px;
	margin-left:92px;
	line-height: 150%;
	margin-top:-530px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#left{
	float:left;
	width:340px;
	height: 100%;
	margin-top:30px;
	font-size: 12px;
	margin-left:40px;
	line-height: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
	
}

#right{
	float:right;
	width:340px;
	height: 100%;
	font-size: 12px;
	margin-top:30px;
	margin-right:10px;
	line-height: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
	
}


#left2{
	float:left;
	width:340px;
	height: 100%;
	margin-top:10px;
	font-size: 12px;
	margin-left:40px;
	line-height: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
	
}

#right2{
	float:right;
	width:340px;
	height: 100%;
	font-size: 12px;
	margin-top:10px;
	margin-right:10px;
	line-height: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
	
}


#cpu{
	float:left;
	width:340px;
	height: 100%;
	font-size: 12px;
	margin-top:42px;
	margin-left:198px;
	line-height: 150%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
	
}
#icerikBoyut29{
    float:center;
	margin-top:200px;
	margin-left:0px;
	width:500px;
	height:100%;

}


#icerikyazi29{
	float:left;
	width:435px;
	height: 100%;
	font-size: 12px;
	margin-left:93px;
	line-height: 150%;
	margin-top:-641px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikBoyut30{
    float:center;
	margin-top:200px;
	margin-left:101px;
	width:480px;
	height:100%;
	padding-bottom:40px;

}


#icerikyazi30{
	float:left;
	width:389px;
	height: 100%;
	font-size: 12px;
	margin-left:55px;
	line-height: 150%;
	margin-top:-550px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikBoyut31{
    float:center;
	margin-top:200px;
	margin-left:60px;
	width:450px;
	height:100%;

}


#icerikyazi31{
	float:left;
	width:351px;
	height: 100%;
	font-size: 12px;
	margin-left:93px;
	line-height: 150%;
	margin-top:-543px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikBoyut32{
    float:center;
	margin-top:200px;
	margin-left:69px;
	width:450px;
	height:100%;

}


#icerikyazi32{
	float:left;
	width:422px;
	height: 100%;
	font-size: 12px;
	margin-left:72px;
	line-height: 150%;
	margin-top:-486px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}


#icerikyazi3{
	float:left;
	width:360px;
	height: 100%;
	font-size: 12px;
	margin-left:10px;
	line-height: 150%;
	margin-top:-340px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	
}





#icerikyaziBanner3{
	float: left;
	width:170px;
	height: 100%;
	font-size: 12px;
	margin-left:55px;
	line-height: 150%;
	margin-top:5px;
	color:#09C;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	top: -50px; 
	left: 5px; 
	z-index: 1;
}



#baslikBoyut 
{	
	float:left;
	margin-top:110px;
	margin-left:10px;
	width:200px;
	height:100px;
}
#icerikBoyut{
    float:left;
	width:490px;
	height:100%;

}
#resimicerikBoyut{
	 float:left;
	width:490px;
	height:100%;
	
}
#icerikyaziBoyut{
	float:left;
	width:370px;
	height: 100%;
	font-size: 12px;
	line-height: 200%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:-580px;
	margin-left:10px;
	
}
#icerikyaziBoyuty{
	float:left;
	width:300px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:-300px;
	margin-left:50px;
	
}
#icerikBoyut2{
    float:left;
	width:490px;
	height:100%;
	margin-top:10px;
	margin-bottom:10px;

}
#resimicerikBoyut2{
	 float:left;
	width:490px;
	height:100%;
	
}
#icerikyaziBoyut2{
	float:left;
	width:150px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:-350px;
	margin-left:10px;
	
}
#icerikyaziBoyut2left{
	float:right;
	width:150px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:-350px;
	margin-right:220px;
	
}

#ortalayazi{
	float:left;
	width:420px;
	margin-left:30px;
		
		
}


#ortalayazi2{
	float:left;
	width:370px;
	margin-left:30px;
		
		
}


#ortalayazi3{
	float:right;
	width:390px;

	margin-top:30px;
		
		
}


#icerikvideo{
    float:left;
	width:490px;
	height:100%;
	margin-top:40px;
}

#icerikyazivideo{
	margin:0px;
	padding:0px;
	float:left;
	width:450px;
	height:100%;
	margin-left:70px;
	margin-bottom:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}



#ortalayazileft{
	float:left;
	width:360px;

}




#ortalayaziright{
	float:right;
	margin-left:20px;
	width:340px;
}

#foto1{
	float:left;
	width:255px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
	
}
#foto2{
	float:left;
	width:255px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
	
}
#yazi1{
	float:left;
	width:220px;
	height: 100%;
	font-size: 12px;
	line-height: 150%;
	color: #737373;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left:20px;
	padding-right:20px;
	
	
}
#fotobox{
	width:500px;
	height:100%px;
    float:left;
	
}

#icerikyazi35{
	float:left;
	width:400px;
	height: 100%;
	font-size: 12px;
	margin-left:93px;
	line-height: 150%;
	margin-top:27px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative; 
	z-index: 1;
	text-align:center;
	
}

