﻿.tabnav
{
    float: left;
    width: 900px;
    background: transparent;
    padding: 0px;
	list-style:none;
}
.tabnav #tabify
{
    margin: 0px;
    padding: 0px 5px;
    height: 50px;
    width: 890px;
	list-style: none;
	position:relative;
}
.tabnav #tabify li
{
    float: left;
    font-size: 14px;
	font-weight: bold;
    margin: 0 2px 0 0;
    height: 50px;
    padding: 0;
    background: #fff url(../imagesgld/productabs_right.gif) no-repeat right top;
    border: 0;
}

.tabnav #tabify li a
{
    text-decoration: none;
    outline: none;
}
.tabnav #tabify li a
{
    float: left;
    padding: 18px 5px 0px 5px;
    height: 32px;
    color: #868686;
    background: transparent url(../imagesgld/productabs_left.gif) no-repeat 0 top;
}
.tabnav #tabify li a:hover
{
    color: #00965E;
}
.tabnav #tabify li.active
{
    background: #fff url(../imagesgld/productabs_right.gif) no-repeat right -50px;
    border: none;
    padding: 0;
    height: 50px;
    font-weight: bold;
	
}
.tabnav #tabify li.active a
{
    height: 32px;
    color: #00965E;
    background: transparent url(../imagesgld/productabs_left.gif) no-repeat 0 -50px;
}
.content
{
    float: left;
    clear: both;
    border: 1px solid #c4c4c4;
    background: #fff;
    padding:10px 5px;
    width: 900px;
	margin-top:-1px;
	display:none;
}


.tabnav #tabify li span.ico1
{
    float:left;
	margin:-11px 0px 0px -4px;
}

.tabnav #tabify li span.ico2
{
    float:left;
	margin:-6px 4px 0px -1px;
}

.tabnav #tabify li span.ico3
{
    float:left;
	margin:-8px 4px 0px -1px;
}

.tabnav #tabify li span.ico4
{
    float:left;
	margin:-16px 0px 0px -4px;
}


