/* Global Declaration */
#lmframe .filterMenu .filterList .List input[type="checkbox"] {border-style:none; background:none; margin:0px !important;}

div.checker span,
div.radio span{
  background-image: url('../imagesgld/formitems/uniform_sprite.png') !important;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  padding:0px !important;
}

.radio, 
.checker,
.radio *, 
.checker *{
  margin: 0;
  padding: 0;
}

/* Checkbox */

div.checker {
  width: 19px;
  height: 19px;
}

div.checker input {
  width: 19px;
  height: 19px;
}

div.checker span {
  background-position: 0px -1px;
  height: 19px;
  width: 19px;
}

div.checker:active span, 
div.checker.active span {
  background-position: -19px -1px;
}

div.checker.focus span,
div.checker:hover span {
  background-position: -38px -1px;
}

div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span {
  background-position: -57px -1px;
}

div.checker span.checked {
  background-position: -76px -1px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
  background-position: -95px -1px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
  background-position: -114px -1px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
  background-position: -133px -1px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
  background-position: -152px -1px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
  background-position: -171px -1px;
}

/* Radio */

div.radio {
  width: 18px;
  height: 18px;
}

div.radio input {
  width: 18px;
  height: 18px;
}

div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -19px;
}

div.radio:active span, 
div.radio.active span {
  background-position: -18px -19px;
}

div.radio.focus span, 
div.radio:hover span {
  background-position: -36px -19px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
  background-position: -54px -19px;
}

div.radio span.checked {
  background-position: -72px -19px;
}

div.radio:active span.checked,
div.radio.active span.checked {
  background-position: -90px -19px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -19px;
}

div.radio.focus:active span.checked, 
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
  background-position: -126px -19px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
  background-position: -144px -19px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
  background-position: -162px -19px;
}

/* Checker */
div.checker {
  margin-right: 0px;
}

/* Radio */
div.radio {
  margin-right: 3px;
}

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.checker, 
.radio {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Checker */

div.checker {
  position: relative;
}

div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

div.radio {
  position: relative;
}

div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}
