/* quickmenu
*************************/

ul.usermenu
{
	display: table;
	margin: 0 0 0 5px;
	padding: 0px;
	list-style: none;
	position: relative;
	z-index:9999999;
}

ul.usermenu li
{
	margin: 0;
	padding: 2px 20px 2px 0px;
	font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#ccc;
	list-style: none;
	display: table-cell;
	float: left;
	position: relative;
}

ul.usermenu a
{
	position: relative;
	display: block;
	color:#333;
}

ul.usermenu a:hover
{
	position: relative;
	display: block;
	color:#074a79;
}

/* userdropdowns
*************************/

ul.userdropdown
{
	margin: 0;
	padding: 0;
	display: block;
	background:#dcdcdc;
	border:1px solid #a8a8a8;
	position: absolute;
	z-index: 999;
	top: 100%;
	width: 140px;
	display: none;
	left: 0;
}

ul.userdropdown ul.userdropdown
{
	top: 0;
	left: 95%;
}

ul.userdropdown li
{
	margin: 0;
	padding: 2px 0px;
	float: none;
	position: relative;
	list-style: none;
	display: block;
	border-bottom:1px solid #a8a8a8;
}
ul.userdropdown li:hover
{
	padding: 2px 0px;
	background-color:#ffffff;
}

ul.userdropdown li a
{
	display: block;
	color:#494949;
	background:transparent;
	padding: 0px 4px;
}
ul.userdropdown li a:hover
{
	display: block;
	color:#494949;
	background-color:#ffffff;
	padding: 0px 4px;
}

ul.usermenuright li
{
    margin: 0;
    padding: 2px 10px;
    font: 11px "Trebuchet MS" , Arial, Helvetica, sans-serif;
    color: #fff;
    list-style: none;
    display: table-cell;
    float: right;
    position: relative;
}

ul.usermenuright li.uyeGirisi {padding-right:160px;}
ul.usermenuright li.uyeGirisi input.htFacebookLogin {border:none !important; background:url(../imagesgld/mainBG.png) no-repeat -668px -486px;cursor:pointer;width:143px;height:17px;position:absolute;right:0;top:0; -webkit-border-radius: 0 !important; -moz-border-radius:  0 !important; border-radius:  0 !important;}
ul.usermenuright li.uyeGirisi input.htFacebookLogin:hover {background-position:-668px -504px;}


ul.usermenuright li a img {width:14px;height:14px;border:none;}


/* listdropdowns
*************************/

.listbutton ul.listdropdown
{
	margin: 0;
	padding: 0;
	display: block;
	background:#dcdcdc;
	border:1px solid #a8a8a8;
	position: absolute;
	z-index: 999;
	top: 28px;
	width: 140px;
	display: none;
	left:-10px;
}

.listbutton ul.listdropdown ul.listdropdown
{
	top: 0;
	left: 95%;
}

.listbutton ul.listdropdown li
{
	margin: 0;
	padding: 2px;
	float: none;
	position: relative;
	list-style: none;
	display: block;
	border-bottom:1px solid #a8a8a8;
	text-align:left;
	width:98%;
}
.listbutton ul.listdropdown li:hover
{
	padding: 2px;
	background-color:#ffffff;
	width:97%;
}

.listbutton ul.listdropdown li a
{
	display: block;
	color:#494949;
	background:transparent;
	padding: 0px;
}
.listbutton ul.listdropdown li a:hover
{
	display: block;
	color:#494949;
	background-color:#ffffff;
	padding: 0px;
}
