﻿@charset "UTF-8";
/* CSS Document */

#uzmanGorusu {float:left;display:inline-block;margin:0 0 20px;width:783px;}
#uzmanGorusu div.uzmanGorusuTitle {width:783px;height:20px;line-height:20px;margin-bottom:10px;color:#737373;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:13px;}
#uzmanGorusu a {color:#56505A;text-decoration:none;}
#uzmanGorusu a:hover {color:#141414;}
#uzmanGorusu h2 {margin:0;} 

#uzmanGorusu  {position:relative;width:783px;}

/************ STYLES *******************/
#uzmanGorusu .style1, #uzmanGorusu .style2, #uzmanGorusu .style3, #uzmanGorusu .style4, #uzmanGorusu .style5, #uzmanGorusu .style6, #uzmanGorusu .style7, #uzmanGorusu .style8, #uzmanGorusu .style9, #uzmanGorusu .style10 {width:783px;display:inline-block;margin-top:10px;padding-bottom:13px;background:url(/imagesgld/uzmangorusu/specs.jpg) no-repeat bottom center;}

/************ STYLE 1 *******************/
#uzmanGorusu .style1 .topicTitle {width:533px;margin-top:60px;margin-bottom:10px;float:left;}
#uzmanGorusu .style1 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;}

#uzmanGorusu .style1 a.img {width:250px;display:inline-block;margin-bottom:10px;float:left;}
#uzmanGorusu .style1 a.img img {width:250px;border:none;}

#uzmanGorusu .style1 .content2 {width:783px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;display:inline-block;border:none;}
#uzmanGorusu .style1 .content2 a {font-weight:bold;}


/************ STYLE 2 *******************/
#uzmanGorusu .style2 .topicTitle {width:533px;margin-top:60px;margin-bottom:10px;float:left;}
#uzmanGorusu .style2 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;text-align:right;}

#uzmanGorusu .style2 a.img {width:250px;display:inline-block;margin-bottom:10px;float:left;}
#uzmanGorusu .style2 a.img img {width:250px;border:none;}

#uzmanGorusu .style2 .content2 {width:783px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;display:inline-block;border:none;}
#uzmanGorusu .style2 .content2 a {font-weight:bold;}


/************ STYLE 3 *******************/
#uzmanGorusu .style3 .topicTitle {width:270px;margin-top:40px;float:left;margin-right:10px;}
#uzmanGorusu .style3 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;}

#uzmanGorusu .style3 a.img {width:200px;display:inline-block;float:left;}
#uzmanGorusu .style3 a.img img {width:200px;border:none;}

#uzmanGorusu .style3 .content2 {width:283px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-left:20px;text-align:left;margin-top:20px;display:inline-block;border:none;}
#uzmanGorusu .style3 .content2 a {font-weight:bold;}


/************ STYLE 4 *******************/
#uzmanGorusu .style4 a.img {width:200px;display:inline-block;float:left;}
#uzmanGorusu .style4 a.img img {width:200px;border:none;}

#uzmanGorusu .style4 .topicTitle {width:563px;float:left;margin-left:20px;}
#uzmanGorusu .style4 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;}

#uzmanGorusu .style4 .content2 {width:563px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-left:20px;margin-top:10px;display:inline-block;border:none;}
#uzmanGorusu .style4 .content2 a {font-weight:bold;}

/************ STYLE 5 *******************/
#uzmanGorusu .style5 .topicTitle {width:783px;float:left;}
#uzmanGorusu .style5 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;}

#uzmanGorusu .style5 .content2 {width:783px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-top:10px;display:inline-block;border:none;}
#uzmanGorusu .style5 .content2 a {font-weight:bold;}

/************ STYLE 6 *******************/
#uzmanGorusu .style6 .topicTitle {width:783px;float:left;}
#uzmanGorusu .style6 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;text-align:right}

#uzmanGorusu .style6 .content2 {width:783px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-top:10px;text-align:right;display:inline-block;border:none;}
#uzmanGorusu .style6 .content2 a {font-weight:bold;}


/************ STYLE 7 *******************/
#uzmanGorusu .style7 .topicTitle {width:783px;float:left;}
#uzmanGorusu .style7 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;text-align:center;}

#uzmanGorusu .style7 .content2 {width:783px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-top:10px;text-align:center;display:inline-block;border:none;}
#uzmanGorusu .style7 .content2 a {font-weight:bold;}

/************ VİDEO *******************/ 
#uzmanGorusu .video { background:none !important;display:inline-block;border:none;text-align:center;width:783px;}


/************ STYLE 9 *******************/
#uzmanGorusu .style9 a.img {width:200px;display:inline-block;float:right;}
#uzmanGorusu .style9 a.img img {width:200px;border:none;}

#uzmanGorusu .style9 .topicTitle {width:563px;float:left;margin-right:20px;}
#uzmanGorusu .style9 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;}

#uzmanGorusu .style9 .content2 {width:563px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-right:20px;margin-top:10px;display:inline-block;border:none;}
#uzmanGorusu .style9 .content2 a {font-weight:bold;}


/************ STYLE 10 *******************/
#uzmanGorusu .style10 .topicTitle {width:260px;float:left;margin-right:20px;text-align:left;}
#uzmanGorusu .style10 .topicTitle h2 {color:#030303;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:20px;display:block;text-align:left;}

#uzmanGorusu .style10 .content2 {width:500px;float:left;color: #737373;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 150%;margin-top:10px;text-align:left;display:inline-block;border:none;}
#uzmanGorusu .style10 .content2 a {font-weight:bold;}
