﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MusteriHizmetleri/MpMusteriHizmetleri.master" AutoEventWireup="true" CodeFile="ds.aspx.cs" Inherits="ds" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSayfaBaslik" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphIcerikBaslik" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphIcerikMetin" runat="Server">

    <style>
        .breadcrumb {
            visibility: hidden;
        }

        #left_column {
            width: 0px;
        }

        .left-module, .page-heading {
            visibility: hidden;
        }

        .mt10 {
            margin-top: -55px;
        }
    </style>

    <div class="mt10">
 <img src="ImagesGld/d3d451c3[1].jpg" />
        <br />
         <br />
   <p>           27.07.2018 tarihine kadar yapacağınız her alışverişte, tüm D'S DAMAT mağazalarında geçerli indirimlere ek + %10 indirim fırsatı sizleri bekliyor!</p>
   <p>D’S damat mağazalarında 1-31 Temmuz 2018 tarihleri arasında 2018 İlkbahar-Yaz sezonu ürün alışverişlerinde mevcut indirimlere ilave %10 indirim uygulanır.</p>
   <p>Şifreler tek kullanımlıktır. D’S damat Kart indirimi, çekler, %50 üzeri oranda avantaj sağlayan diğer kampanya ve indirimlerle birleştirilemez.</p>
   <p>Smokin, aksesuar, essential ve outlet grubu ürünlerinden yapılacak alışverişlerde geçerli değildir. D’S damat kampanya kapsamında değişiklik yapma hakkını saklı tutar.</p>
<br />
   <img src="ImagesGld/untitled.png" />
    </div>
</asp:Content>

