﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MpAna.master" AutoEventWireup="true"
    CodeFile="Hata.aspx.cs" Inherits="Hata" ValidateRequest="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <meta http-equiv="Refresh" content="5; URL=http://https://motulteam.com/">
    <div class="rootercnav">
        <div class="rcframe">
            <div style="width: 100%;" class="rootername">
                <a href="https://motulteam.com/">Anasayfa</a> / Aradığınız sayfa bulunamadı
            </div>
        </div>
    </div>
    <div class="containerOut982">
        <div class="containerIn960">
            <div class="imgDiv404">
                <img src="/ImagesGld/error.jpg" alt="Aradığınız sayfa bulunamadı" /></div>
        </div>
    </div>
    <div class="containerOut982">
        <div class="containerIn960">
            <div class="article404">
                <p>
                    Bir Hata Oluştu</p>
                <ul>
                   
                </ul>
            </div>
        </div>
    </div>
</asp:Content>
