﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MpAna.master" AutoEventWireup="true"
    CodeFile="Kampanyalar.aspx.cs" Inherits="Kampanyalar" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <link href="/css/magazalarimiz.css?v=1.1.3" rel="stylesheet" type="text/css" />
    <%--    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>--%>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion").accordion({ autoHeight: false });
        });
    </script>

    <div class="rootercnav">
        <div class="rcframe">
            <div style="width: 100%;" class="rootername">
                <a href="https://motulteam.com/">Anasayfa</a> / Mağaza Kampanyaları
            </div>
        </div>
    </div>


    <div class="stores">
        <div class="storesContainer">
            <!-- Left Container Start -->
            <div class="storesLeftContainer2">
                <h1>
                    Mağaza Seçiniz</h1>
                <div class="storeCampaign">
                    <div id="accordion">
                        <h3>
                            <img src="ImagesGld/campaigneActive.png" /><a href="#">Altunizade</a></h3>
                        <div>
                            <a href="#">Altunizade</a> <a href="#">Altunizade</a>
                        </div>
                        <h3>
                            <img src="ImagesGld/campaigneActive.png" /><a href="#">Ümtaniye</a></h3>
                        <div>
                            <a href="#">Altunizade</a>
                        </div>
                        <h3>
                            <img src="ImagesGld/campaigneActive.png" /><a href="#" class="noCampaign">Kadıköy</a></h3>
                        <div>
                            <a href="#">Altunizade</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left Container End -->
            <!-- Right Container Start -->
            <div class="storesRightContainer2" style="display: block;">
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
                <img src="ImagesGld/magaza_kampanya.gif" alt="Mağazalarımızda ki kampanyalara görmek için tıklayınız!..."
                    width="500px" />
            </div>
            <!-- Right Container End -->
        </div>
    </div>
</asp:Content>
