﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="oci.aspx.cs" Inherits="oci" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>motulteam.com - OCI</title>
 <%--   <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#onay').click();
        });
    </script>--%>
</head>
<body>
    <asp:Literal ID="ltrOciForm" runat="server"></asp:Literal>
</body>
</html>
