﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Popup.aspx.cs" Inherits="Popup" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" style="overflow: hidden;">
<head runat="server">
    <title></title>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body style="border: 0; margin: 0; padding: 0; outline: none; overflow: no-display;">
    <form id="form1" runat="server">
        <div id="a101" runat="server">
            <a id="link2" runat="server" href="/U20009033/" target="_parent">
                <asp:Image ID="Popup2" runat="server" ImageUrl="/UrunResim/Product/31mart2016.jpg" Style="border:0; height:100%; width:100% " usemap="#Map" /><%--height: 574px--%>
                <%--<map name="Map" id="Map">
                    <area shape="rect" coords="0,-2,390,524" href="/U20008312/VOIT-BIG-FOOT-SiYAH-SCOOTER" target="_parent" />
                    <area shape="rect" coords="390,2,884,550" href="/U20007933/VOIT-URBAN-SiYAH-SCOOTER" target="_parent" />
                </map>--%>
            </a>
        </div>

        <asp:GridView ID="GridView1" runat="server"></asp:GridView>
    </form>
</body>
</html>
