﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MusteriHizmetleri/MpMusteriHizmetleri.master"
    AutoEventWireup="true" CodeFile="KampanyaKurallari.aspx.cs" Inherits="MusteriHizmetleri_KampanyaKurallari" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphSayfaBaslik" runat="Server">
    <span class="navigation-pipe">&nbsp;</span> <span class="navigation_page">Kampanya Kuralları</span>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphIcerikBaslik" runat="Server">
    <span class="page-heading-title2">KAMPANYA KURALLARI</span>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphIcerikMetin" runat="Server">
    <div class="mt10">
        <strong>NASIL HEDİYE SEÇEBİLİRİM?</strong>
        <br />
        
    </div>
</asp:Content>
