body {
    margin:0;
}
.advertising {
    width:555px;
    height:450px;
    margin:0 auto;
    background: url(../images/advertisingBG.jpg) no-repeat #eeeeee;
    
}

.advertising .header {
    height:75px;
    width:555px;
    }

.advertising .header .logo {
    margin:13px 5px 0 15px;
    border:none;
    display:inline-block;
    float:left;
    }

.advertising .header .advertisingTitle {
    margin: 22px 0 0 12px;    
    }

.advertising .header .advertisingTitle2 {
    margin: 20px 0 0 30px;    
    }
    
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.l-full.canvas {
	/*overflow: hidden;*/
    width:555px;
    height:390px;
    /*margin:7px 17px 0 15px;*/
}
.l-full.canvas .shadow {
	/*box-shadow: inset 0px 0px 180px rgba(0,0,0,1);
	background-image: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 900, color-stop(0, rgba(250,250,250,0.2)), color-stop(1, rgba(0,0,0,0)) ); */
}


.b-holder {
	position: relative;
	clear: both;
	padding:  0;
}

.sc-wrapper {
	position: relative;
	margin: 0 auto;
    width:555px !important;
    height:390px !important;
}
.sc {
	position: relative;
	float: left;
	list-style: none;
	margin: 0 0 0 1px;
	padding: 0;
	overflow: hidden;
    width:550px !important;
    height:390px !important;
}
.sc li {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 10;
    

}

.sc li div.sc-block { float: left; }

.sc-wrapper .sc-controls {
	position: absolute;
	width: 56px;
	height: 23px;
	/*left: 50%;*/
	background: url(../images/next-previousBTN.png) no-repeat;
	cursor: pointer;
	text-indent: -9999px;
    z-index:99999;
    top:-55px
}
.sc-wrapper .sc-controls.next { background-position: right top; right:13px;}
.sc-wrapper .sc-controls.next:hover { background-position: right bottom;}
.sc-wrapper .sc-controls.prev { background-position: left top; right:70px; }
.sc-wrapper .sc-controls.prev:hover { background-position: left bottom;}



/* Example one styles */

#showcase-example-one-wrapper li div.sc-block {
	width: 173px;
	height: 178px;
    margin-left: 7px;
    margin-bottom:7px;
	/*background: #f6f5f5;*/
    background: #fff;
    overflow:hidden;
    margin-top:0;
    margin-right:0;
    border:1px solid #c8c8c8;
    font-family:Arial;
    cursor:pointer;

	/*-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);*/
}

#showcase-example-one-wrapper li div.sc-block:hover {border-color:#787878;}
#showcase-example-one-wrapper li div.sc-block a img {width: 173px;height: 178px;border:none}

#showcase-example-one-wrapper li div.sc-block a {display:inline-block;text-decoration:none;}
/*#showcase-example-one-wrapper li div.sc-block a:hover {background: #f6f5f5;}*/

#showcase-example-one-wrapper li div.sc-block a.imgDiv {
     width:173px;
     height:120px;
     display:block;
     overflow:hidden;
     margin:0 0 2px;
     text-align:center;
     border:none !important;
    }
#showcase-example-one-wrapper li div.sc-block a.imgDiv img {
    width:120px;
    height:120px;
    border:none !important;
    cursor:pointer;
    }

#showcase-example-one-wrapper li div.sc-block a.productName {
    font-size:11px;
    color:#808080;
    display:block;
    text-align:center;
    padding:0 3px;
    margin:0 0 2px;
    height:30px;
    *width:167px;
    cursor:pointer;
}

#showcase-example-one-wrapper li div.sc-block a.productPrice {
    font-size:20px;
    color:#00965E;
    font-weight:bold;
    text-align:center;
    padding:0 3px;
    margin:0 0 2px;
    height:20px;
    line-height:20px;
    text-shadow:1px 1px 1px #ffa5a9;
    *width:167px;
    cursor:pointer;
}
#showcase-example-one-wrapper li div.sc-block a.productPrice span.price {
    font-size:14px;
    color:#808080;
    font-weight:bold;
    text-decoration:line-through;
    text-shadow:none;
}
    #showcase-example-one-wrapper li div.sc-block a.productPrice span.turkishLira {
    font-size:10px;
    }
