/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: 0px;
	margin-right: 0px;
	width: 100.0%;
	
	
	
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16{
	display:inline;
	float: left;
	position: relative;
	margin-left: 1.0%;
	margin-right: 1.0%;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1{
	width:4.25%;
}

.container_16 .grid_2{
	width:10.5%;
}

.container_16 .grid_3{
	width:16.75%;
}

.container_16 .grid_4{
	width:23.0%;
}

.container_16 .grid_5{
	width:29.25%;
}

.container_16 .grid_6{
	width:35.5%;
}

.container_16 .grid_7{
	width:41.75%;
}

.container_16 .grid_8{
	width:48.0%;
}

.container_16 .grid_9{
	width:54.25%;
}

.container_16 .grid_10{
	width:60.5%;
}

.container_16 .grid_11{
	width:66.75%;
}

.container_16 .grid_12{
	width:73.0%;
}

.container_16 .grid_13{
	width:79.25%;
}

.container_16 .grid_14{
	width:85.5%;
}

.container_16 .grid_15{
	width:91.75%;
}

.container_16 .grid_16{
	width:98.0%;
}




.grid_1 .grid_1{
    width:97.0%;
    margin-left: 12.0%;
	margin-right: 12.0%;
}



.grid_2 .grid_1{
    width:47.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}

.grid_2 .grid_2{
    width:97.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}



.grid_3 .grid_1{
    width:30.3333333333%;
    margin-left: 4.0%;
	margin-right: 4.0%;
}

.grid_3 .grid_2{
    width:63.6666666667%;
    margin-left: 4.0%;
	margin-right: 4.0%;
}

.grid_3 .grid_3{
    width:97.0%;
    margin-left: 4.0%;
	margin-right: 4.0%;
}



.grid_4 .grid_1{
    width:22.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_4 .grid_2{
    width:47.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_4 .grid_3{
    width:72.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_4 .grid_4{
    width:97.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}



.grid_5 .grid_1{
    width:17.0%;
    margin-left: 2.4%;
	margin-right: 2.4%;
}

.grid_5 .grid_2{
    width:37.0%;
    margin-left: 2.4%;
	margin-right: 2.4%;
}

.grid_5 .grid_3{
    width:57.0%;
    margin-left: 2.4%;
	margin-right: 2.4%;
}

.grid_5 .grid_4{
    width:77.0%;
    margin-left: 2.4%;
	margin-right: 2.4%;
}

.grid_5 .grid_5{
    width:97.0%;
    margin-left: 2.4%;
	margin-right: 2.4%;
}



.grid_6 .grid_1{
    width:13.6666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_6 .grid_2{
    width:30.3333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_6 .grid_3{
    width:47.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_6 .grid_4{
    width:63.6666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_6 .grid_5{
    width:80.3333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_6 .grid_6{
    width:97.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}



.grid_7 .grid_1{
    width:11.2857142857%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_2{
    width:25.5714285714%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_3{
    width:39.8571428571%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_4{
    width:54.1428571429%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_5{
    width:68.4285714286%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_6{
    width:82.7142857143%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}

.grid_7 .grid_7{
    width:97.0%;
    margin-left: 1.71428571429%;
	margin-right: 1.71428571429%;
}



.grid_8 .grid_1{
    width:9.5%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_2{
    width:22.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_3{
    width:34.5%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_4{
    width:47.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_5{
    width:59.5%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_6{
    width:72.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_7{
    width:84.5%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_8 .grid_8{
    width:97.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}



.grid_9 .grid_1{
    width:8.11111111111%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_2{
    width:19.2222222222%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_3{
    width:30.3333333333%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_4{
    width:41.4444444444%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_5{
    width:52.5555555556%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_6{
    width:63.6666666667%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_7{
    width:74.7777777778%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_8{
    width:85.8888888889%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}

.grid_9 .grid_9{
    width:97.0%;
    margin-left: 1.33333333333%;
	margin-right: 1.33333333333%;
}



.grid_10 .grid_1{
    width:7.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_2{
    width:17.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_3{
    width:27.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_4{
    width:37.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_5{
    width:47.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_6{
    width:57.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_7{
    width:67.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_8{
    width:77.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_9{
    width:87.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_10 .grid_10{
    width:97.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}



.grid_11 .grid_1{
    width:6.09090909091%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_2{
    width:15.1818181818%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_3{
    width:24.2727272727%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_4{
    width:33.3636363636%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_5{
    width:42.4545454545%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_6{
    width:51.5454545455%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_7{
    width:60.6363636364%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_8{
    width:69.7272727273%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_9{
    width:78.8181818182%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_10{
    width:87.9090909091%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}

.grid_11 .grid_11{
    width:97.0%;
    margin-left: 1.09090909091%;
	margin-right: 1.09090909091%;
}



.grid_12 .grid_1{
    width:5.33333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_2{
    width:13.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_3{
    width:22.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_4{
    width:30.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_5{
    width:38.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_6{
    width:47.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_7{
    width:55.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_8{
    width:63.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_9{
    width:72.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_10{
    width:80.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_11{
    width:88.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_12 .grid_12{
    width:97.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}



.grid_13 .grid_1{
    width:4.69230769231%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_2{
    width:12.3846153846%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_3{
    width:20.0769230769%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_4{
    width:27.7692307692%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_5{
    width:35.4615384615%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_6{
    width:43.1538461538%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_7{
    width:50.8461538462%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_8{
    width:58.5384615385%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_9{
    width:66.2307692308%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_10{
    width:73.9230769231%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_11{
    width:81.6153846154%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_12{
    width:89.3076923077%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}

.grid_13 .grid_13{
    width:97.0%;
    margin-left: 0.923076923077%;
	margin-right: 0.923076923077%;
}



.grid_14 .grid_1{
    width:4.14285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_2{
    width:11.2857142857%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_3{
    width:18.4285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_4{
    width:25.5714285714%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_5{
    width:32.7142857143%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_6{
    width:39.8571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_7{
    width:47.0%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_8{
    width:54.1428571429%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_9{
    width:61.2857142857%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_10{
    width:68.4285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_11{
    width:75.5714285714%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_12{
    width:82.7142857143%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_13{
    width:89.8571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_14 .grid_14{
    width:97.0%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}



.grid_15 .grid_1{
    width:3.66666666667%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_2{
    width:10.3333333333%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_3{
    width:17.0%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_4{
    width:23.6666666667%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_5{
    width:30.3333333333%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_6{
    width:37.0%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_7{
    width:43.6666666667%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_8{
    width:50.3333333333%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_9{
    width:57.0%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_10{
    width:63.6666666667%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_11{
    width:70.3333333333%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_12{
    width:77.0%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_13{
    width:83.6666666667%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_14{
    width:90.3333333333%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}

.grid_15 .grid_15{
    width:97.0%;
    margin-left: 0.8%;
	margin-right: 0.8%;
}



.grid_16 .grid_1{
    width:3.25%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_2{
    width:9.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_3{
    width:15.75%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_4{
    width:22.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_5{
    width:28.25%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_6{
    width:34.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_7{
    width:40.75%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_8{
    width:47.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_9{
    width:53.25%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_10{
    width:59.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_11{
    width:65.75%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_12{
    width:72.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_13{
    width:78.25%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_14{
    width:84.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_15{
    width:90.75%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_16 .grid_16{
    width:97.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}






/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
    padding-left:6.25%;
}

.container_16 .prefix_2 {
    padding-left:12.5%;
}

.container_16 .prefix_3 {
    padding-left:18.75%;
}

.container_16 .prefix_4 {
    padding-left:25.0%;
}

.container_16 .prefix_5 {
    padding-left:31.25%;
}

.container_16 .prefix_6 {
    padding-left:37.5%;
}

.container_16 .prefix_7 {
    padding-left:43.75%;
}

.container_16 .prefix_8 {
    padding-left:50.0%;
}

.container_16 .prefix_9 {
    padding-left:56.25%;
}

.container_16 .prefix_10 {
    padding-left:62.5%;
}

.container_16 .prefix_11 {
    padding-left:68.75%;
}

.container_16 .prefix_12 {
    padding-left:75.0%;
}

.container_16 .prefix_13 {
    padding-left:81.25%;
}

.container_16 .prefix_14 {
    padding-left:87.5%;
}

.container_16 .prefix_15 {
    padding-left:93.75%;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
    padding-right:6.25%;
}

.container_16 .suffix_2 {
    padding-right:12.5%;
}

.container_16 .suffix_3 {
    padding-right:18.75%;
}

.container_16 .suffix_4 {
    padding-right:25.0%;
}

.container_16 .suffix_5 {
    padding-right:31.25%;
}

.container_16 .suffix_6 {
    padding-right:37.5%;
}

.container_16 .suffix_7 {
    padding-right:43.75%;
}

.container_16 .suffix_8 {
    padding-right:50.0%;
}

.container_16 .suffix_9 {
    padding-right:56.25%;
}

.container_16 .suffix_10 {
    padding-right:62.5%;
}

.container_16 .suffix_11 {
    padding-right:68.75%;
}

.container_16 .suffix_12 {
    padding-right:75.0%;
}

.container_16 .suffix_13 {
    padding-right:81.25%;
}

.container_16 .suffix_14 {
    padding-right:87.5%;
}

.container_16 .suffix_15 {
    padding-right:93.75%;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
    left:6.25%;
}

.container_16 .push_2 {
    left:12.5%;
}

.container_16 .push_3 {
    left:18.75%;
}

.container_16 .push_4 {
    left:25.0%;
}

.container_16 .push_5 {
    left:31.25%;
}

.container_16 .push_6 {
    left:37.5%;
}

.container_16 .push_7 {
    left:43.75%;
}

.container_16 .push_8 {
    left:50.0%;
}

.container_16 .push_9 {
    left:56.25%;
}

.container_16 .push_10 {
    left:62.5%;
}

.container_16 .push_11 {
    left:68.75%;
}

.container_16 .push_12 {
    left:75.0%;
}

.container_16 .push_13 {
    left:81.25%;
}

.container_16 .push_14 {
    left:87.5%;
}

.container_16 .push_15 {
    left:93.75%;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
    right:6.25%;
}

.container_16 .pull_2 {
    right:12.5%;
}

.container_16 .pull_3 {
    right:18.75%;
}

.container_16 .pull_4 {
    right:25.0%;
}

.container_16 .pull_5 {
    right:31.25%;
}

.container_16 .pull_6 {
    right:37.5%;
}

.container_16 .pull_7 {
    right:43.75%;
}

.container_16 .pull_8 {
    right:50.0%;
}

.container_16 .pull_9 {
    right:56.25%;
}

.container_16 .pull_10 {
    right:62.5%;
}

.container_16 .pull_11 {
    right:68.75%;
}

.container_16 .pull_12 {
    right:75.0%;
}

.container_16 .pull_13 {
    right:81.25%;
}

.container_16 .pull_14 {
    right:87.5%;
}

.container_16 .pull_15 {
    right:93.75%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}