﻿table.advertisingDetailEdit {width:940px;font-size:12px;}
table.advertisingDetailEdit tr th {text-align:left;height:25px;line-height:25px;padding:0 5px;border-top:1px solid #BD1C1C;border-bottom:1px solid #BD1C1C;font-weight:bold;background:#DB2020;color:#fff;font-size:13px;}
table.advertisingDetailEdit tr th.id {width:20px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.explanation {width:665px;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.active {width:50px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.empty {width:185px;text-align:left;border-left:1px solid #BD1C1C;border-right:1px solid #BD1C1C;}


table.advertisingDetailEdit tr.color1 {border-bottom:1px solid #666;background:#f5f5f5;}
table.advertisingDetailEdit tr td {text-align:left;height:20px;line-height:20px;padding:0 5px;*border-bottom:1px solid #666;*background:#f5f5f5;}
table.advertisingDetailEdit tr td.id2 {width:20px;text-align:center;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.explanation2 {width:665px;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.active2 {width:50px;text-align:center;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.empty2 {width:185px;text-align:left;border-left:1px solid #666;border-right:1px solid #666;}
table.advertisingDetailEdit tr td.empty2 a {background: none repeat scroll 0 0 #DB2020;
    border: 1px solid #BD1C1C;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    display:inline-block;
    margin-top:5px;
    }
table.advertisingDetailEdit tr td.empty2 a:hover {background:#ff6b6b;}
table.advertisingDetailEdit tr td.empty2 a.edit{float:left;}
table.advertisingDetailEdit tr td.empty2 a.GoToPage{float:right;}        

table.advertisingDetailEdit tr th.explanation {width:665px;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.active {width:50px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.empty {width:185px;text-align:left;border-left:1px solid #BD1C1C;border-right:1px solid #BD1C1C;}
    
    
    
    
table.advertisingDetail {width:940px;}
table.advertisingDetail tr th {text-align:left;height:25px;line-height:25px;padding:0 5px;border-top:1px solid #BD1C1C;border-bottom:1px solid #BD1C1C;font-weight:bold;background:#DB2020;color:#fff;font-size:13px;}
table.advertisingDetail tr th.id {width:40px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.productName {width:130px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.imageRoad {width:130px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.productLink {width:130px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.price {width:60px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.salePrice {width:60px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.imageLink {width:100px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.targetUrl {width:100px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.advertisingDetailActive {width:40px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetail tr th.advertisingDetailEmpty {width:80px;text-align:left;border-left:1px solid #BD1C1C;border-right:1px solid #BD1C1C;}

table.advertisingDetail tr.color2 {border-bottom:1px solid #666;background:#f5f5f5;}
table.advertisingDetail tr td {text-align:left;height:25px;line-height:25px;padding:0 5px;*border-bottom:1px solid #666;*background:#f5f5f5;}
table.advertisingDetail tr td.id2 {width:40px;text-align:center;border-left:1px solid #666;}
table.advertisingDetail tr td.productName2 {width:130px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.imageRoad2 {width:130px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.productLink2 {width:130px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.price2 {width:60px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.salePrice2 {width:60px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.imageLink2 {width:100px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.targetUrl2 {width:100px;text-align:left;border-left:1px solid #666;}
table.advertisingDetail tr td.advertisingDetailActive2 {width:40px;text-align:center;border-left:1px solid #666;}
table.advertisingDetail tr td.advertisingDetailEmpty2 {width:80px;text-align:center;border-left:1px solid #666;border-right:1px solid #666;}

.advertisingDetailInput1, .advertisingDetailInput2, .advertisingDetailInput3 {border:1px solid #9c9c9c;height:20px;line-height:20px;font-size:11px;background:#fff;} 
.advertisingDetailInput1 {width:120px;}
.advertisingDetailInput2 {width:90px;}
.advertisingDetailInput3 {width:50px;}
table.advertisingDetail tr td.advertisingDetailEmpty2 a {color:#DB2020;}
table.advertisingDetail tr td.advertisingDetailEmpty2 a:hover {color:#DB2020;text-decoration:underline;}



table.advertisingEdit {width:940px;}
table.advertisingEdit tr th {text-align:left;height:25px;line-height:25px;padding:0 5px;border-top:1px solid #BD1C1C;border-bottom:1px solid #BD1C1C;font-weight:bold;background:#DB2020;color:#fff;font-size:13px;}
table.advertisingEdit tr.color3 {border-bottom:1px solid #dcdcdc;background:#f5f5f5;}
table.advertisingEdit tr.color4  {border-bottom:1px solid #dcdcdc;background:#ffe0e0;}
table.advertisingEdit tr.color4 td {color:#666;font-size:13px;font-weight:bold;text-align:left;*background:#ffe0e0;}
table.advertisingEdit tr td {text-align:left;height:25px;line-height:25px;padding:0 5px;*border-bottom:1px solid #dcdcdc;*background:#f5f5f5;}
table.advertisingEdit tr td.column1 {width:200px;text-align:left;border-left:1px solid #dcdcdc;}
table.advertisingEdit tr td.column2 {width:5px;text-align:left;border-left:1px solid #dcdcdc;}
table.advertisingEdit tr td.column3 {width:735px;text-align:left;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;}
.advertisingEditBTN {width:940px;text-align:left;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;height:35px !important;}

.advertisingEditInput1, .advertisingEditInput2, .advertisingEditInput3 {border:1px solid #9c9c9c;height:20px;line-height:20px;font-size:11px;background:#fff;}
.advertisingEditInput1 {width:725px;}
.advertisingEditInput2 {width:60px;}
.advertisingEditInput3 {width:20px;}

table.advertisingEdit tr td input.advertisingEditNew, table.advertisingEdit tr td input.advertisingEditSave {background:#DB2020;
    border: 1px solid #BD1C1C;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 15px;
    padding: 0 17px;
    display:inline-block;
    margin-top:5px;
    cursor:pointer;
    }
table.advertisingEdit tr td input.advertisingEditNew:hover, table.advertisingEdit tr td input.advertisingEditSave:hover {background:#ff6b6b;}
table.advertisingEdit tr td input.advertisingEditNew {float:right;}
table.advertisingEdit tr td input.advertisingEditSave {float:right;margin-left:5px;}



table.advertisingDetailEdit tr th.date {width:110px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.explanation1 {width:730px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.click {width:100px;text-align:center;border-left:1px solid #BD1C1C;border-right:1px solid #BD1C1C;}

table.advertisingDetailEdit tr.reportColor {border-bottom:1px solid #666;background:#f5f5f5;cursor:pointer;}
table.advertisingDetailEdit tr.reportColor1 {border-bottom:1px solid #666;background:#eaeaea;cursor:pointer;}
table.advertisingDetailEdit tr.reportColor1 td {*background:#eaeaea;*cursor:pointer;}

table.advertisingDetailEdit tr.reportColor:hover {background:#FFD7D7;}
table.advertisingDetailEdit tr.reportColor1:hover {background:#FFD7D7;}

table.advertisingDetailEdit tr td.date1 {width:110px;text-align:center;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.explanation2  {width:730px;text-align:left;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.click1  {width:100px;text-align:center;border-left:1px solid #666;border-right:1px solid #666;}


table.advertisingDetailEdit tr th.date4 {width:110px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.click2 {width:100px;text-align:center;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.productName {width:430px;text-align:left;border-left:1px solid #BD1C1C;}
table.advertisingDetailEdit tr th.productIMG {width:300px;text-align:left;border-left:1px solid #BD1C1C;border-right:1px solid #BD1C1C;}

table.advertisingDetailEdit tr.reportColor2 {border-bottom:1px solid #666;background:#f5f5f5;cursor:pointer;}
table.advertisingDetailEdit tr.reportColor3 {border-bottom:1px solid #666;background:#eaeaea;cursor:pointer;}
table.advertisingDetailEdit tr.reportColor3 td {*background:#eaeaea;*cursor:pointer;}

table.advertisingDetailEdit tr.reportColor2:hover {background:#FFD7D7;}
table.advertisingDetailEdit tr.reportColor3:hover {background:#FFD7D7;*background:#FFD7D7;}


table.advertisingDetailEdit tr td.date4 {width:110px;text-align:center;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.click2 {width:100px;text-align:center;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.productName {width:430px;text-align:left;border-left:1px solid #666;}
table.advertisingDetailEdit tr td.productIMG {width:250px;text-align:left;border-left:1px solid #666;border-right:1px solid #666;}

table.advertisingDetailEdit tr td.productName input, table.advertisingDetailEdit tr td.productIMG input {width:365px;border:1px solid #9c9c9c;height:20px;line-height:20px;font-size:11px;background:#fff;}