﻿@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Trebuchet MS;
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 200px;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float:left;
  margin-top:10px;
  margin-left:15px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  background: #fff;
 
 background: -moz-linear-gradient(center top , #FFF 0%, #EDEDED 100%) repeat scroll 0% 0% transparent;
  
  border-top:1px solid #000;
  border-left:1px solid #000;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  
  border: none;
  border-top: 0px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #ededed;
  background: -moz-linear-gradient(#ededed 0%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #fff));
  background: -webkit-linear-gradient(#ededed 0%, #fff 100%);
  background: linear-gradient(#ededed 0%, #fff 100%);
}
#cssmenu > ul > li {
/*
      background: rgba(248, 145, 27, 1);
  background: -moz-linear-gradient(#EF8200 0%, #ff4d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF8200), color-stop(100%, #ff4d00));
  background: -webkit-linear-gradient(#EF8200 0%, #ff4d00 100%);
  background: linear-gradient(#EF8200 0%, #ff4d00 100%);
*/
background-color:rgba(248, 145, 27, 1);
}
#cssmenu > ul > li:hover {
/*  background: #00A166;
  background: -moz-linear-gradient(#00A166 0%, #00A166 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00A166), color-stop(100%, #00A166));
  background: -webkit-linear-gradient(#00A166 0%, #00A166 100%);
  background: linear-gradient(#00A166 0%, #00A166 100%);*/
  background-color:rgba(0, 150, 94, 1);
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
 
  color: #ffffff;
  border: 1px solid #00A166;
  border-top: none;
 
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: '»';
  position: absolute;
  left: 10px;
  color: #EF8200;
}
#cssmenu ul ul a:hover {
  color: #EF8200;
}
